@import url("conheca_redecard.css");

.flashTop {
	display: none;
}

.srch-advancedtable {
	display: none;
}

p.txtBusca {
	color: #575757;
	font-size: 12px;
	width: 700px;
}

fieldset.divBusca {
	border: solid 2px #eff1f7;
	padding: 0;
	margin: 0;
	width: 700px;
}

fieldset.divBusca label {
	color: #575757;
	float: left;
	color: #575757;
}

fieldset.divBusca label input {
	border: solid 2px #b6bac2;
}

fieldset.divBusca label input.inpPalavra {
	width: 340px;
	margin: 2px 0 0 0;
}

fieldset.divBusca label input.inpData {
	width: 125px;
	margin: 2px 0 0 0;
}

fieldset.divBusca label.lblPalavra {
	background-color: #edeff6;
	padding: 15px 20px;
	width: 660px;
	font-weight: bold;
}

fieldset.divBusca label.lblData {
	background-color: #fcfcfd;
	padding: 15px 20px;
	width: 660px;
}

fieldset.divBusca .lblFiltro {
	background-color: #edeff6;
	padding: 15px 20px;
	width: 660px;
	float: left;
	color: #575757;
	font-size: 11px;
}

fieldset.divBusca label.lblVisual {
	background-color: #fcfcfd;
	padding: 15px 20px;
	width: 660px;
}

fieldset.divBusca label.lblData img {
	vertical-align: middle;
	margin: -3px 0 0 0;
}

fieldset.divBusca .lblBotao {
	background-color: #edeff6;
	padding: 15px 20px;
	width: 660px;
}

fieldset.divBusca .lblBotao .btnBusca {
	margin: 0 300px 0 0;
}

ul.info {
	float: left;
	width: 660px;
	padding: 0;
	margin: 0;
	font-size: 11px;
}

ul.info li {
	width: 160px;
	float: left;
	list-style: none;
	margin: 5px 0 0 0;
}

ul.info li input {
	border: none;
}

ul.info li.maior {
	width: 175px;
}