/*
Projeto: Rede.Eadquirencia;
Descrição: CSS do formulário "Cadastrar Dba", do modulo de eadquirencia;
Autor/Empresa: Thiago Corda/Iteris;
Cliente: Rede;
©Copyright: 2016 Iteris;
Notas: Anotações, atualizações e perigos;
*/

.form-content {
	color: #A4A4AA;
	border: solid 1px #DCDCDC;
	font-weight: bold;
}

    .form-content .titulo {
        font-weight: bold;
        background-color: #DCDCDC;
        font-style: normal;
        font-size: 15px;
        text-align: center;
        padding: 5px 0 0 0 !important;
        color: black;
		height:20px !important;
    }

    .form-content .conteudo {
        /*padding-top: 5px;*/
        background-color: #DCDCDC;
    }

        .form-content .conteudo p {
            text-align: left;
            font-weight: normal;
            font-style: normal;
            padding-left: 7%;
            padding-top: 10px;
            font-weight: bold;
            background-color: #E5E5E5;
        }

        .form-content .conteudo .linha {
            clear: both;
            height: 25px;
            padding-top: 10px;
        }

        .form-content .conteudo .linhaLarge {
        }

        .form-content .conteudo .linha:nth-child(even) {
            background-color: #E5E5E5;
        }

        .form-content .conteudo .linha:nth-child(odd) {
            background-color: #F7F7F7;
        }

        .form-content .conteudo .linha .col-center {
            margin-left: 30% !important;
        }

        .form-content .conteudo .linha .col-right {
            margin-right: 30%;
        }

        .form-content .conteudo .linha .col-label {
            margin-left: 10px;
            text-align: right;
            width: 150px;
            float: left;
        }

        .form-content .conteudo .linha .col-input {
            margin-left: 20px;
            text-align: left;
            width: 250px;
            float: left;
            color: black;
            font-weight: normal;
        }

        .form-content .conteudo .linha .col-input-large {
            margin-left: 20px;
            text-align: center;
            color: black;
        }
	.form-content .painel
	{
		height:350px !important;
		background-color: #E5E5E5 !important;
	}


.fundoFormulario {
    background-color: #DCDCDC !important;
}

.imageFatura { 
   position: relative; 
   width: 100%;
}

	.imageFatura img{ 
	   margin-top:1% !important;
	   width: 45%; 
	   height:45%;
	}

	.imageFatura h2 { 
	   position: absolute; 
	   top: 72%; 
	   left: 9%; 
	   width: 100%; 
	   font-size:12px;
	   color:black;
	}

.upper
{
	text-transform: uppercase;
}

.col-center
{
	margin-left: 15% !important;
}

.paragrafo
{
	margin-left:5% !important;
}

.alturaMedia
{
	Height: 30px;
	margin-top:40px !important;
}

.alturaGrande
{
	Height: 100%;
	margin-top:10px !important;
}

.subTitulo
{
	color: #003399;
	font-weight: bold;
}

input[type=text].nomeDBA {
	border: 1px solid #003399 !important;
	color:#a1a5ab;
}

input[type=text].nomeDBA::-ms-clear{
  display: none;
  }
  
 .textoContador
{
	font-weight: normal;
	color:#a1a5ab;
}

.contador
{
	color:blue;
}
