/*
Projeto: Novo Acesso - Dados Cadastrais;
Descrição: CSS para definição do campo de toggle para exibir/ocultar os caracteres do campo de senha;
Autor/Empresa: Rede;
Cliente: Canais;
©Copyright: 2016 Rede;
Notas: ;
*/


input[type="checkbox"].toggle {
    display: none;
}

    input[type="checkbox"].toggle + label {
        display: block;
        position: relative;
        /* text-indent: -5000px; */
        height: 15px;
        width: 33px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        border-radius: 15px;
        background-color: #b9b8b8;
        cursor: pointer;
    }

        input[type="checkbox"].toggle + label:before {
            content: "";
            position: absolute;
            display: block;
            height: 15px;
            width: 15px;
            top: 0;
            left: 0;
            -moz-border-radius: 15px;
            -webkit-border-radius: 15px;
            border-radius: 15px;
            background: #ff7800;
            -moz-transition: 0.25s ease-in-out;
            -webkit-transition: 0.25s ease-in-out;
            -o-transition: 0.25s ease-in-out;
            transition: 0.25s ease-in-out;
            cursor: pointer;
        }

        input[type="checkbox"].toggle + label:after {
            content: "";
            position: absolute;
            display: block;
            height: 20px;
            width: 20px;
            top: -4px;
            left: 0px;
            -moz-border-radius: 15px;
            -webkit-border-radius: 15px;
            border-radius: 15px;
            background: #fff;
            -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.3);
            -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.3);
            box-shadow: 0 2px 4px rgba(0,0,0,0.3);
            -moz-transition: 0.25s ease-in-out;
            -webkit-transition: 0.25s ease-in-out;
            -o-transition: 0.25s ease-in-out;
            transition: 0.25s ease-in-out;
            cursor: pointer;
        }

    input[type="checkbox"].toggle:checked + label:before {
        width: 33px;
        height: 15px;
        background: #ff7800;
        cursor: pointer;
    }

    input[type="checkbox"].toggle:checked + label:after {
        left: 14px;
        -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.3);
        -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.3);
        box-shadow: 0 2px 4px rgba(0,0,0,0.3);
        cursor: pointer;
    }

div.checkbox-toggle {
    margin-top: 10px !important;
    vertical-align: middle;
    text-align: right;
}

div.checkbox-toggle-left {
    display: inline-block;
    vertical-align: middle;
    line-height: 25px;
}

div.checkbox-toggle-right {
    display: inline-block;
    vertical-align: middle;
    line-height: 25px;
    margin-left: 10px;
}

.campo-senha-default-length {
    width: 135px;
}