/*
Projeto: Cancelamento de vendas débito
Descrição: Css para o comprovante dos cancelamentos
Autor/Empresa: Alexandre Osada / Iteris
Cliente: Rede
@Copyright: 2014 Iteris
Notas:
*/

#divComprovante
{
    width: 611px;
    font-family: Arial, Verdana, Tahoma;
    position: relative;
}

#divComprovante label
{
    color: #545454;
    font-weight: bold;
}

#divComprovanteHeader
{
    color: white;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    top: 60px;
    left: 205px;
}

#divComprovante img
{
    display: block;
}

#divDadosConsulta
{
    margin: 10px 0;
    float: right;
}

#divComprovante table
{
    clear: both;
    border-collapse: collapse;
    border: 1px solid #a3a3a3;
    width: 100%;
}

#divComprovante table th
{
    background-color: #cccccc;
    color: white;
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
}

#divComprovante table td
{
    padding: 5px;
}

#divContentImpressao table
{
    border-collapse: collapse;
    border: 1px solid #a3a3a3;
    width: 100%;
}

#divContentImpressao table th
{
    background-color: #cccccc;
    color: Black;
    text-align: center;
}

#divDadosConsulta table
{
    border: none;
}

.alttr
{
    background-color: #dddddd;
}

[id$=pnlValidacoes]
{
    color: #ff0000;
}

[id$=pnlValidacoes] ul
{
    list-style: none;
}

.float-left
{
    float: left !important;
}

.w300
{
    width: 300px !important;
}

.w845
{
    width: 845px !important;
}

.w865
{
    width: 865px !important;
}

.alinhaDireita
{
    text-align:right!important;
}

.borderNone
{
    border:none !important;
}