/*
Descrição: Estilos específicos para os elementos do user control de confirmação positiva
Autor/Empresa: Jacques Sá / Iteris
Cliente: Rede
©Copyright: 2016
*/


.notification-rede .input-error {
    color: #4f4139;
    font-family: 'opensans-regular',sans-serif;
    font-size: 12px;
}

    .notification-rede .input-error span {
        display: block;
    }
    

.chkSemNumero {
    display: none;
}

.radio-box span > .ez-radio:first-child, 
.radio-box div > .ez-radio:first-child {
    margin-left: 0;
}

.bank-domain-row .edit-item-container.col-sm-3 .input-error,
.bank-domain-row .edit-item-container.col-sm-4 .input-error,
.bank-domain-row .edit-item-container.col-sm-5 .input-error {
	height: 38px;
}

.border-top-grey {
    border-top: 1px solid #ddd;
    padding-top: 32px;
}