.resumoCampanha
{
    width: 188px;
    height: 40px !important;
}

.credenciamentoTitle
{
    font-weight: bold !important; 
    color: #085092 !important; 
    font-size: 12px !important;
}

.marginLeft10
{
    margin-left: 10px !important;
}

.divProdutosVan
{
    width: 680px !important;
    margin-bottom: 20px !important; 
    margin-left: 20px !important;
}

.lightBorder
{
    border-color: #a3a3a3 !important;
}