*
{
    margin: 0px;
    padding: 0px;
}

html
{
    overflow:auto;
    min-width:975px;
}

body
{
    font-family: Arial;
    color: #545454;
    font-size: 12px;
}

body.v4master
{
 _overflow:auto!important; /* IE6 */  
}

#container
{
    width: 100%;
    margin: 0 auto;
    text-align: left;
}
/* Fonte family padrão */
.ms-WPBody
{
    font-family:Arial, verdana;
    font-size:12px;
}

.ms-WPBody td
{
    font-family:Arial, verdana;
}

/* Combo de Seleção Customizado */
select 
{
    border: 1px solid #183c8e !important;
/*border: 1px solid #944100 !important;*/
    font-family: Arial;
    font-size: 12px;
    color: #000000;
    background-color: #ffffff;
    margin-left:5px !important;    
}

/* Classes e Estilos aplicados ao Header (Cabeçalho) */
#header
{
    width: 100%;
    height: 84px;
    /*background-image: url('/_layouts/Redecard.Comum/IMAGES/bg_header.jpg');*/
    background-image: url('/_layouts/MobileRede/imagens/bg_header.jpg');
    background-repeat: repeat-x;
}

#header .header-content{
	width: 975px;
    height: 84px;
    margin-left:auto;
    margin-right:auto;
}


#menuSuperior
{
    text-align: right;
    /*padding-bottom: 12px;*/
    height:27px;
}

#menuSuperior ul li
{
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}

#menuSuperior ul li a, #menuSuperior ul li a:visited
{
    font-family: Arial;
    font-weight: bold;
    text-decoration: underline;
    color: #183C8E;
    font-size: 10px;
}

#header #logo
{
    float: left;
    padding-left: 23px;
    padding-top: 10px;
}

#header #titulo
{
    float: left;
    line-height: 25px;
    font-size: 18px;
    font-weight: bold;
    color: #183C8E;
    font-family: Arial;
    border-left: 2px solid #183C8E;
    margin: 10px 10px;
    padding-left: 10px;
}

#header #login-info
{
    float: right;
    margin-top: 10px;
}

#header #login-info table.identificacao
{
    font-family: Arial;
    font-weight: bold;
    font-size: 11px;
    color: #616161;
    margin-right: 20px;
}

#header #login-info table.identificacao td
{
    padding-right: 5px;
    padding-left: 5px;
}

#header #login-info table.identificacao strong
{
    font-family: Arial;
    font-weight: bold;
    font-size: 11px;
    color: #183C8E;
}

#header #sair
{
    float: right;
    width: 26px;
    height: 26px;
    background-image: url('/_layouts/Redecard.Comum/IMAGES/Botao_sair.png');
    background-repeat: no-repeat;
    margin-top: 8px;
    margin-right: 20px;
    padding-top: 26px;
    padding-left: 2px;
}

#header #sair p
{
    font-family: Myriad Pro, Arial;
    font-size: 12px;
    color: #085092;
    text-decoration: none;
}

/* Menu de Navegação */
#menu {
	width: 100%;
	background-image: url('/_layouts/Redecard.Comum/IMAGES/bg_menu.jpg');
	background-repeat:repeat-x;
    background-color: #EFF1F7;
}

#menu .menu-content{
	width:975px;
	margin-left:auto;
	margin-right:auto;
}

#menu a
{
    cursor:pointer !important;
}

#menu ul.sf-menu
{
    width: 100%;
    height: 41px;
    background-image: url('/_layouts/Redecard.Comum/IMAGES/bg_menu.jpg');
    display: block;
    list-style: none;
}

#menu ul.sf-menu li
{
    float: left;
    height:26px;
    text-align: center;
    width: 19%;
    border-left: 1px solid #3E5095;
    padding-top: 8px;
    margin-top:3px;
    background: url('/_layouts/Redecard.Comum/IMAGES/separador_menu.png') no-repeat left top;
}

#menu ul.sf-menu li.first
{
    border:none!important;
}

#menu ul.sf-menu li a, #menu ul.sf-menu li a:visited
{
    font-family: Arial;
    color: #FFFFFF;
    font-size: 14px;
    text-transform: capitalize;
    cursor: pointer;
}

#menu ul.sf-menu li a.selected, #menu ul.sf-menu li a.selected:visited
{
    border-bottom: 4px solid #FFCB00;
}

#menu table.submenu
{
    width: 100%;
    display: table;
    list-style: none;
    height: 45px;
    background-color: #EFF1F7;
    /*border-bottom: 1px solid #F5F5F5;*/
}

#menu table.submenu tr td
{
    width: auto;
    text-align: center;
    vertical-align: middle;
}

#menu table.submenu tr td a, #menu table.submenu tr td a:visited
{
    font-family: Arial;
    font-size: 12px;
    color: #616161;
    text-decoration: underline;
}

#menu table.submenu tr td a.subselected, #menu table.submenu tr td a.subselected:visited
{
	font-weight: bold;
	color: #183c8e;
}

/* Breadcrumb */
#breadcrumb *
{
    font-family: Arial;
    color: #545454;
    font-size: 11px;
}

#breadcrumb
{
    padding: 10px;
    width:975px;
    margin-left:auto;
    margin-right:auto;
}


#breadcrumb span img
{
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}


/* Footer */
#footer
{
    background-color: #818181;
    /*background-color: #183C8E;*/
    font-family: Arial;
    color: #fff;
    font-size: 11px;
    text-align: left;
    padding: 5px 20px 5px 20px;
    height: 20px;
    margin-top:40px;
}


.ms-rtestate-read P
{
    padding-top: 3px;
    vertical-align: middle;
}

/* Conteúdo da Página */
#pageContent{
	width:975px;
	margin-left:auto;
	margin-right:auto;
}


#pageContent #pageContentCentraliza div.internal h2
{
   margin-bottom:10px;
}


#pageContent #pageContentCentraliza div.internal h2 span
{
    font-family: Arial;
    font-weight: bold;
    color: #085092;
    font-size: 15px;
    margin-bottom: 10px;
    text-transform: none;
    letter-spacing:0px;
}

#pageContent #pageContentCentraliza div.internal p *
{
    font-family: Arial;
    color: #545454;
    font-size: 12px;
    margin-bottom: 10px;
}

/* Boxes */
#pageContent #pageContentCentraliza div.boxes
{
    margin-bottom: 20px;
}

#pageContent #pageContentCentraliza div.boxes div.box
{
    width: 211px;
    height: 131px;
    float: left;
    background-image: url('/_layouts/Redecard.Comum/IMAGES/Caixa_Menu.png');
    background-repeat: no-repeat;
	background-color:#fff;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    table-layout: fixed;
}


#pageContent #pageContentCentraliza div.boxes div.box .box-conteudo
{
    height:80px;
    *height:90px;
}

#pageContent #pageContentCentraliza div.boxes div.box .titulo
{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #085092;
    font-size: 13px;
    margin-top: 13px;
    margin-bottom:5px;
    /*height:30px;*/
    text-transform:none;
}

#pageContent #pageContentCentraliza div.boxes div.box .texto{
font-family:Arial, Helvetica, sans-serif;
font-size: 13px;
color:#545454;
padding-left:5px;
padding-right:5px;
/*height:50px;*/
}


#pageContent #pageContentCentraliza div.boxes div.box .texto1{
font-family:Arial, Helvetica, sans-serif;
font-size: 13px;
color:#545454;
padding-top:10px;
padding-left:5px;
padding-right:5px;
height:40px;
}

#pageContent #pageContentCentraliza div.boxes div.box p
{
    height: 50px;
}

#pageContent #pageContentCentraliza div.boxes div.box span *
{
    font-family: Arial;
    color: #545454;
    font-size: 12px;
}

#pageContent #pageContentCentraliza div.boxes div.box .box-botao a
{
    font-family: "Gill Sans MT";
    color: #085092;
    font-size: 14px;
    *font-size: 12px;
    font-size: 12px/0;
    width: 70px;
    height: 20px;
    text-align:center;
    *margin-right:10px;
    display:block;
    /*background-image: url('/_layouts/Redecard.Comum/IMAGES/Bkg_BotaoExemplo.png');
    background-repeat: no-repeat;
    margin-top: 10px;
    display: inline-block;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 2px;*/
    line-height: 20px;
}

#pageContent #pageContentCentraliza div.boxes div.box .box-botao a:visited
{
    color: #085092!important;
}

#pageContent #pageContentCentraliza div.boxes div.box-botao
{
    width: 84px;
    height: 20px;
    background-image: url('/_layouts/Redecard.Comum/IMAGES/Bkg_BotaoExemplo.png');
    background-repeat: no-repeat;
    margin-top: 10px;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
/* Padrões de Tabela do Portal e Quadro de Atalhos e Paginação */

#pageContentCentraliza table, #pageContentCentraliza table *
{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

#pageContentCentraliza table thead
{
	text-align: center;
	/*min-height: 30px;*/
	padding: 5px;
	background-color:#CCCCCC;
	color:#000!important;
	font-size:12px;
	font-weight:normal;
}

#pageContentCentraliza .tabelaDados
{
	border:1px solid #818181;
	width:100%;
	border-collapse:collapse;
	margin-top: 20px!important;
	margin-bottom: 4px;

}

#pageContentCentraliza .tabelaDados th
{
	text-align: center;
	min-height: 30px;
	padding:5px;
	background-color:#CCCCCC;
	color:#000;
	font-size:12px;
	font-weight:normal;
}


#pageContentCentraliza .tabelaDados img
{
    vertical-align:middle;
    margin-top:0!important;
    padding-left:4px;
}

#pageContentCentraliza .tabelaDados .marginLeft
{
    margin-left:10px;
}

#pageContentCentraliza .tabelaDados .footerTable, .footerTable td
{
    background-color:#CCCCCC;
	color:#000!important;
	font-size:12px;
	font-weight:normal!important;
}

#pageContentCentraliza .tabelaDados .footerTable1, .footerTable1 td
{
    background-color:#cbcbcb;
	color:#000!important;
	font-size:12px;
	font-weight:normal!important;
}

#pageContentCentraliza table.dados thead tr, table.dados thead tr td,
#pageContentCentraliza table.dados tbody tr th
{
	text-align: center;
	min-height: 30px;
	padding: 5px;
	background-color: #CCCCCC;
	color: #000!important;
	font-size: 12px;
	font-weight: normal;
}

/*#pageContentCentraliza table.degrade thead tr, table.degrade thead tr td,
#pageContentCentraliza table.degrade tbody tr th
{
	background-image: url("/_layouts/Redecard.Comum/IMAGES/bkg_box.png");
    background-repeat:repeat-x;
    background-color: #e4e4e4;
    height: 20px!important;
}*/


 
#pageContentCentraliza table.dados tr td, table.dados tr.alttr td {
text-align: center;
height: 30px;
color:#818181;
font-size:12px;
padding-left:5px;
padding-right:5px;
}

#pageContentCentraliza table.dados tr td a
{
    color: #0072bc !important;    
}

#pageContentCentraliza .dados img
{
    vertical-align:middle;
    margin-top:0!important;
    padding-left:4px;
}

#pageContentCentraliza table.dados tr.alttr 
{
    background: #DDDDDD;
}

#pageContentCentraliza table.dados tbody tr.alttr:hover
{
    background: #DDDDDD!important;
}


#pageContentCentraliza table.tableContainer, #pageContentCentraliza table.tableContainer tr
{
    width: 100%;
}


#pageContentCentraliza table.tableContainer
{
    width:100%;    
    font-family: Arial, Verdana, Tahoma;
    font-size: 12px;
    color: #404040;
    table-layout: auto;
}

#pageContentCentraliza table.tableContainer table.painel
{
    width: 99%;
    font-family: Arial, Verdana, Tahoma;
    font-size: 12px;
    color: #545454;
    table-layout: auto;
}

#pageContentCentraliza table.tableContainer table.painel tr td
{
    padding: 5px;
}

#pageContentCentraliza table.tableContainer table.painel thead tr th
{
    background-image: url("/_layouts/Redecard.Comum/IMAGES/bkg_box.png");
    background-color: #CCCCCC !important;
    font-family: Arial;
    font-weight: bold;
    color: #085092;
    text-align: left;
    text-transform: none;
    height: 20px;
    line-height: 20px;
    padding-left: 5px;
}

#pageContentCentraliza table.tableContainer #QuadroAtalho div.cabecalho,
#pageContentCentraliza table.tableContainer #QuadroAtalhoHome div.cabecalho,
#pageContentCentraliza table.tableContainer #QuadroAcao div.cabecalho
{
    background-image: url("/_layouts/Redecard.Comum/IMAGES/bkg_box.png");
    background-color: #CCCCCC !important;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    color: #085092;
    text-align: left;    
    height: 20px;
    line-height: 20px;
    padding-left: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #a9a9a9;    
}

#pageContentCentraliza table.tableContainer table.painel, #pageContentCentraliza table.tableContainer table.painel th,
#pageContentCentraliza table.tableContainer #QuadroAtalho,
#pageContentCentraliza table.tableContainer #QuadroAtalhoHome,
#pageContentCentraliza table.tableContainer #QuadroAcao
{
    border-style: solid;
    border-collapse: collapse;
    border-width: 1px;
    border-color: #a9a9a9;
}

#pageContentCentraliza table.tableContainer #QuadroAtalho
{
    margin-bottom: 12px;
    *margin-bottom: 40px;
    min-height:110px;
}

#pageContentCentraliza table.tableContainer #QuadroAtalhoHome
{
    margin-top:22px;
    *margin-top:36px;
}

#pageContentCentraliza table.tableContainer #QuadroAcao
{
    margin-bottom: 12px;
    *margin-bottom: 40px;
}

#pageContentCentraliza table.tableContainer #QuadroAtalho ul.atalhos,
#pageContentCentraliza table.tableContainer #QuadroAtalhoHome ul.atalhos,
#pageContentCentraliza table.tableContainer #QuadroAcao ul.acao
{
    list-style: none;
    padding: 5px;
    white-space: nowrap;        
}

#pageContentCentraliza table.tableContainer #QuadroAtalho ul.atalhos li,
#pageContentCentraliza table.tableContainer #QuadroAtalhoHome ul.atalhos li,
#pageContentCentraliza table.tableContainer #QuadroAcao ul.acao li
{
    line-height: 20px;
    min-height:20px; /*TESTAR!!! AAL*/
}

#pageContentCentraliza table.tableContainer #QuadroAtalho ul.atalhos li img,
#pageContentCentraliza table.tableContainer #QuadroAtalhoHome ul.atalhos li img,
#pageContentCentraliza table.tableContainer #QuadroAcao ul.acao li img
{
    vertical-align: middle;
}

#pageContentCentraliza table.dados
{
    font-family: Arial, Verdana, Tahoma !important;
    font-size: 12px !important;
}

#pageContentCentraliza div.tableSeparador table.dados
{
    font-family: Arial, Verdana, Tahoma !important;
    font-size: 12px !important;
}

#pageContentCentraliza div.tableSeparador table.dados thead tr th
{
    background-color: #CCCCCC;
    font-weight: normal;
    text-align: center;
    height:30px;
}
/* Classe para colocar borda direita nas tds*/
#pageContentCentraliza div.tableSeparador table.dados tbody tr td
{
    border-right: 1px solid #EEEEEE;
    padding: 2.5px 2.5px 2.5px 2.5px;
}


#pageContentCentraliza table.tableContainer table.dados
{
    margin-top: 10px;
    border-style: solid;
    border-collapse: collapse;
    border-width: 1px;
    border-color: #A3A3A3;
}

#pageContentCentraliza table.tableContainer table.dados thead tr th
{
    background-color: #CCCCCC;
    font-weight: normal;
    text-align: center;
    height:30px;
}

#pageContentCentraliza table.tableContainer table.dados tbody tr td
{
    border-right: 1px solid #EEEEEE;
    padding: 2.5px 2.5px 2.5px 2.5px;
}

#pageContentCentraliza table.tableContainer table.dados tbody *
{
    font-family: Arial;
    
    color: #545454;
    font-size: 12px;
}

#pageContentCentraliza table.tableContainer table.dados thead *
{
    color: #000;
}

#pageContentCentraliza table.tableContainer table.dados tbody tr.alttr td
{
    background-color: #DDDDDD;
}

#pageContentCentraliza table.tableContainer table.dados thead tr th.last,
#pageContentCentraliza table.tableContainer table.dados tbody tr td.last
{
    border-right: none;
}

#pageContentCentraliza table.tableContainer table.dados thead tr th.optional,
#pageContentCentraliza table.tableContainer table.dados tbody tr td.optional
{
    border-left: 1px solid #EEEEEE;
}

#pageContentCentraliza table.tableContainer table.dados thead tr th.right,
#pageContentCentraliza table.tableContainer table.dados tbody tr td.right
{
    text-align: right;
}

#pageContentCentraliza table.tableContainer table.dados thead tr th.left,
#pageContentCentraliza table.tableContainer table.dados tbody tr td.left
{
    text-align: left;
}

#pageContentCentraliza table.tableContainer table.dados thead tr th.center,
#pageContentCentraliza table.tableContainer table.dados tbody tr td.center
{
    text-align: center;
}

#pageContentCentraliza table.tableContainer table.dados thead tr th.justify,
#pageContentCentraliza table.tableContainer table.dados tbody tr td.justify
{
    text-align: justify;
}

#pageContentCentraliza table.tableContainer table.dados thead tr:hover
{
    background-color: #CCCCCC;
}

#pageContentCentraliza table.tableContainer table.paginacao
{
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

#pageContentCentraliza table.tableContainer table.paginacao tr td
{
    padding-left: 5px;
    padding-right: 5px;
}

#pageContentCentraliza .celulaRepeaterLabel
{
	text-align:left!important;
}

#pageContentCentraliza .alinhaTotais{
	float:right!important;
}

#pageContentCentraliza .alinhaDireita{
	text-align:right!important;
}

#pageContentCentraliza .alinhaEsquerda{
	text-align:left!important;
}

#pageContentCentraliza .alinhaCentro{
	text-align:center!important;
}

#pageContentCentraliza .alinhaCentro input[type="radio"]
{
    margin-left:10px!important;
}

#pageContentCentraliza .bold{
	font-weight:bold!important;
}

#pageContentCentraliza .ttlColuna
{
    background-color:#CCCCCC!important;
    color:#000!important;
    font-size:12px;
}

#pageContentCentraliza .alinhaDireitaLabel{
	text-align:right !important;
	font-weight:bold !important;
}

#pageContentCentraliza .alinhaDireitaForm {
    text-align:right !important;
    white-space: nowrap;
}

#pageContentCentraliza .alinhaEsquerdaForm {
    text-align:left !important;
    white-space: nowrap;
}

#pageContentCentraliza .alinhaCentroForm {
    text-align:center !important;
    white-space: nowrap;
}

#pageContentCentraliza .alinhaEsquerda .RadioButton{
	margin-right:10px!important;
}

#pageContentCentraliza .tabelaseparador{
	border-right: 1px solid #EEEEEE;
}

#pageContentCentraliza .tabelaseparadorlast, .last{
	border-right: none!important;
}

#pageContentCentraliza .expande img{
	float:left;
	border:0px;
	margin-top:-3px;
}

#pageContentCentraliza .alinhaBotao 
{
    padding: 8px;
}

#pageContentCentraliza .bgLinha
{
    background-color:#CBCBCB;
}

/* radio buttons */
input[type="radio"]
{
    margin-right: 4px !important;
    *margin-right: 0px !important;
}

/* File Upload */
#pageContentCentraliza .fileUpload         
{    
    float: left;
    background: #FFFFFF;
    border: solid 1px #183c8e;
    font-family: Arial;
    height: 21px;
    font-size: 12px;
    color: #000000;
    padding: 3px 5px;
    margin: 0 8px 0 0px;
}

/* somente Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0){
    #pageContentCentraliza .fileUpload{border:0;background-color:#F4F4F4;}
}

/* Campos FORM*/
#pageContentCentraliza .caixaTexto{
    /*float: left;*/
    float:none!important;
    background: #ffffff;
    border: solid 1px #183c8e!important;
    height: 14px;
    font-size: 12px;
    color: #183C8E;
    padding: 3px 5px;
    margin: 0 0px 0 5px;
}

#pageContentCentraliza .campoValor
{
    text-align:right;
    width:80px;
}

#pageContentCentraliza .tabelaDados input[type="radio"]
{
    margin-right: 4px!important;
}

/* Safari e Chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) {
 #pageContentCentraliza .tabelaDados input[type="radio"] { margin-bottom:3px;}
}

textarea
{
    height:200px;
    margin-bottom:10px!important;
    font:12px Arial!important;
    color: #183C8E;
    float: left;
    background: #ffffff;
    border: solid 1px #183c8e;
}


/* Tooltip */

.tooltip
{    
    position: absolute;
    left: 500px;
    bottom: 200px;
    border-style: solid;
    border-collapse: collapse;
    border-width: 1px;
    border-color: #808080;
    padding: 10px !important;
    width: 120px;
    min-height: 30px;
    min-width: 120px;
}

table.tooltip thead tr td
{
    background-color: #183c8e;
}

.tituloTooltip label
{
    background-color: #183c8e;
    font-weight: bold;
    color: #000;
    padding: 5px;
    vertical-align: middle;
    text-align: left;
    border-bottom: 0;
}

.tituloTooltip td
{
    background-color: #183c8e;
    font-weight: bold;
    color: #000;
    padding: 5px;
    vertical-align: middle;
    text-align: left;
    border-bottom: 0;
    height: 80px;
}

.mensagemTooltip
{
    background-color: #FFFFFF;
    font-family: Arial;
    font-size: 12px !important;
    color: #404040;
    padding: 10px !important;
}

.mensagemTooltip label
{
    background-color: #FFFFFF;
    font-family: Arial;
    font-size: 12px !important;
    color: #404040;
    padding: 0px 10px 10px 10px !important;
    vertical-align: baseline;
}

.closeModal
{
    padding: 5px;
    vertical-align: middle;
    text-align: right;
    width: 5%;
    height: 15px;
    top: 4px;
    right: 4px;
    cursor: pointer;
}

/* Datepicker */
img.ui-datepicker-trigger 
{
    margin-top: 3px !important;
    padding-left:4px!important;
}

/*Box de Avisos*/
#geral
{ 
	margin:auto;
	width:100%;
}

.box-aviso
{
	width:563px;
	/*margin-left:auto;
	margin-right:auto;*/
	margin-top:10px;
}

.box-aviso .borda-top
{
	background:url('/_layouts/Redecard.Comum/IMAGES/borda_top.jpg') no-repeat;
	width:563px;
	height:7px;
}

.box-aviso .borda-bottom
{
	clear:both;	
	background:url('/_layouts/Redecard.Comum/IMAGES/borda_bottom.jpg') no-repeat;
	width:563px;
	height:7px;
}

.box-aviso .conteudo
{
	width:561px;
	background-color:#f7f8f8;
	border-left:1px solid #9c9aa0 !important;
	border-right:1px solid #9c9aa0 !important;
	color:#818181;
	font:12px Arial, Helvetica, sans-serif;
	min-height:82px;
	display:table;
}

.box-confirmacao
{
	width:561px !important;
}

.box-aviso .conteudo .icone-aviso
{
	float:left;
	width:59px;
	height:57px;
	margin-top:14px !important;
	margin-left:8px !important;
	background:url('/_layouts/Redecard.Comum/IMAGES/icon_yellow.gif') no-repeat;
	display:block;
}

.box-aviso .conteudo .confirmacao
{
	display:none;
}

.box-aviso .conteudo .icone-green
{
	float:left;
	width:59px;
	height:57px;
	margin-top:14px !important;
	margin-left:8px !important;
	background:url('/_layouts/Redecard.Comum/IMAGES/icon_green.gif') no-repeat;
	display:block;
}

.box-aviso .conteudo .icone-red
{
	float:left;
	width:59px;
	height:57px;
	margin-top:14px !important;
	margin-left:8px !important;
	background:url('/_layouts/Redecard.Comum/IMAGES/icon_red.gif') no-repeat;
	display:block;
}

.box-aviso .conteudo .box-texto
{
	float:right;
	margin:16px 22px 22px 22px!important;
	width: 445px;
	text-align: left;
}

.box-aviso .conteudo .box-texto h2
{
	font:bold 12px Arial;
	margin-top:3px;
	color:#000;
	letter-spacing:0px;
	text-transform:none;
}

.box-aviso .conteudo .box-texto h1
{
	font:bold 18px Arial, Helvetica, sans-serif;
	color:#000;
	margin-top:0px;
	margin-bottom:20px;
}

.btns
{
	width:563px;
	height:19px;
	*height:21px;
	margin-left:22px;
	margin-top:10px;
	text-align:right;
}


/*  Cadastro de usuários    */

#trv
{
    width: 500px;
    text-align: left;
    padding: 15px;
    border: solid 1px #A5ABB9;
}
    
#trv input{
    margin-right:4px;
}
    
#trv table *
{
    padding: 0px;
}
    
    #AvisoSenhaAlteraca, #AvisoSenha
{
    position: absolute;
    top: 0px; 
    left: 0px; 
    width: 163px;
    height: 135px; 
    display: none;
    z-index: 22;
}
    
/* Dados Gerais  */
table.tabelaSocios tr td
{
    width:auto !important;
        
}
    
.divTexto
{
    line-height: 20px;
}
    
 /* texto campos obrigatórios  */
#pageContentCentraliza .linhaObrigatorios{
	width:975px;
}

#pageContentCentraliza .linhaObrigatorios .camposObrigatorios{
	float:left;
}

#pageContentCentraliza .linhaObrigatorios .btnObrigatorios{
	float:right;
}


/*  Solicitações */
.spnData table tr td
{
    padding: 0px;
    margin: 0px;
}
.dtPicker, .jdtPicker
{
    width: 70px !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
 .dtPicker, .jdtPicker { width: 74px !important;} /* Safari e Chrome */
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
 .ui-datepicker-prev, .ui-datepicker-next { width: 26px !important;} /* Ajuste no calendário para Safari MAC*/
}


/* Página de Impressão */
.impressao 
{
    margin: 15px 10px 15px 15px;
    width: 99%;
}

.impressao table.painel td
{
    font-size: 8pt; 
    font-family: verdana, arial, helvetica, sans-serif;
    padding-bottom: 0px;
}

.impressao .titulo
{
    padding-right: 15px;
    color: #183c8e;
    text-transform:uppercase;
    font-family: Arial;
    font-size: 18px;
    font-weight:bold;
    text-align: right;
}

.impressao .data
{
    padding-right: 15px;
    color: #183c8e;    
    font-family: Arial;
    font-size: 8pt;
    font-weight:bold;
    text-align: right;
}

.impressao table.separador
{
    width: 99%;    
}

.impressao table.separador td
{
    line-height: 5px;
    background-color: #183c8e;    
}

.impressao table.separador td.yellow
{
    background-color: #ffff00; 
}


/* Light Box */

div.modal {
	width: 470px;	
	background-color: #ffffff;		  
	position:absolute;
	left: 50%;
	top: 30%;
	margin-left: -235px !important;	
	padding: 14px !important;
	display:table;
}

div.modal fieldset {
	border: 0 !important;
}

div.modal .titModal span {
	font-family: arial;
	font-weight: normal;
	color: #000000;
	font-size: 14px;
	text-align: left;		
}

div.modal .formIndique * {
	font-family: arial;
	font-weight: normal;
	color: #545454;
	font-size: 12px;
	text-align: left;
}

div.modal .boxDados {
	background-color: #F4F4F4;
	width: 442px;	
	margin-top: 14px !important;
	padding: 14px !important;
	display:table;
}

div.modal .closeModal {
    background: url("/_layouts/Redecard.Comum/IMAGES/btn_fechar.gif") no-repeat;    
    position: absolute;
    margin-top: 14px !important;    
    outline: 0;
}

#bgProtecao {	
	background-color:#cccccc;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
	webkit-opacity: 0.5;
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;	
}

img.imagemHelp
{
    cursor: pointer;
    height: 15px;
    width: 15px;
    vertical-align:middle;
}

img.imgEditar
{
    cursor: pointer;
    height:13px;
    width:12px;
}

.mensagemValidacao
{
    text-align: left;
    font: Arial;
    font-size: 12px;
    color: #FF0000;
}

/* fundo degradê */
.degrade td
{
    background-image: url("/_layouts/Redecard.Comum/IMAGES/bkg_box.png");
    background-repeat:repeat-x;
    background-color: #fff!important;
    height: 20px!important;
    width:100%!important;
    line-height:20px!important;
    vertical-align:top;
}

.degrade h5
{
    font-family: Arial;
    font-weight: bold!important;
    font-size:12px;
    color: #183c8e!important;
    display:block;
    margin:0!important;
}   
/* Estrutura RAV */
.colunas
{
    width:975px;
    min-height:350px;   
}


.colunas .RadioButton
{
    margin-right:15px!important;
}

.colunas .RadioButton2
{
    margin-right:5px!important;
}
    
.colunas .colunaEsquerda
{   
    float:left;
    width:313px;
    margin-right:20px!important;   
}
    
.colunas .colunaMeio
{
    float:left;
    width:311px;
    margin-right:20px!important;
}
    
.colunas .colunaDireita
{
    float:left;
    width:311px;
}
    
.colunas .tituloBloco
{
    background-image: url("/_layouts/Redecard.Comum/IMAGES/bkg_box.png");
    background-color: #CCCCCC;
    font-family: Arial;
    font-weight: bold;
    color: #183c8e;
    padding-left: 10px!important;
    height: 20px;
    line-height: 20px;
}
    
.RavTexto
{
    font-size: 24px;
    text-align:center;

}
.RavValor
{
    color:#085092;
    font-weight:bold;
    font-size:14px;
    padding-bottom:8px!important;
}
    
.colunas .colunaEsquerda .data
{
    font-weight:bold;
    font-size:24px;
    padding-top:3px!important;
}
    
.WebPart
{
    margin-bottom:10px!important;
    border:1px solid #818181!important;
    height:406px!important;
}
    
.WebPart .conteudo p
{
    margin-bottom: 10px!important;   
}
    
.WebPart .conteudo
{
    padding:20px 10px 20px 10px!important;   
}

#top3duvidas .conteudo
{
    padding:5px 5px 25px 5px!important;
    border:1px solid #818181!important;
    margin:5px!important;   
}

.WebPart .conteudo h1
{
    font-size:13px;
    font-weight:bold;
    margin-bottom:20px!important;
}

.WebPart .conteudo h2
{
    font-size:13px;
    font-family:Arial;
    font-weight:bold;
    color:#183c8e;
    text-align:center;
    text-transform:none;
    letter-spacing:normal;
    margin-bottom:20px!important;
}

.WebPart2
{
    margin-bottom:10px!important;
    border:1px solid #818181!important;
    height:260px!important;
}
    
.WebPart2 .conteudo p
{
    margin-bottom: 0px!important;   
}
    
.WebPart2 .conteudo
{
    padding:5px!important;
    border:1px solid #818181!important;
    margin:5px!important;   
}

.WebPart3
{
    margin-bottom:10px!important;
    border:1px solid #818181!important;
    min-height:134px!important;
    display:block;
}
    
.WebPart3 .conteudo p
{
    margin-bottom: 10px!important;   
}
    
.WebPart3 .conteudo
{
    padding:5px 3px 5px 3px!important;
    padding:1px\9 3px 5px 3px!important;/* IE8 */
    *padding:0px 3px 0px 3px!important;/* IE7 */
    border:1px solid #818181!important;
    margin:5px!important;
    display:table;
    *display:inline-block;   
}
    
.CadastreEmail
{
    text-align:left;
}

.conteudo .quadroInterno
{
    border:1px solid #818181!important;
    padding:6px!important;
    *padding:6px 0 6px 0!important;
    min-height:200px;
}

.conteudo .quadroInterno table td
{
    font-size:12px;
}
    
/* TOP 3 */
.colunas .colunaDireita .WebPart .conteudo .pergunta 
{
    padding-bottom: 30px!important;
    clear: both;
    display:inline-block;
    *display:inline;
    zoom:1;
}
    
.colunas .colunaDireita .WebPart .conteudo .pergunta .numero 
{
    float: left;
    font-size: 49px!important;
    font-weight: bold;
    color: #FFCB00;
    width: 30px;
}
    
.colunas .colunaDireita .WebPart .conteudo .pergunta .texto 
{
    float:left;
    width:250px;
    margin-top: 8px!important;
    margin-left: 4px!important;
}
    
.colunas .colunaDireita .WebPart .conteudo .pergunta .texto h1 
{
    font-weight:bold;
    font-size:12px;
    margin:0px 0px 10px 0px!important;
    border-bottom:solid 3px #FFCB00!important;
    padding-bottom:5px!important;
}
    
.colunas .conteudo .botoes
{
    /*clear:both; No Chrome quebra o posicionamento dos botões*/
    text-align:center;
    margin-top:10px!important;
    margin-bottom:5px!important;
}

.colunas .WebPart .conteudo .botoes
{
    margin-top:20px!important;
}
    
.colunas .conteudo .botoes .btn_esquerda
{
    float:left;
}
    
.colunas .conteudo .botoes .btn_direita
{
    float:right;
}

.colunas .WebPart .conteudo .botoes .btn_direita
{
    margin-right:4px!important;
}
    
.Clear
{
    clear:both;
    font-size:10px;
    padding-top:5px!important;
    *padding-top:0px!important;
}

.Clear h7
{
    font:11px Arial;
    margin:0px;
    padding:0px;
}

.ms-WPBody
{
    width:100% !important;
}

.ms-WPBody
{
    width:100% !important;
}



/* Fieldsets Extrato  */
.res_box_conteudo .fieldsetTotais {
font-family: Arial;
border: 1px solid #818181!important;
min-height: 110px;
color: #545454;
}

.res_box_conteudo .fieldsetTotais legend {
color: #085092;
font-family: Arial;
font-size: 12px;
font-weight: bold;
padding: 4px 5px 4px 5px!important;
}


.res_box_conteudo div.res_totais {
    font-family: Arial;
    vertical-align: middle;
    display: block;
    *display:inline;
    zoom:1;
    margin-bottom:10px!important;
}

.res_box_conteudo div.res_totais div.res_totais_vertical_top, div.res_totais div.res_totais_vertical_bottom {
    font-family: Arial;
    vertical-align: middle;
    display: block;
    /*height: 31px;*/
}

.res_box_conteudo div.res_totais div.res_totais_vertical_bottom {
    padding: 14px 0px 0px 2px;
}

.res_box_conteudo div.res_totais div.res_totais_vertical_top {
    font-family: Arial;
    border-bottom: solid 1px #EEEEEE!important;
	padding: 3px 0px 7px 0px!important;
	margin-bottom:7px!important;
}

.res_box_conteudo div.res_totais span.res_totais_titulo_direita, div.res_totais span.res_totais_titulo_esquerda {
    display: block;
    font-weight: bold;
    font-family: Arial;
    font-size: 12px; 
    margin: 0px!important;
    padding: 0px!important;
    border: 0px!important;
    line-height: 14px;
}


.res_box_conteudo div.res_totais span.res_totais_titulo_direita {
    font-family: Arial;
    text-align: center;
    padding-right: 8px!important;
	margin-bottom:3px!important;
	*padding-left:10px!important;
}

.res_box_conteudo div.res_totais span.res_totais_titulo_esquerda {
    font-family: Arial;
    text-align: left;
    padding-left: 8px!important;
    white-space:nowrap;
}


.res_box_conteudo div.res_totais span.res_totais_valor {
    font-family: Arial;
    display: block;
    font-weight: normal;
    font-family: Arial;
    font-size: 12px;
    margin: 0px!important;
    padding-right: 8px !important;
    border: 0px;
    text-align: center;
    white-space:nowrap;
}

.res_box_conteudo div.res_totais span.res_totais_valor_right {
    font-family: Arial;
    display: block;
    font-weight: normal;
    font-family: Arial;
    font-size: 12px;
    margin: 0px!important;
    padding-right: 8px !important;
    border: 0px;
    text-align: right;
    white-space:nowrap;
}

.res_box_conteudo tr.trBandeira1, tr.trBandeira2
{
    font-family: Arial;
    height: 38px;
}

.res_box_conteudo tr.trBandeira1 td.tdImgBandeira, tr.trBandeira2 td.tdImgBandeira
{
    font-family: Arial;
    text-align: center;
    vertical-align: middle;
    width: 36px;
    text-align: center;
    padding-left:5px!important;
}

.res_box_conteudo tr.trBandeira1 td.tdImgBandeira, tr.trBandeira1 td.tdDadosBandeira
{
    border-bottom: 1px solid #EEEEEE!important;
}



.res_box_conteudo tr.trBandeira1 td.tdDadosBandeira, tr.trBandeira2 td.tdDadosBandeira 
{
    border-right: 1px solid #EEEEEE!important;    
}

.res_box_conteudo tr.trBandeira1 td.tdImgBandeira img.imgBandeira, tr.trBandeira2 td.tdImgBandeira img.imgBandeira
{
    font-family: Arial;
    width:auto!important;
    height: 30px;
    border: 0px;
}
.res_box_conteudo tr.trBandeira1 td.tdDadosBandeira, tr.trBandeira2 td.tdDadosBandeira
{
    width: 100px;
    vertical-align: middle;
    height: 34px;
}
.res_box_conteudo tr.trBandeira1 td.tdDadosBandeira span, tr.trBandeira2 td.tdDadosBandeira span {
    font-family: Arial;
    font-size: 12px;
    display: block;
    width: 100px;
    text-align: center;
    clear: both;
    padding: 1px 0px 1px 0px!important;
}

div.res_titulo {
    width: 100%;
    clear: both;
    padding: 10px 0px 10px 0px!important;
    font-family: Arial;
    color: #085092;
    font-size: 15px;
    font-weight:bold;
}

input[type="checkbox"]
{
    margin-right:5px!important;
}

/* Safari e Chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) {
 input[type="checkbox"] { margin-bottom:3px!important;}
}

div.boxDados span
{
    visibility:hidden;
}

/* Botões desabilitados Chrome  */
input[type="button"]:disabled, 
input[type="submit"]:disabled, 
input[type="reset"]:disabled, 
input[type="file"]:disabled::-webkit-file-upload-button, 
button:disabled, 
select:disabled, 
keygen:disabled, 
optgroup:disabled, 
option:disabled, 
select[disabled] > option
{
    color:#CCCCCC!important;
}

/*Estilos Home*/
.WebPartHomeRav .conteudo
{
    padding: 10px 10px 20px 10px!important;   
}

.WebPartHomeRav
{
    margin-bottom:10px!important;
    border:1px solid #818181!important;
    height:260px!important;
    margin-top:36px!important;
}

.conteudoBorda
{
    margin:5px !important;
    border:1px solid #818181 !important;
}

#pageContentCentraliza table tbody tr td.tamanho_corpo table.tableContainer table.painel
{
    width: 100%;
}

#pageContentCentraliza table tbody tr td.tamanho_corpo table.tableContainer
{
    width: 330px;
}

#pageContentCentraliza table.tableContainer div.caixa
{
    border: 1px solid #818181;
    border-top-style:none;
    padding:5px;
    *display:inline;
    zoom:1;
}

#pageContentCentraliza div.disclaimer
{
    font-family: Arial;
    font-style:normal;
    font-size: 10px;
    color: #545454;
    text-align:left;
}

#pageContentCentraliza div.toogleHome
{
    float: right; 
    width: 70px;
}

#pageContentCentraliza div.toogleHome div.textoToogle
{
    float: left;
    cursor:pointer;
}

#pageContentCentraliza div.toogleHome div.imagemToogle
{
    float: right;
    cursor:pointer;
}

/* Estilos Tabs Home*/
#tabs_container
{
    border-bottom: 1px solid #ccc;
}

#pageContentCentraliza table.tableContainer div.caixa .tab_conteudo {
	/*display: none;*/
	height:148px;
	border: 1px solid #818181;
	padding: 0 5px 5px 5px;
}

#pageContentCentraliza table.tableContainer div.caixa .aba li.desativado a {
	padding: 6px 35px 5px 35px;
}

#pageContentCentraliza table.tableContainer div.caixa .aba li.ativo a {
	border-bottom: 1px solid #fff;
	background-color: #fff;
	padding: 6px 35px 5px 35px;
	border-bottom: none;
	background-image: url('/_layouts/Redecard.Comum/IMAGES/Aba2.jpg');
}

#pageContentCentraliza table.tableContainer div.caixa .aba {
	list-style: none;
	padding: 5px 0 4px 0;
	margin: 0px;
	font: 0.75em arial;
}

#pageContentCentraliza table.tableContainer div.caixa .aba li {
	display: inline;
}

#pageContentCentraliza table.tableContainer div.caixa .aba li a {
	font-family: @Arial Unicode MS;
	color:#31559C;
	font-size:12px;
	font-weight:bold;
	border: 1px solid #ccc;
	padding: 4px 6px;
	text-decoration: none;
	background-color: #eeeeee;
	border-bottom: none;
	outline: none;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

#pageContentCentraliza table.tableContainer div.caixa .aba li a:hover {
	background-color: #dddddd;
	padding: 6px 35px 5px 35px;
}

#pageContentCentraliza table.tableContainer div.caixa .aba li.ativo a:hover {
	background-color: #eeeeee;
	padding: 6px 35px 5px 35px;
	border-bottom: none;
}


#pageContentCentraliza a, a:visited {
	color: #183c8e;
	text-decoration: none;
}

/* Tabela limpa, sem ter que colocar dentro de DIVs  */
.tabelaLimpa
{
font-family: Arial, Verdana, Tahoma !important;
font-size: 12px !important;
border: 1px solid #818181;
width: 100%;
margin-top: 20px;
margin-bottom: 4px;
border-collapse:collapse;
}

.tabelaLimpa thead tr td{
text-align: center;
background-color: #CCCCCC;
color: black!important;
font-size: 12px;
font-weight: normal;
border:none;
}

.tabelaLimpa tr td{
text-align: center;
height: 30px;
color: #545454;
font-size: 12px;
padding-left: 5px;
padding-right: 5px;
border-right: 1px solid #EEE;
}


.tabelaLimpa .alinhaDireita{
	text-align:right;
}

.tabelaLimpa .alinhaEsquerda{
	text-align:left;
}

.tabelaLimpa .bold{
	font-weight:bold;
}

.tabelaLimpa .last{
	border:none;
}

.tabelaLimpa .alttr{
	background: #DDDDDD;
}


.tabelaLimpa .footerTable,.tabelaLimpa .footerTable td {
background-color: #CCCCCC;
color: black!important;
font-size: 12px;
font-weight: normal!important;
}


/* Mão no cursor do mouse */
.pointer
{
    cursor:pointer;
}

#steps_datacash /* ALTEREI */
{
	margin-top: 20px!important;
	margin-bottom: 20px!important;
	padding-bottom: 20px!important;
}

#steps_datacash .ativado1, #steps_datacash .ativado2, #steps_datacash .ativado3, #steps_datacash .proximo2 , #steps_datacash .proximo3, #steps_datacash .anterior1, #steps_datacash .anterior2 /* ALTEREI */
{
	float:left;
	margin-right:20px;
}

#steps_datacash .num
{
	float:left;
	margin-right:5px;
	width:23px;
	height:24px;	
}

#steps_datacash .txt
{
	float:left;
	font:bold 11px Arial;
	line-height:24px;	
}

#steps_datacash .ativado1 .txt, #steps_datacash .ativado2 .txt, #steps_datacash .ativado3 .txt
{
	color:#183C8E;
}

#steps_datacash .proximo2 .txt, #steps_datacash .proximo3 .txt
{
	color:#CCCCCC;
}

#steps_datacash .anterior1 .txt, #steps_datacash .anterior2 .txt
{
	color:#616161;
}


#steps_datacash .ativado1 .num{
	background-image:url(/_layouts/Redecard.Comum/IMAGES/step01.jpg);
}

#steps_datacash .proximo1 .num{
	background-image:url(/_layouts/Redecard.Comum/IMAGES/step01.jpg);
	background-position:23px;
}
	
	
#steps_datacash .anterior1 .num{
	background-image:url(/_layouts/Redecard.Comum/IMAGES/step01.jpg);
	background-position:46px;
}


#steps_datacash .ativado2 .num{
	background-image:url(/_layouts/Redecard.Comum/IMAGES/step02.jpg);
}

#steps_datacash .proximo2 .num{
	background-image:url(/_layouts/Redecard.Comum/IMAGES/step02.jpg);
	background-position:23px;
}
	
	
#steps_datacash .anterior2 .num{
	background-image:url(/_layouts/Redecard.Comum/IMAGES/step02.jpg);
	background-position:46px;
}

#steps_datacash .ativado3 .num{
	background-image:url(/_layouts/Redecard.Comum/IMAGES/step03.jpg);
}

#steps_datacash .proximo3 .num{
	background-image:url(/_layouts/Redecard.Comum/IMAGES/step03.jpg);
	background-position:23px;
}

#steps_credenciamento
{
	margin-top: 20px!important;
	margin-bottom: 20px!important;
	padding-bottom: 20px!important;
}

#steps_credenciamento .desativado{
	background-position-y:-29px!important;
}

#steps_credenciamento .passo1 .num{
	background-position:0px 0px;
}

#steps_credenciamento .passo2 .num{
	background-position:-29px 0px;
}

#steps_credenciamento .passo3 .num{
	background-position:-58px 0px;
}

#steps_credenciamento .passo4 .num{
	background-position:-87px 0px;
}

#steps_credenciamento .passo5 .num{
	background-position:-116px 0px;
}

#steps_credenciamento .passo6 .num{
	background-position:-145px 0px;
}

#steps_credenciamento .passo7 .num{
	background-position:-174px 0px;
}

#steps_credenciamento .passo8 .num{
	background-position:-203px 0px;
}

#steps_credenciamento .passo9 .num{
	background-position:-232px 0px;
}

#steps_credenciamento .passo1_desativado .num{
	background-position:0px -29px;
}

#steps_credenciamento .passo2_desativado .num{
	background-position:-29px -29px;
}

#steps_credenciamento .passo3_desativado .num{
	background-position:-58px -29px;
}

#steps_credenciamento .passo4_desativado .num{
	background-position:-87px -29px;
}

#steps_credenciamento .passo5_desativado .num{
	background-position:-116px -29px;
}

#steps_credenciamento .passo6_desativado .num{
	background-position:-145px -29px;
}

#steps_credenciamento .passo7_desativado .num{
	background-position:-174px -29px;
}

#steps_credenciamento .passo8_desativado .num{
	background-position:-203px -29px;
}

#steps_credenciamento .passo9_desativado .num{
	background-position:-232px -29px;
}

#steps_credenciamento .num
{
	float:left;
	width:29px;
	height:29px;
	background-image:url(/_layouts/Redecard.Comum/IMAGES/passos_credenciamento.jpg);
	background-repeat:no-repeat;
	margin-right:10px;	
}

#steps_credenciamento .txt
{
	float:left;
	font:bold 14px Arial;
	color:#183c8e;
	margin-right:5px;
	margin-left:-5px;
}

/* ALTEREI */
#pageContentCentraliza .bandeiras_form{
	float:left;
	padding-right:20px;
	margin-top:5px;
}

#pageContentCentraliza .bandeiras_form .bandeira_logo{
	
}

#pageContentCentraliza .bandeiras_form .bandeira_radio{
	text-align:center;
}

.botaoLink {
    border: 0px none;
    background-color: white;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

#pageContentCentraliza img.imagemToogle
{
    cursor:pointer;
    width:22px;
    height:20px;
}

/* TAMANHOS DAS TABELAS EM PIXELS E % */

#pageContentCentraliza .w250
{
	width:250px;
}

#pageContentCentraliza .w500
{
	width:500px;
}

#pageContentCentraliza .w750
{
	width:750px;
}

#pageContentCentraliza .w50
{
	width:50%!important;
}

#pageContentCentraliza .w75
{
	width:75%!important;
}

.black{
	color:#000!important;
}

/*Multidomicílios*/
#pageContentCentraliza table.tabelaDados tbody tr td.colunaCheckbox
{
    width:25px;
}

#pageContentCentraliza .noborder{
	border:0!important;
}

#pageContentCentraliza .nostyle{
	border:0!important;
	background-color:white!important;
	padding-right:10px!important;
}

#pageContentCentraliza .DadosBancariosContainer
{
	min-width:534px;
	display:block;
	margin-top: -2;
}

#pageContentCentraliza .DadosBancariosContainer .tabelaBanco1
{
	width:250px;
	margin-right:17px;
	float:left;
	clear:left;
}

#pageContentCentraliza .DadosBancariosContainer .tabelaBanco2
{
	width:250px;
	margin-right:17px;
	float:right;
	clear:right;
}

#pageContentCentraliza .DadosBancariosContainer .Esquerda /* ALTERAÇÕES FLAVIO 13/03/13 */  
{
	width:250px;
	margin-right:17px;
	float:left;
}

#pageContentCentraliza .DadosBancariosContainer .Direita /* ALTERAÇÕES FLAVIO 13/03/13 */  
{
	width:250px;
	float:left;
}

#pageContentCentraliza #divDomicilios div.DadosBancariosContainer div.Direita table.dados tr td, 
div.tabelaBanco table.dados tr.alttr td,
#pageContentCentraliza #divDomicilios div.DadosBancariosContainer div.Direita table.dados tbody tr td,
#pageContentCentraliza #divDomicilios div.DadosBancariosContainer div.Esquerda table.dados tr td, 
div.tabelaBanco table.dados tr.alttr td,
#pageContentCentraliza #divDomicilios div.DadosBancariosContainer div.Esquerda table.dados tbody tr td,
#pageContentCentraliza table.tableContainer table.dados table.bandeiraDomicilio tr td,
#pageContentCentraliza table.tableContainer table.dados table.bandeiraDomicilio tr.alttr td,
#pageContentCentraliza table.tableContainer table.bandeiraDomicilio tr td,
#pageContentCentraliza table.tableContainer table.bandeiraDomicilio tr.alttr td {
    padding: 0px;
}

#pageContentCentraliza table.tableContainer table.bandeiraDomicilio tr td span,
#pageContentCentraliza table.tableContainer table.bandeiraDomicilio tr.alttr td span {
    padding-left:3.5px !important;
}


#pageContentCentraliza div.Esquerda table.dados tr td input[type="checkbox"],
#pageContentCentraliza div.Direita table.dados tr td input[type="checkbox"] {
    margin-left:5px;
}

#pageContentCentraliza div.Esquerda span.todosProduto input[type="checkbox"],
#pageContentCentraliza div.Direita span.todosProduto input[type="checkbox"]
{
    margin-right: 20px !important;
}

#divDomicilios{
	max-width:517px;
	margin-right:10px!important;
}

.corLabel{ 
	color:#848484!important;
}

table.dados tbody tr td table.bandeirasDomicilio tr td span.descricaoBandeira,
table.dados tbody tr.alttr td table.bandeirasDomicilio tr td span.descricaoBandeira
{
    margin-left:5px !important;
}

#pageContentCentraliza .tabelaDados .textoAuxiliar{ /* ALTEREI */
	font-size:10px!important;
	margin-left:5px;
}

#pageContentCentraliza .tabelaDados .textoAuxiliar a{ /* ALTEREI */
	font-size:10px!important;
	margin-left:5px;
	text-decoration:underline;
}

.leitorSmart_img{
	float:left; 
	margin-left:20px!important;
}

.leitorSmart_txt{
	float:left;
	margin-left:20px!important;
	padding-top:25px!important;
}

.endereco1{
	width:200px;
	padding-right:50px!important;
	padding-bottom:20px!important; 
	float:left; 
	margin-left:20px!important;
}

.endereco2{
	width: 200px;
	padding-left: 50px!important;
	padding-bottom: 20px!important;
	border-left: 1px solid #A3A3A3!important;
	float: left;
}

.endereco1 h3, .endereco2 h3{
}

.endereco1 .txt, .endereco2 .txt{
	padding-top: 10px!important;
	padding-bottom: 10px!important;
}

.endereco3{
	padding-right:50px!important;
	padding-bottom:20px!important; 
	float:left; 
	margin-left:20px!important;
}

/* Steps Boston */

#steps_laranja
{
	margin-top: 20px!important;
	margin-bottom: 20px!important;
	padding-bottom: 20px!important;
}

#steps_laranja .desativado{
	background-position-y:-29px!important;
}

#steps_laranja .num a{
	width:100%;
	height:100%;
	display:block;
}

#steps_laranja .passo1 .num{
	background-position:0px 0px;
}

#steps_laranja .passo1_desativado .num{
	background-position:0px -29px;
}

#steps_laranja .passo2 .num{
	background-position:-29px 0px;
}

#steps_laranja .passo2_desativado .num{
	background-position:-29px -29px;
}

#steps_laranja .passo3 .num{
	background-position:-58px 0px;
}

#steps_laranja .passo3_desativado .num{
	background-position:-58px -29px;
}

#steps_laranja .passo4 .num{
	background-position:-87px 0px;
}

#steps_laranja .passo4_desativado .num{
	background-position:-87px -29px;
}

#steps_laranja .passo5 .num{
	background-position:-116px 0px;
}

#steps_laranja .passo5_desativado .num{
	background-position:-116px -29px;
}

#steps_laranja .passo6 .num{
	background-position:-145px 0px;
}

#steps_laranja .passo6_desativado .num{
	background-position:-145px -29px;
}

#steps_laranja .passo7 .num{
	background-position:-174px 0px;
}

#steps_laranja .passo7_desativado .num{
	background-position:-174px -29px;
}

#steps_laranja .passo8 .num{
	background-position:-203px 0px;
}

#steps_laranja .passo8_desativado .num{
	background-position:-203px -29px;
}

#steps_laranja .num
{
	float:left;
	width:29px;
	height:29px;
	background-image:url(/_layouts/MobileRede/imagens/passos_laranja.jpg);
	background-repeat:no-repeat;
	margin-right:10px;	
}

#steps_laranja .txt
{
	float:left;
	font:bold 14px Arial;
	color:#000000;
	margin-right:5px;
	margin-left:-5px;
}

.comboBoxUF
{
    margin-right: 10px !important;
}

#imgMonitor
{
    padding: 20px !important;
}