/*
Descrição: CSS exclusivo para a tela Dados cadastro fechado
Autor/Empresa: Seygi Kutani / Iteris
Cliente: Rede
©Copyright: 2016
*/

[id$="btnReenviarEmailConfirmacao"] {
    padding-right: 0px !important;
}
div.tab-rede {
    border-bottom: 0;
}
div.tab-rede ~ div.adm-form-container {
    border: 1px solid #ddd;
    border-top: 0;
}
div[aria-describedby="lbxModalConfirmacao"] div.ui-dialog-titlebar {
    display: none;
}