/*
Projeto: Rede.Credenciamento;
Descrição: CSS do passo "Dados bancarios", do modulo de credenciamento;
Autor/Empresa: Marcos.Deus/Iteris;
Cliente: Rede;
©Copyright: 2014 Iteris;
Notas: 
*/


.tablecontainer tr td .no-margin-left
{
    margin-left:0px!important;
}

.input-telefone
{
    margin-top:20px!important;
}

.input-cep
{
    margin-top:20px!important;
}

.radio-button-tipo-pessoa label
{
    margin-right:10px!important;
}

.text-align-center
{
    text-align:center!important;
    padding-left:0px!important;
}

.tableMultiContainer 
{
    margin-left:10px!important;
}

.tablecontainer tr .title-for-table span
{
    font-weight: bold; 
    color: #085092; 
    margin-left: 10px!important;
}

.tablecontainer tr .title-for-group span
{
    font-weight: bold; 
    color: #085092; 
    margin-left: 10px!important;
}

.tableMultiContainer th span
{
    padding-left:10px!important;
}
.tableMultiContainer td input
{
    margin-top:6px!important;
    margin-bottom:6px!important;
}


.margin-left-10
{
    margin-left:10px;
}
.text-align-center
{
    text-align:center;
}