/*
Descrição: CSS exclusivo para a tela Dados.aspx
Cliente: Rede
©Copyright: 2014
*/

.ms-propertysheet 
{
    width: 100% !important;
    border-spacing: 0px !important;
    padding: 0px !important;
    border: none !important;
}

.width-400px
{
    width: 400px !important;
}

.bg-color-gainsboro 
{
    background-color: Gainsboro;
}