/* 
    Projeto: Home Page Intermediária; 
    Descrição: CSS para alterar o estilo da nova home page do Portal Rede; 
    Autor/Empresa: Andre Garcia/ITERIS; 
    Cliente: Rede;  
    Notas:
        - 25/08/2016 (JFR) - Adaptação do CSS para compor o facelift do portal
*/

#pageContent {
    min-height: 500px;
}

/*.quadros {
    border-spacing: 10px !important;
}*/

/*.col-esquerda, .col-meio, .col-direita {
    border: 1px solid #B9B9B9 !important;
    padding: 10px !important;
}*/

/*#home .quadros td.col-esquerda, #home .quadros .col-meio {
    width: 320px !important;
}*/

/*.title {
    font-family: 'Arial Negrito', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: #003399;
}*/

/*.subtitle {
    font-size: 12px;
    color: #003399;
    border-bottom: 1px solid #E4E4E4 !important;
    padding-bottom: 5px !important;
    margin-bottom: 5px !important;
}*/

/*.content {
    border: 1px solid #E4E4E4 !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 10px !important;
    margin-bottom: 20px !important;
    line-height: 25px;
    width: 300px;
}*/

    /*.content .img-denied {
		float: left;
		padding-right: 8px !important;
	}*/

    /*.content .row {
        margin-top: 10px !important;
    }*/

    .content .row-detail {
        margin-bottom: 20px !important;
    }

    .content .margin-box {
        text-align: right;
    }

        /*.content .margin-box .value-title, .content .margin-box .money {
            text-align: right;
            margin-right: 40px !important;
            line-height: 30px !important;
        }*/

    /*.content .title {
        font-family: 'Arial Negrito', 'Arial';
        font-weight: 700;
        font-style: normal;
        font-size: 18px;
        color: #FF7700;
        float: left;
    }*/

    /*.content .col-xs-2 .title {
        font-family: 'Arial Negrito', 'Arial';
        font-weight: 700;
        font-style: normal;
        font-size: 18px;
        color: #FF7700;
    }*/

    .content .value-title {
        font-weight: 700;
        font-style: normal;
        font-size: 12px;
        color: #003399;
    }

    /*.content .money {
        font-family: 'Arial Negrito', 'Arial';
        font-weight: 700;
        font-style: normal;
        font-size: 12px;
        text-align: right;
        line-height: 15px;
    }*/

        /*.content .money .value-money {
            font-family: 'Arial Normal', 'Arial';
            font-weight: 400;
            font-style: normal;
            font-size: 16px;
            color: #333333;
            /*text-align: left;
            line-height: normal;
        }*/
        
    .content .details {
        text-align: right;
        margin-top: 5px !important;
        padding: 0px;
        line-height: 10px;
    }

        .content .details a {
            font-weight: 700;
            font-style: normal;
            font-size: 12px;
            color: #FF7800 !important;
            cursor: pointer;
        }


.quadro-title, .quadro-title span {
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: #003399;
    text-align: center;
    border-bottom: 1px solid #E4E4E4 !important;
    padding-bottom: 5px !important;
    margin-bottom: 5px !important;
}

/*#home .quadros .caixa {
    border: 0px !important;
}*/

/*#pageContentCentraliza table.tableContainer table.painel {
    border: 0px !important;
}*/

    /*#pageContentCentraliza table.tableContainer table.painel .caixa {
        margin-top: 5px !important;
        border: 1px solid #E4E4E4 !important;
        min-height: 100px !important;
    }*/

/*#pageContentCentraliza table.tableContainer .varejo-rav table.painel .caixa {
    min-height: 210px !important;
}

#pageContentCentraliza table.tableContainer .empibba-rav table.painel .caixa {
    min-height: 210px !important;
}*/

#pageContentCentraliza table.tableContainer table.painel tr td {
    padding: 0px !important;
    margin: 0px !important;
}

#pageContentCentraliza table.tableContainer table.painel thead tr th {
    border: 0px !important;
    background-color: #FFF !important;
    background-image: none !important;
    text-align: center;
    font-weight: 700;
    font-style: normal;
    font-size: 14px !important;
    color: #003399;
    text-align: center;
    border-bottom: 1px solid #E4E4E4 !important;
    padding-bottom: 5px !important;
    margin-bottom: 5px !important;
}

    #pageContentCentraliza table.tableContainer table.painel thead tr th span {
        font-size: 14px !important;
    }

/*.info-acesso {
    margin-right: 10px !important;
    text-align: right;
}*/

#breadcrumb {
    line-height: 5px;
}

div.aviso-nova-home {
    background-color: #E4E4E4;
    margin: 10px !important;
    padding: 8px !important;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #000;
    border-radius: 5px;
}

    div.aviso-nova-home a, div.aviso-nova-home a :visited {
        font-weight: 400 !important;
        font-style: normal !important;
        font-size: 12px !important;
        color: #000 !important;
        text-decoration: underline !important;
    }

#home .quadros div.empibba-cancelamento .caixa .footer, #home .quadros div.empibba-cancelamento .conteudo .footer {
    position: relative !important;
    top: 20px !important;
    margin: 6px !important;
    margin-bottom: 10px !important;
}

div.empibba-cancelamento .footer #mensagem {
    display: none !important;
}

div.empibba-cancelamento .cancelamento-lote {
    margin-top: 40px !important;
}

#pageContentCentraliza #home .formulario .caixaTexto.wide {
    width: 95% !important;
}

/*#pageContentCentraliza #home .formulario .caixaTexto.wide, #pageContentCentraliza #home .formulario.vertical input {
    margin-left: 5px !important;
    margin-right: 5px !important;
}*/

#home .atalhos a {
    text-decoration: none !important;
}

    #home .atalhos a:hover {
        text-decoration: underline !important;
    }

/*.info-receberei {
    color: #003399 !important;
}*/