/*
Projeto: BBF - Facelift
Descrição: css a ser aplicado no modo de impressao
Autor/Empresa: Iteris Consultoria e Software
©Copyright: 2016 Rede
Notas:
*/

@media print {
     #divIdentificacao {
        page-break-before: always;
		page-break-after: always;
		margin-top: 0 !important;
    }

	#pageContentCentraliza [id$="grvDirfEstabelecimento"] {
        margin-top: 0 !important;
    }
}