/*
Descrição: CSS exclusivo para a funcionalidade de Domicílio Bancário
Autor/Empresa: Victor Alencar / Iteris
Cliente: Rede
©Copyright: 2016
*/

.conta-corrente-uppercase
{
    text-transform: uppercase;
}

#rede-area-fechada .form-box-rede.add-bank-rede {
    width: initial;
    margin-top: 0;
}