/*
Projeto: Rede.Eadquirencia;
Descrição: CSS do site "e-rede", do modulo de eadquirencia;
Autor/Empresa: Thiago Corda/Iteris;
Cliente: Rede;
©Copyright: 2016 Iteris;
Notas: Anotações, atualizações e perigos;
*/

.container {
    width: 100%;
    min-height: 150px;
}

.medio {
    width: 90% !important;
}


.titulo {
    width: 100%;
    color: #003399;
    font-weight: bold;
    height: 30px;
}

.linha {
    width: 100%;
    clear: both;
}

.margemtop {
    margin-top: 15px !important;
}

.preto {
    color: black !important;
}

.descricao {
    width: 100%;
    color: #A1A5AB;
    height: 40px;
    font-weight: 400;
}

.descricaoHomologacao {
    width: 100%;
    height: 40px;
    font-weight: 400;
}

.informativo {
    width: 100%;
    color: #003399;
    font: bold;
    height: 25px;
}

input[type="submit"].padrao {
    background-image: url(../Images/seta.png) !important;
    padding-right: 20px !important;
}

input[type="submit"].copiar {
    background-color: #FEC707 !important;
    border: 1px solid #FEC707 !important;
    border-bottom: 5px solid #FEAF0F !important;
    cursor: pointer;
}

input[type="submit"].copiado {
    background-color: #DCDCDC !important;
    border: 1px solid #DCDCDC !important;
    border-bottom: 5px solid #B8B8B7 !important;
    cursor: pointer;
}

input.copiar {
    display: inline-block;
    /**display: inline;*/
    zoom: 1;
    font-family: Arial;
    font-weight: bold;
    border: 0;
    font-size: 12px;
    height: 20px;
    padding: 0;
    margin: 0;
    line-height: 20px;
    /*vertical-align: top;*/
    cursor: pointer;
    text-decoration: none;
    height: 45px !important;
    width: 100%;
}

.divBotao {
    width: 100%;
    margin: 10px;
    cursor: pointer !important;
}

.divBotaoDireta {
    float: right;
    margin-right: 15px;
}

.centro {
    text-align: center;
}

.centroDivPopup{
    font-size: 13px !important;
}

.divBotaoOK {
    float: left;
    margin-left: 30% !important;
}

    .divBotaoOK img {
        height: 50px;
        width: 50px;
    }

.texto-botao {
    float: left;
    margin-left: 3% !important;
    height: 100%;
}

.pequeno {
    width: 20%;
}

.texto-interno-centro {
    padding: 5px !important;
    background-color: #cccccc;
}

.btnCopiar {
}

.borda-cinza {
    border: 1px solid #eaeaea !important;
}

.padding-bottom {
    padding-bottom: 15px !important;
}

.padding-top {
    padding-top: 15px !important;
}

.negrito {
    font-weight: bold !important;
}

.displayNone {
    display: none;
}

.textoContador {
    font-weight: normal;
    color: #a1a5ab;
}

.contador {
    color: blue;
}

.textoLaranja {
    color: #FF7800;
}

/* Layout MultiSelectDropDown */

.multiSelectDropDown {
    position: absolute;
    width: 90%;
}

    .multiSelectDropDown > table > tbody > tr > td {
        padding-left: 0px!important;
        padding-right: 0px!important;
        width: 100%;
    }

.imgDropDown {
    position: absolute;
	top: 2px !important;
	right:5px !important;
    margin-right: 0px;
    background: #FFFFFF url('../images/dropdown.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 14px;
    height: 20px;
    border-style: groove !important;
    border-width: 1px !important;
}

    .imgDropDown:hover {
        position: absolute;
		top: 2px !important;
		right:5px !important;
        background: #FFFFFF url('../images/dropdown_hover.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 14px;
        height: 20px;
    }

    .imgDropDown[disabled]:hover {
        position: absolute;
		top: 2px !important;
		right:5px !important;
        background: #FFFFFF url('../images/dropdown.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 14px;
        height: 20px;
        border-style: groove !important;
        border-width: 1px !important;
    }

.divItems {
    position: relative;
    top: -2px;
    border-style: groove;
    border-width: 1px;
    width: 100%;
    background: white;
    overflow-y: scroll;
    max-height: 100px;
    max-width: 100%;
    padding-bottom: 5px;
}

    .divItems > span:first-child {
        position: relative;
        top: 3px;
        margin-left: 5px;
    }

    .divItems > span[id*="cphCorpo"] > span {
        position: relative;
        top: 3px;
        margin-left: 5px;
    }

.w100pc {
    width: 100%;
    -moz-column-width:105%;
}


.box-aviso {
    padding-bottom: 5px !important;
}

    .box-aviso .popConteudo {
        width: 561px;
        background-color: #f7f8f8;
        border-left: 1px solid #9c9aa0 !important;
        border-right: 1px solid #9c9aa0 !important;
        color: #818181;
        font: 12px Arial, Helvetica, sans-serif;
        min-height: 82px;
        display: table;
    }

        .box-aviso .popConteudo .icone-red {
            float: left;
            width: 59px;
            height: 57px;
            margin-top: 14px !important;
            margin-left: 8px !important;
            background: url('../images/icon_red.gif') no-repeat;
            display: block;
        }

        .box-aviso .popConteudo h1 {
            color: black !important;
            padding-left: 93px !important;
            padding-top: 8px !important;
            font-size: 17px !important;
        }

        .box-aviso .popConteudo p {
            padding-left: 93px !important;
        }

.textoVinho {
    color: #BF3A3A !important;
}

.sublinhado {
    text-decoration: underline;
}

.alturaGrande {
    height: 110px !important;
}

.alturaGrandeRehomologar {
    height: 100% !important;
}

.btnHomologar {
    margin-left: 37% !important;
}

.cinzaEscuro {
    color: #6A717A;
}

.azulClaro {
    color: #79A4E0 !important;
}

.divSolicitarHomologacao {
    margin-top: 15px !important;
}