/*
Projeto: BBF - Facelift
Descrição: Facelift do controle/webpart ExtratoPorEmail
Autor/Empresa: Iteris Consultoria e Software
©Copyright: 2016 Rede
Notas:
*/

.pnl-conteudo {
    float: left;
}

.pnl-conteudo-extrato {
    padding-top: 25px;
    padding-bottom: 35px;
}

.content-topic > div {
    padding-top: 8px;
    padding-bottom: 8px;
}

.content-topic-label {
    display: inline-block;
    width: 80px;
    text-align: right;
}

.content-topic-field {
    display: inline-block;
    margin-left: 10px;
}

.rbList span label {
    margin-right: 40px !important;
    margin-left: 3px !important;
}

.txt-email {
    width: 380px;
}

.validation-message {
    color: #f00;
}

.btn-primary {
    min-width: unset;
}

.listagem-filiais {
    margin-top: 20px;
}

    .listagem-filiais .listagem-filiais-container {
        border: 1px solid #ddd;
        margin-top: 5px;
    }

    .listagem-filiais select {
        width: 100%;
        color: #b4b0ae;
        border: none;
    }
