/*
Projeto: Rede.Eadquirencia;
Descrição: CSS do formulário "Faça sua Venda", do modulo de eadquirencia;
Autor/Empresa: Larissa Farias/Iteris;
Cliente: Rede;
©Copyright: 2016 Iteris;
Notas: Anotações, atualizações e perigos;
*/


    .area {
        clear: both;
        border: 1px solid #838383 !important;
        float: left;
        width: 560px;
        padding-top: 5px !important;
        padding-bottom: 10px !important;
        margin-bottom: 5px !important;
    }

    .linha2 {
        height: 35px;
        padding-bottom: 5px!important;
    }

    .texto {
        float: left;
        width: 30%;
        text-align: right;
        font-size: 13px;
        padding-top: 3px !important;
    }

    .texto2 {
        float: left;
        width: 30%;
        text-align: right;
        font-size: 13px;
    }

    .valor {
        float: left;
        width: 70%;
    }

    .dropDownEstilizado {
        width: 212px;
        height: 22px;
        -moz-appearance: none;
        -webkit-appearance: none;
        background-image: url('../Images/seta_down.png');
        background-position: 100%;
        background-repeat: no-repeat;
        border: 1px solid #B7B7B7!important;
        float: none!important;
        font-size: 12px;
        color: black;
        cursor: pointer;
    }

    .caixaTextoCinza {
        border: 1px solid #B7B7B7!important;
        width: 200px;
        float: none!important;
        background: #ffffff;
        height: 14px;
        font-size: 12px;
        color: black;
        padding: 3px 5px!important;
        margin: 0 0 0 5px!important;
    }

    .w50px {
        width: 50px!important;
    }

    .w62px {
        width: 62px!important;
    }

    .w120px {
        width: 120px!important;
    }

    .w80px {
        width: 80px!important;
    }

    .tituloFormulario {
        text-align: center;
        color: black;
        left: 0;
        right: 0;
        margin-bottom: 15px!important;
        margin-top: 5px!important;
    }

    p.descricao {
        margin-top: 5px !important;
        margin-bottom: 10px !important;
        width: 613px;
    }

    .novoCaixaTexto {
        /*  background-color: #F7F9F8;*/
        border: 1px solid #B7B7B7!important;
        margin-bottom: 3px!important;
        margin-top: 3px!important;
    }

    /* .novoCaixaTexto.disabled {
        background-color: #EBEBE4;
        border: 1px solid #B7B7B7!important;
        margin-bottom: 3px!important;
        margin-top: 3px!important;
    }*/

    .iconeImpressao {
        background-image: url('../Images/botao_imprimir.png') !important;
        padding-left: 20px !important;
    }

    .mensagemErro{
        font-size:10px;
        color:red;
    }

    .validationData{
        position:relative;
        display:inline;
        top:-2px;
        display:inline-block\0/;
        top:-4px\0/;
    }

    .topMenos12IE{
        top:-12px\0/;
    }

    .alinharSobreEsquerda{
        position:absolute;
        left:0px;
        width:200px;
        top:2px;
        top:1px\0/;
    }

    .quadro {
        position: relative;
        min-height: 160px;
    }

    .conteudoQuadro {
        border:solid 1px #A1A1A1!important;
        background-color: #F8F8F8;
        width: 540px;
        padding: 10px!important;
    }

        .conteudoQuadro .linhaConteudo {
            position: relative;
            width: 100%!important;
            margin: 5px!important;
        }

        .conteudoQuadro .blocoConteudo {
            vertical-align: top;
            position: relative;
            display: inline-block;
            max-width: 55%;
            min-width: 17%;
            /*width: 30%;*/
        }

        .conteudoQuadro .botoesQuadro {
            vertical-align: bottom;
            text-align: right;
            position: relative;
            display: inline-block;
            max-width: 45%;
            min-width: 25%;
        }

            .conteudoQuadro .botoesQuadro .botao {
                width: 100px;
            }

        .conteudoQuadro .linhaConteudo .titulo {
            width: 100%;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 18px;
            clear: both;
        }


        .conteudoQuadro .linhaConteudo .tituloMenor {
            position: relative;
            width: 100%;
            font-weight: bold;
            font-size: 14px;
            clear: both;
        }

        .conteudoQuadro .linhaConteudo .texto {
            position: relative;
            width: 100%;
            clear: both;
            font-size: 12px;
            text-align: left;
        }

    .botoes {
        top: 3px;
        position: absolute;
        float: right;
        padding-right: 0px;
        right: 0px;
    }

    .linhaNavegacao {
        clear: both;
        width: 560px;
        position: relative;
    }

    .conteudo {
        background-color: #F8F8F8;
        border: solid 1px #A1A1A1!important;
        width: 560px;
        margin-bottom: 5px !important;
    }


        .conteudo .linha {
            clear: both;
            height: 35px;
        }

            .conteudo .linha:nth-child(even) {
                background-color: #E5E5E5;
            }

            /*Css para IE7/IE8*/
            .conteudo .linha.even {
                background-color: #E5E5E5;
            }


            .conteudo .linha .col-label {
                margin-left: 10px;
                text-align: right;
                width: 45%;
                float: left;
                color: #919191;
                padding-top: 10px !important;
            }

            .conteudo .linha .col-label2 {
                margin-left: 10px;
                text-align: right;
                width: 45%;
                float: left;
                color: #919191;
                padding-top: 2px !important;
            }

            .conteudo .linha .col-input {
                margin-left: 5px !important;
                text-align: left;
                width: 51%;
                float: left;
                color: #737373;
                font-weight: normal;
                padding-top: 10px !important;
            }

    .noPadding {
        padding-top: 0px !important;
    }

    .botoesAcao {
        width: 402px !important;
    }

    .upper {
        text-transform: uppercase;
    }

    .h50px{
        height:50px!important;
    }

    .bandeirasCartao{
        padding-top:2px!important;
        padding-left:4px!important;
    }

    .bandeirasCartao > img{
        vertical-align:top;
    }

    .tickValid {
        position: relative;
        top: 4px;
        left: -22px;
    }

    .hidden {
        display: none;
    }