/*
Projeto: workflow de aprovação de publicação de conteúdo no portal - PN;
Descrição: layouts do formulário customizado de aprovação de tarefa.;
Autor/Empresa: Valdinei Ribeiro/Iteris Consultoria e Software.
Cliente: Rede;
©Copyright: © Copyright 2016 Rede S.A.
Notas: 
*/


/*######## INICIO - FiltroAprovadoreTaskForm ###########*/
.divDadosTarefa {
    width: 575px; 
    height: 310px
}

.divDadosTarefa >table {
    border:1px solid #d8d8d8; 
    width:100%; 
    height:100%; 
    border-spacing:0px
}

.rowStatus {
    height:5%   
}

    .rowStatus .titulo {
        padding-left:3%; 
        width:20%; 
        border-bottom:1px solid #d8d8d8
    }

    .rowStatus .conteudo {
        border-bottom:1px solid #d8d8d8; 
        padding-left:5px; 
        background-color:#f5f6f7
    }

.rowSolicitante {
    height:5% 
}

    .rowSolicitante .titulo {
        padding-left:3%; 
        width:20%; 
        border-bottom:1px solid #d8d8d8
    }

    .rowSolicitante .conteudo {
        text-align:left; 
        border-bottom:1px solid #d8d8d8;
        background-color:#f5f6f7
    }

.rowComentariosSolicitante {
    height:40%
}
    
    .rowComentariosSolicitante .titulo {
        padding-left:3%; 
        width:20%; 
        border-bottom:1px solid #d8d8d8
    }
    
    .rowComentariosSolicitante .conteudo {
        text-align:left; 
        padding-left:5px; 
        border-bottom:1px solid #d8d8d8; 
        background-color:#f5f6f7
    }

.rowComentariosAprovador {
    height:40%
}

    .rowComentariosAprovador .titulo {
        padding-left:3%; 
        width:20%; 
        border-bottom:1px solid #d8d8d8
    }

    .rowComentariosAprovador .conteudo {
        text-align:left; 
        padding-left:5px; 
        border-bottom:1px solid #d8d8d8; 
        background-color:#f5f6f7;
        height:40%
    }

        .rowComentariosAprovador .conteudo .textarea {
            height:90%; 
            width:98%; 
            resize:none;            
        }

.rowBotoes {
    height:10%
}

    .rowBotoes .colBotoes {
        border-bottom:1px solid #d8d8d8; 
        padding-right:2%; 
        text-align:right; 
    }

    .rowBotoes .colBotoes >.aprovar {
        margin-right: 2px
    }
/*######## FIM - FiltroAprovadoreTaskForm ###########*/

/*####### INICIO - FiltroAprovadoreInitForm #########*/

.divInitForm {
    width: 475px; 
    height: 170px
}

.divInitForm >table {
    border:1px solid #d8d8d8; 
    width:100%; 
    height:100%; 
    border-spacing:0px
}

.rowSolicitacao {
    height:90%
}

    .rowSolicitacao .titulo {
        padding-left:3%; 
        width:20%; 
        border-bottom:1px solid #d8d8d8
    }
    
    .rowSolicitacao .conteudo {
        text-align:left; 
        padding-left:5px; 
        border-bottom:1px solid #d8d8d8; 
        background-color:#f5f6f7;
        height:100%
    }

    .rowSolicitacao .conteudo .textarea {
        height:80%; 
        width:98%; 
        resize:none;            
    }

/*######### FIM - FiltroAprovadoreInitForm ##########*/

/*######### INICIO - FiltroAprovadoreAssocForm ##########*/
.divAssocForm {
    width: 575px; 
    height: 310px;
    margin-left: 30%;
    margin-top: 1%
}

.divAssocForm >table {
    border:1px solid #d8d8d8; 
    width:100%; 
    height:100%; 
    border-spacing:0px
}

.rowAprovadores {
    height:12%   
}
    .rowAprovadores .titulo {
        padding-left:3%; 
        width:30%; 
        border-bottom:1px solid #d8d8d8
    }

    .rowAprovadores .conteudo {
        border-bottom:1px solid #d8d8d8; 
        padding-left:5px; 
        background-color:#f5f6f7
    }

.rowTipoAtribuicaoTarefa {
    height:12%
}

    .rowTipoAtribuicaoTarefa .titulo {
        padding-left:3%; 
        width:30%; 
        border-bottom:1px solid #d8d8d8
    }

    .rowTipoAtribuicaoTarefa .conteudo {
        border-bottom:1px solid #d8d8d8; 
        padding-left:5px; 
        background-color:#f5f6f7
    }


.rowExpandirGrupos {
    height:12%
}

    .rowExpandirGrupos .titulo {
        padding-left:3%; 
        width:30%; 
        border-bottom:1px solid #d8d8d8
    }

    .rowExpandirGrupos .conteudo {
        border-bottom:1px solid #d8d8d8; 
        padding-left:5px; 
        background-color:#f5f6f7
    }

.rowTerminarRejeicao {
    height:12%   
}
    .rowTerminarRejeicao .titulo {
        padding-left:3%; 
        width:30%; 
        border-bottom:1px solid #d8d8d8
    }

    .rowTerminarRejeicao .conteudo {
        border-bottom:1px solid #d8d8d8; 
        padding-left:5px; 
        background-color:#f5f6f7
    }

.rowTerminarAlteracao {
    height:12%   
}
    .rowTerminarAlteracao .titulo {
        padding-left:3%; 
        width:30%; 
        border-bottom:1px solid #d8d8d8
    }

    .rowTerminarAlteracao .conteudo {
        border-bottom:1px solid #d8d8d8; 
        padding-left:5px; 
        background-color:#f5f6f7
    }

.rowHabilitarAprovacaoConteudo {
    height:12%   
}
    .rowHabilitarAprovacaoConteudo .titulo {
        padding-left:3%; 
        width:30%; 
        border-bottom:1px solid #d8d8d8
    }

    .rowHabilitarAprovacaoConteudo .conteudo {
        border-bottom:1px solid #d8d8d8; 
        padding-left:5px; 
        background-color:#f5f6f7
    }

.rowValidarAprovador {
    height:12% 
}
    .rowValidarAprovador .titulo {
        padding-left:3%; 
        width:30%; 
        border-bottom:1px solid #d8d8d8
    }

    .rowValidarAprovador .conteudo {
        border-bottom:1px solid #d8d8d8; 
        padding-left:5px; 
        background-color:#f5f6f7
    }

/*########### FIM - FiltroAprovadoreAssocForm ###########*/