@font-face  
{
    font-family: "Myriad Pro";
    src: local("Myriad Pro"), url('/_layouts/Rede.PN.DadosCadastraisMobile/Fonts/MyriadPro-Regular.otf'); 
    font-weight: normal;
    font-style: normal;
}

@font-face  
{
    font-family: "Myriad Pro";
    src: local("Myriad Pro"), url('/_layouts/Rede.PN.DadosCadastraisMobile/Fonts/MyriadPro-Bold.otf'); 
    font-weight: Bold;
    font-style: normal;
}

@font-face  
{
    font-family: "Myriad Pro";
    src: local("Myriad Pro"), url('/_layouts/Rede.PN.DadosCadastraisMobile/Fonts/MyriadPro-BoldIt.otf'); 
    font-weight: bold;
    font-style: italic, oblique;
}

@font-face  
{
    font-family: "Myriad Pro";
    src: local("Myriad Pro"), url('/_layouts/Rede.PN.DadosCadastraisMobile/Fonts/MyriadPro-It.otf'); 
    font-weight: normal;
    font-style: italic, oblique;
}

@font-face  
{
    font-family: "Myriad Pro";
    src: local("Myriad Pro"), url('/_layouts/Rede.PN.DadosCadastraisMobile/Fonts/MyriadPro-Semibold.otf'); 
    font-weight: 700;
    font-style: normal;
}