@charset "utf-8";

#footer {
	background: url(../../img/area_logada/bg_footer.gif) repeat-x bottom;
	clear: both;
	color: #183c8e;
	font: 10px Arial;
	height: 23px;
	padding-top: 12px;
}

	#footer p {
		float: left;
	}

	#footer ul.links {
		float: right;
	}
	
		#footer ul.links li {
			border-right: 1px solid #d0a603;
			float: left;
			padding: 0 8px;
		}
		
		#footer ul.links li.last {
			border-right: none;
		}