/*
Descrição: CSS exclusivo para a tela FuncionalGrupoEntidade.aspx
Cliente: Rede
©Copyright: 2014
*/

.ms-propertysheet
{
    width: 100% !important;
    border-spacing: 0px !important;
    padding: 0px !important;
    border: none !important;
}
.width-30pc
{
    width: 30% !important;
}

.width-70pc
{
    width: 70% !important;
}

.bg-color-white
{
    background-color: White !important;
}

.width-65px
{
    width: 65px !important;
}
.width-80px
{
    width: 80px !important;
}
.width-120px
{
    width: 120px !important;
}
.alinhaCentro
{
    text-align: center;
}

.ddlGrupoEntidade
{
    width: 152px !important;
    height: 22px !important;
}

.perfilRetorno
{
    border-collapse: collapse !important;
    border: 1px solid #ddd !important;
}

.perfilRetorno > thead > tr
{
    background-color: Gainsboro;
    font-weight: bold;
}
