/*
Projeto: Rede.Eadquirencia;
Descrição: CSS do formulário "Geração Token", do modulo de eadquirencia;
Autor/Empresa: Thiago Corda/Iteris;
Cliente: Rede;
©Copyright: 2016 Iteris;
Notas: Anotações, atualizações e perigos;
*/


.label-token {
    height: 100%;
}

.token-descricao {
    height: 30px !important;
}

.container-token
{
    min-height:300px;
}


