A:link {text-decoration: none; color: Blue}
A:visited {text-decoration: none; color: Blue}
A:active {text-decoration: none; color: Blue}
A:hover {text-decoration: underline; color: Blue;}

.tbl_RAV
{
	width:100%;
	background-color:#FFFFFF;
}

.tbl_TB
{
	width:100%;
	font-weight:normal;
	color:#5E5E5E;
	background-color:#e7e7e7;
}

table.tbl_RES1 tr td, table.tbl_RES2 tr td, table.tbl_RES1 tr th, table.tbl_RES2 tr th  {
  padding: 2px 3px;
  font-family: Arial;
  font-weight: inherited;
  vertical-align: middle; 
}

table.tbl_RES1 tr td, table.tbl_RES2 tr td {
  height: 20px;
}

table.tbl_RES2 tr.frm_INS th {
  font-family: Arial;
  font-size: 8pt;
  font-weight: bold;
}


tr.tr_alt {
	background-color:#f0f0f0;
}

.tbl_TR_Titulo
{
	background-color:#7fa5cc;
	height:20px;
}

.tbl_TR_Titulo_f
{
	background-color:#7fa5cc;
	height:20px;
	background-image: url(../img/fechado1.gif);
	background-repeat:no-repeat;
	background-position:97% center;
}

.tbl_TR_Titulo_a
{
	background-color:#7fa5cc;
	height:20px;
	background-image: url(../img/aberto1.gif);
	background-repeat:no-repeat;
	background-position:97% center;
}

.tbl_TR_Linha1
{
	background-color:#e7e7e7;
}

.tbl_TR_Linha2
{
	background-color:#f4f4f4;
}

.tbl_TD_Titulo
{
	font-family:Verdana;
	color:#ffffff;
	font-weight:bold;
	font-size:10px;
}

.tbl_TD_Linha
{
	font-family:Verdana;
	font-size:10px;
	color:#5E5E5E;
	text-decoration:none;
}

.tbl_TD_Link
{
	font-family:Verdana;
	font-size:10px;
	color:#5E5E5E;
	text-decoration:underline;
}

.tbl_TD_Link2
{
	font-family:Verdana;
	font-size:10px;
	color:#5E5E5E;
	font-weight:lighter;
	text-decoration:none;
}

.tbl_TD_RAV_W1
{
	font-family:Verdana;
	font-size:12px;
	color:#FFFFFF;
}

.tbl_TD_RAV_W2
{
	font-family:Verdana;
	font-size:14px;
	color:#FFFFFF;
	font-weight:bold;
}

.tbl_TD_RAV_Y
{
	font-family:Verdana;
	font-size:13px;
	color:#FFFF00;
}

table.tbl_RES1
{

	BORDER-RIGHT: black 1pt solid;
	BORDER-TOP: black 1pt solid;
	BORDER-LEFT: black 1pt solid;
	BORDER-BOTTOM: Black 1pt solid;
  margin-top: 20px;
}

table.tbl_RES2
{
	BORDER-RIGHT: black 1pt solid;
	BORDER-TOP: white 0pt solid;
	BORDER-LEFT: black 1pt solid;
	BORDER-BOTTOM: black 1pt solid;
}

.div_Titulo
{	
    DISPLAY: none;
}

.div_TituloOpen
{	
    DISPLAY: block;
}

.tbl_TR_Resumo_f
{
	background-color:#EDEDED;
	height:20px;
	background-image: url(../img/plus.gif);
	background-repeat:no-repeat;
	background-position:1% center;
	font-size:10px;
	font-family:Verdana;
	color:#5E5E5E;
	cursor:hand;
}

.tbl_TR_Resumo_Totais_f
{
	background-color:#aaaaaa;
	height:20px;
	background-image: url(../img/plus.gif);
	background-repeat:no-repeat;
	background-position:1% center;
	font-size:10px;
	font-family:Verdana;
	color:#ffffff;
	cursor:hand;
}

.tbl_TR_Resumo_carregando
{
	background-color:#EDEDED;
	height:20px;
	font-size:10px;
	font-family:Verdana;
	color:#5E5E5E;
}

.tbl_TR_Resumo_carregando_Totais
{
	background-color:#aaaaaa;
	height:20px;
	font-size:10px;
	font-family:Verdana;
	color:#ffffff;
}

.tbl_TR_Resumo_email
{
	height:20px;
	font-size:10px;
	font-family:Verdana;
	color:#5E5E5E;
}

.tbl_TR_Resumo_a
{
	background-color:#FFFFFF;
	height:20px;
	background-image: url(../img/minus.gif);
	background-repeat:no-repeat;
	background-position:1% center;
	font-size:10px;
	font-family:Verdana;
	color:#5E5E5E;
	cursor:hand;
}

.tbl_TR_Resumo_Totais_a
{
	background-color:#aaaaaa;
	height:20px;
	background-image: url(../img/minus.gif);
	background-repeat:no-repeat;
	background-position:1% center;
	font-size:10px;
	font-family:Verdana;
	color:#ffffff;
	cursor:hand;
}
                         
.frm_TIT
{
	font-size:12px;
	font-family:Arial;
	color:#1f4d82;
	font-weight:bold;
}


.frm_INS
{
	font-size:10px;
	font-family:Arial;
	color:#5E5E5E;
  height: 20px;
  vertical-align: middle;
}

.frm_BTN
{
	border: 1px solid #fff;
	background-color: #e6e6e6;
	font-size: 9px;
	font-family: Verdana;
	border-bottom-style: outset;
	border-right-style: outset;
	text-transform: uppercase;
	padding-top: 1px;
	padding-left: 1px;
}           