/*
Descrição: CSS exclusivo para a página LogConsulta.aspx
Autor/Empresa: Alexandre Shiroma / Iteris
Cliente: Rede
©Copyright: 2014
*/

/* filtros */
table.painel
{
    width: 100% !important;
}
table.painel *
{
    font-size: 11px;
}
table.painel select
{
    height: 22px !important;
}
table.painel tr td
{
    padding: 2px !important;
}
table.painel input[type=button]
{
    padding: 3px 0px !important;
    background-color: rgb(8, 80, 146);
    color: #ffffff;
    font: Arial 11px;
    font-weight: bold;
}
table.painel .btn input
{
    height: 20px;
}
        
/* operações */
.tbOperacoes *, .tbEventos *, .gdvLogExtrato *
{
    font-size: 10px;
}
.tbOperacoes
{
    color: Black;
    width: 100% !important;
}
.tbOperacoes tr td, .gdvLogExtrato tr td
{
    border: solid 1px #CCC !important;
    padding: 3px 7px !important;
    font-family: Verdana, Arial;
}
.tbOperacoes tr th, .gdvLogExtrato tr th
{
    font-family: Verdana, Arial;
    font-weight: bold;
    font-size: 10px;
    border: solid 1px #CCC !important;
    background-color: #6D929B;
    color: #FFFFFF;
    white-space: nowrap;
    padding: 8px 7px !important;
}
.tbOperacoes tr td a
{
    text-decoration: underline !important;
}
.tbOperacoes tr.operacao:hover
{
    background-color: #C1DAD6 !important;
}
.tbOperacoes tr.alternate
{
    background-color: #F5FAFA;
}
.tbEventos
{
    border: solid 3px #AAA !important;
}
.tbEventos tr.alternate
{
    background-color: #FAF8F8 !important;
}
.tbOperacoes2 tr:hover, .tbEventos tr:hover
{
    background-color: #CCEEEE !important;
}
.tbOperacoes2 tr.footer:hover
{
    background-color: inherit !important;
}
.tbEventos tr th
{
    border: solid 1px #BBB !important;
    font-size: 10px;
    background-color: #CCCCCC;
    color: #000000;
    white-space: nowrap;
    padding: 8px 5px !important;
    min-width: 15px;
}
.tbOperacoes tr.evento td
{
    padding: 10px !important;
    border: solid 1px #DDDDDD !important;
}
.tbOperacoes tr.evento td .tbEventos tr td
{
    padding: 3px 8px !important;
}
.tbOperacoes a, .tbEventos a
{
    cursor: pointer;
}
.footer table tr td
{
    border: none !important;
}
.footer:hover, .footer:hover tr
{
    background-color: #FFFFFF !important;
}
.bold
{
    font-weight: bold;
}
        
/* log extrato */
.gdvLogExtrato td, .gdvLogExtrato th
{
    white-space: nowrap;
    text-align: left;
}
        
/* timepicker */
.ui-timepicker-div .ui-widget-header
{
    margin-bottom: 8px;
}
.ui-timepicker-div dl
{
    text-align: left;
    margin-bottom: 5px;
    margin-top: 5px;
}
.ui-timepicker-div dl dt
{
    float: left;
    clear: left;
    padding: 0 0 0 5px;
}
.ui-timepicker-div dl dd
{
    margin: 0 10px 2px 45%;
}
.ui-timepicker-div td
{
    font-size: 90%;
}
.ui-tpicker-grid-label
{
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}
.ui-timepicker-rtl
{
    direction: rtl;
}
.ui-timepicker-rtl dl
{
    text-align: right;
    padding: 0 5px 0 0;
}
.ui-timepicker-rtl dl dt
{
    float: right;
    clear: right;
}
.ui-timepicker-rtl dl dd
{
    margin: 0 45% 10px 10px;
}
        
/* ribbon / scrollbar*/
#s4-leftpanel, .s4-title, #s4-topheader2
{
    display: none;
}
.s4-ca
{
    margin-left: 0px !important;
}
body
{
    overflow: visible;
    height: inherit;
    width: inherit;
}
body #s4-workspace
{
    overflow: visible !important;
}
body #s4-ribbonrow
{
    position: fixed;
    z-index: 1000;
}
#s4-ribbonrow .ms-MenuUIPopupBody, #s4-ribbonrow .ms-popoutMenu, .ms-cui-menu[id ^= "Ribbon."]
{
    position: fixed !important;
}
.ms-dlgOverlay
{
    width: 100% !important;
}


.display-none
{
    display: none;
}

.margin-5px
{
    margin: 5px;
}
.width-90px
{
    width: 90px !important;
}
.width-20px
{
    width: 20px !important;
}
.width-50px
{
    width: 50px !important;
}
.width-30px
{
    width: 30px !important;
}
.width-1px
{
    width: 1px !important;
}
.width-120px
{
    width: 120px !important;
}
.width-278px
{
    width: 278px !important;
}
.text-transform-uppercase
{
    text-transform: uppercase;
}
.padding-5px-0px
{
    padding: 5px 0px;
}
.width-99pc
{
    width: 99%;
}
.width-100pc
{
    width: 100%;
}
.cell-padding-0
{
    padding: 0px !important;
}
.cell-spacing-0
{
    border-spacing: 0px !important;
}
.text-decoration-transform
{
    text-decoration: underline;
}
.nowrap
{
    white-space: nowrap;
}