/*
Descrição: CSS exclusivo para a página LogAtividade.aspx
Autor/Empresa: Alexandre Shiroma / Iteris
Cliente: Rede
©Copyright: 2014
*/

body { text-align: inherit !important; }
.grid { width: auto !important; }
        
#s4-leftpanel {
    display: none;
}
.s4-ca {
    margin-left: 20px !important;
}
.titulo-relatorio
{
    font-size: 15px;
    font-weight: bold;
    color: #085092;
    margin-bottom: 5px !important;
}
#pageContentCentraliza table.tableContainer img.ui-datepicker-trigger {
    margin-bottom: -3px;
    padding-left: 2px !important;
}