/*
Descrição: CSS exclusivo para a tela Logout.aspx
Cliente: Rede
©Copyright: 2016
*/
.logout-container{
    text-align: center;
}
.logout-title {
    margin-bottom: 48px;
    font-size: 18px;
    font-family: 'opensans-semibold',Sans-Serif;
}

.buttons-box .btn-rede:first-child {
    float:right;
}

.buttons-box .btn-rede {
    float:left;
}

.logout-pop-up{
    display: inline-block;
}
