/*
© Copyright 2016 Rede S.A.
Autor : Dhouglas Lombello
Empresa : Iteris Consultoria e Software
*/

.w28p {
    width: 28% !important;
}

div.listaBandeiras {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 150px;
}

div.quadroInterno table#tblMultibandeirasScroll img {
    padding-right: 3px;
}
