/*
Descrição: CSS exclusivo para as telas do Novo Acesso - Área Aberta
Autor/Empresa: Agnaldo Almeida / Iteris
Cliente: Rede
©Copyright: 2014
*/

body
{
    overflow-x: hidden;
}

div#principal table tbody tr td#MSOZoneCell_WebPartWPQ2 div, 
div#principal table tbody tr td#MSOZoneCell_WebPartWPQ3 div
div#principal div#MSOZoneCell_WebPartWPQ1 div,
div#principal div#MSOZoneCell_WebPartWPQ2 div, 
div#principal div#MSOZoneCell_WebPartWPQ3 div
{
    text-align: left;
}

#s4-bodyContainer {
	padding-bottom: 0px;
}

#pageStatusBar[class], .ms-status-msg {
	margin-bottom: 0px;
}

.btn > .btnLeft > .btnRight > input:hover {
	background-color: #085092;
}

.btn > .btnLeftCancelar  > .btnRightCancelar > input:hover {
	background-color: #818181;
}

#principal .principal-content{
	padding: 0 20px;
}

.ms-webpartzone-cell {
	margin: inherit;
}

table#toolTip td.closeModal
{
    width: 20px !important;
}

table#toolTip td.mensagemTooltip
{
    padding-top: 0px !important;
}

table#toolTip
{
    width: 26% !important;
}

div.linhaObrigatorios
{
    margin-top: 10px !important;
}

#footerNovoAcesso {
	background-color: #545454;
	font-family: Arial;
	color: #FFFFFF;
	font-size: 11px;
	text-align: left;
	padding: 0px 20px 5px 20px;
	height: 26px !important;
	line-height: 26px;
	margin-top: 40px;
}

input[type=button], input[type=reset], input[type=submit], button {
	min-width: inherit !important;
}

.novo-acesso-quadro-layout {
    margin-top: 15px !important;
}

.novo-acesso-mensagem-layout {
    margin-top: 15px !important;
}