/*
Projeto: Rede.OutrasEntidades;
Descrição: CSS do projeto em geral;
Autor/Empresa: Daniel.Torres/Iteris;
Cliente: Rede;
©Copyright: 2015 Iteris;
Notas: Anotações, atualizações e perigos;
*/

.tablecontainer .spacer
{
    height: 5px;
}

.w50
{
    width: 50px !important;
}

.title
{
    width:auto !important;
    text-align:left !important;
    font-weight: bold !important;
    color: #085092 !important;
    margin-left: 20px!important;
    font-size:12px!important;
}

@media print {
    #pageContentCentraliza .caixaTexto {
        border: none !important;
        color:#000000;
    }
    
    #botoes, #header, #menu, h2>span, #breadcrumb, #footer               
    {
       display:none;
    }
    
  