/******************************************************
 MasterPage
 ******************************************************/
#content, #flashTop
{
    height: 100%;
    min-height: 100%;
    width: 100%;
    clear: both;
}
#sidebar
{
    height: 100%;
    min-height: 100%;
    width: 100%;
}

/******************************************************
 RedecardPaginaInicial
 ******************************************************/
#redecardpaginainicial
{
    float: left;
    width: 720px;
    min-height: 100%;
    height: 100%;
}
#redecardpaginainicial #bottomzone1
{
    float: left;
    width: 691px;
    min-height: 100%;
    height: 100%;
}
#redecardpaginainicial #bottomzone2, #redecardpaginainicial #bottomzone3, #redecardpaginainicial #bottomzone4
{
    float: left;
    width: 230px;
    min-height: 100%;
    height: 100%;
}
#redecardpaginainicial #bottomzone5
{
    float: left;
    margin: 0px 34px 0px 0px;
    width: 396px;
    min-height: 100%;
    height: 100%;
}
#redecardpaginainicial #bottomzone6
{
    float: left;
    width: 260px;
    min-height: 100%;
    height: 100%;
}

/******************************************************
 RedecardPortalBusca
 ******************************************************/
#redecardpaginabusca
{
    float: left;
    width: 720px;
    min-height: 100%;
    height: 100%;
}

#redecardpaginabusca #bottomzone1
{
    float: left;
    width: 691px;
    min-height: 100%;
    height: 100%;
}

/******************************************************
 RedecardPortalAbertoTipo1
 ******************************************************/
#redecardportalaberto1
{
    float: left;
    width: 720px;
    min-height: 100%;
    height: 100%;
}
#redecardportalaberto1 #bottomzone1
{
    float: left;
    margin: 0px 10px 0px 0px;
    width: 220px;
    min-height: 100%;
    height: 100%;
}
#redecardportalaberto1 #bottomzone2
{
    float: left;
    margin: 0px 15px;
    width: 458px;
    min-height: 100%;
    height: 100%;
}

/******************************************************
 RedecardPortalAbertoTipo2
 ******************************************************/
#redecardportalaberto2
{
    float: left;
    width: 720px;
    min-height: 100%;
    height: 100%;
}
#redecardportalaberto2 #bottomzone1
{
    float: left;
    margin: 0px 10px 0px 0px;
    width: 220px;
    min-height: 100%;
    height: 100%;
}
#redecardportalaberto2 #bottomzone2
{
    float: left;
    margin: 0px 15px;
    width: 458px;
    min-height: 100%;
    height: 100%;
}
#redecardportalaberto2 #bottomzone3
{
    float: left;
    margin: 0px 15px 0px 245px;
    width: 214px;
    min-height: 100%;
    height: 100%;
}
#redecardportalaberto2 #bottomzone4
{
    float: left;
    margin: 0px 0px 0px 15px;
    width: 214px;
    min-height: 100%;
    height: 100%;
}

/******************************************************
 RedecardPortalAbertoTipo3
 ******************************************************/
#redecardportalaberto3
{
    float: left;
    width: 720px;
    min-height: 100%;
    height: 100%;
}

#redecardportalaberto3 #bottomzone1
{
    float: left;
    margin: 0px 10px 0px 0px;
    width: 220px;
    min-height: 100%;
    height: 100%;
}
#redecardportalaberto3 #bottomzone2
{
    float: left;
    margin: 0px 15px;
    width: 458px;
    min-height: 100%;
    height: 100%;
}
#redecardportalaberto3 #bottomzone3
{
    float: left;
    margin: 0px 15px 0px 245px;
    width: 214px;
    min-height: 100%;
    height: 100%;
}
#redecardportalaberto3 #bottomzone4
{
    float: left;
    margin: 0px 0px 0px 15px;
    width: 214px;
    min-height: 100%;
    height: 100%;
}
#redecardportalaberto3 #bottomzone5
{
    float: left;
    margin: 0px 15px 0px 245px;
    width: 458px;
    min-height: 100%;
    height: 100%;
}

/******************************************************
 RedecardPortalAbertoTipo4
 ******************************************************/
#redecardportalaberto4
{
    float: left;
    width: 720px;
    min-height: 100%;
    height: 100%;
}

#redecardportalaberto4 #bottomzone1, #redecardportalaberto4 #bottomzone4
{
    float: left;
    width: 691px;
    min-height: 100%;
    height: 100%;
}
#redecardportalaberto4 #bottomzone2
{
    float: left;
    margin: 0px 11px 0px 0px;
    width: 335px;
    min-height: 100%;
    height: 100%;
}
#redecardportalaberto4 #bottomzone3
{
    float: left;
    margin: 0px 0px 0px 10px;
    width: 335px;
    min-height: 100%;
    height: 100%;
}

/******************************************************
 RedecardPortalAbertoTipo5
 ******************************************************/
#redecardportalaberto5
{
    float: left;
    width: 720px;
    min-height: 100%;
    height: 100%;
}
#redecardportalaberto5 #bottomzone1
{
    float: left;
    width: 691px;
    min-height: 100%;
    height: 100%;
}
#redecardportalaberto5 #bottomzone2, #redecardportalaberto5 #bottomzone3, #redecardportalaberto5 #bottomzone4
{
    float: left;
    margin: 0px 10px 0px 0px;
    width: 224px;
    min-height: 100%;
    height: 100%;
}

/******************************************************
 RedecardAreaFechadaTipo1
 ******************************************************/
#redecardareafechadatipo1
{
    float: left;
    width: 970px;
    margin: 0px auto;
    min-height: 100%;
    height: 100%;
}
#redecardareafechadatipo1 #left
{
    float: left;
    width: 727px;
    padding-bottom: 36px;
    min-height: 100%;
    height: 100%;
}
#redecardareafechadatipo1 #right
{
    float: right;
    width: 218px;
    min-height: 100%;
    height: 100%;
}
#redecardareafechadatipo1 #bottomleft
{
    float: left;
    width: 100%;
    padding: 76px 0px 56px 0px;
    background: url(../../img/area_logada/bg_destaques.png) no-repeat 50% top;
    min-height: 100%;
    height: 100%;
}

#redecardareafechadatipo1 #bottomzone0, #redecardareafechadatipo1 #bottomzone1, #redecardareafechadatipo1 #bottomzone2,
#redecardareafechadatipo1 #bottomzone3, #redecardareafechadatipo1 #bottomzone4, #redecardareafechadatipo1 #bottomzone5,
#redecardareafechadatipo1 #bottomzone6, #redecardareafechadatipo1 #bottomzone7, #redecardareafechadatipo1 #bottomzone8,
#redecardareafechadatipo1 #bottomzone9, #redecardareafechadatipo1 #bottomzone10
{
    float: left;
    min-height: 100%;
    height: 100%;
}
#redecardareafechadatipo1 #bottomzone0, #redecardareafechadatipo1 #bottomzone10
{
    width: 100%;
    min-height: 100%;
    height: 100%;
}
#redecardareafechadatipo1 #bottomzone1,
#redecardareafechadatipo1 #bottomzone2,
#redecardareafechadatipo1 #bottomzone3,
#redecardareafechadatipo1 #bottomzone4,
#redecardareafechadatipo1 #bottomzone5
{
    width: 203px;
    min-height: 220px;
    padding: 0px 14px;
    margin-right: 17px;
    height: 100%;
}

#redecardareafechadatipo1 #bottomzone6, 
#redecardareafechadatipo1 #bottomzone7, 
#redecardareafechadatipo1 #bottomzone8, 
#redecardareafechadatipo1 #bottomzone9
{
    padding: 0px 16px 23px 7px;
    background: url(../../img/area_logada/bg_sidebar_rodape.jpg) no-repeat 50% bottom;
    width: 100%;
    min-height: 100%;
    height: 100%;
}

/******************************************************
 RedecardAreaFechadaTipo2
 ******************************************************/
#redecardareafechadatipo2
{
    float: left;
    width: 970px;
    margin: 0px auto;
    min-height: 100%;
    height: 100%;
}
#redecardareafechadatipo2 #bottomzone1
{
    width: 100%;
    float: left;
    min-height: 100%;
    height: 100%;
}