#main #content{
	width: auto;
}

	#content .left{
		float: left;
		display: inline;
		width: 720px;
	}

#content .center{
	display: inline;
	width: auto;
	/*margin: 0 15px;*/
}

	.inovacao{
		background: url("../img/bg_inovacao.jpg") no-repeat left bottom;
	}
	
	.credito_debito{
		background: url("../img/bg_credito_debito.jpg") no-repeat left bottom;
	}
	
	.automacao_comercial{
		background: url("../img/bg_automacao_comercial.jpg") no-repeat left bottom;
	}
	
	.complemente_servicos{
		background: url("../img/bg_complemente_servicos.jpg") no-repeat left bottom;
	}
	
	.aumente_ganhos{
		background: url("../img/bg_aumente_ganhos.jpg") no-repeat left bottom;
	}
	
	.maquininhas{
		background: url("../img/bg_maquininhas.jpg") no-repeat left bottom;
	}
	
	.internet_celular{
		background: url("../img/bg_internet_celular.jpg") no-repeat left bottom;
	}

	#content .center .left{
		float: left;
		width: 488px;
	}
		
		#content .center .left h2{
			width: 460px;
		}

	#content .center h2{
		font-weight: normal;
		font-size: 28px;
		margin: 10px 0;
	}
	
	#content .center p.bg, #content .center div.bg{
		float: left;
		display: inline;
		width: 100%;
		background: url("../img/bg_products_gallery.jpg") no-repeat center bottom;
		padding-bottom: 56px;
		margin: 10px 0 15px 0;
	}
	
	#content .center .section{
		background-image: url("../img/bg_products_gallery.jpg") !important;
		margin-bottom: 15px;
		width: 490px;
	}
	
		#content .center .section .highlights {
			width: 245px !important;
		}
		
	#content .center .highlights{
		margin: 0 0 15px 0 !important;
	}
	
		#content .center .highlights h2{
			float: left;
			display: inline;
			width: 100%;
			border-left: solid #ffcb00 5px;
			padding-left: 8px;
			color: #14388c;
			font-weight: normal;
			font-size: 22px;
			text-transform: uppercase;
			margin: 0 0 8px 0;
		}
		
		#content .center .highlights p{
			float: left;
			width: 162px;
		}
		
			#content .center .highlights p a{
				color: #000;
			}
				
				#content .center .highlights p a strong{
					float: left;
					width: 100%;
					color: #183c8e;
				}
	
	#content .center .testimonials{
		float: left;
		width: 100%;
		margin: 0 0 20px 0;
	}
	
		#content .center .testimonials p{
			color: #575757;
			font-size: 12px;
			width: 100% !important;
		}
	
		#content .center .testimonials span{
			float: left;
			color: #183c8e;
			font-style: italic;
			margin-bottom: 10px;
		}
		
		#content .center .testimonials a{
			float: left;
			clear: left;
		}
		
	#content .center .video p.description{
		float: left;
		width: 242px;
		margin: 0 12px 0 0;
	}
	
		#content .center .video div.flash{
			float: left;
			display: inline;
			color: #183c8e;
			text-transform: uppercase;
			font-size: 11px;
			padding: 10px;
			margin: 0;
			background: url("../img/bg_video_highlight.jpg") no-repeat right top;
		}
		
			#content .center .video div.flash div.media{
				margin: 0;
			}
		
				#content .center .video div.flash div.media div{
					float: left;
					display: inline;
					width: auto;
					font-weight: bold;
					margin: 10px;
				}
		
		#content .center .hire{
			float: left;
			display: inline;
			height: 78px;
			width: 100%;
			background: url("../img/bg_tools.jpg") repeat-x left bottom;
			margin: 20px 0 0 0;
			color: #183c8e;
		}
		
			#content .center .hire p{
				width: 265px;
				float: left;
				display: inline;
				margin: 18px 20px;
			}
			
			#content .center .hire a{
				margin: 22px 0;
			}
			
				#content .center .hire a.btnSoliciteJa{
					float: right;
					margin: 25px 30px;
				}
			
		#content .center .sacRedecard{
			float: left;
			display: inline;
			width: auto;
			background: url("../img/bg_tools.jpg") repeat-x left bottom;
			margin: 20px 0 0 0;
			padding: 10px;
			color: #183c8e;
		}
		
			#content .center .sacRedecard p{
				width: 200px;
				float: left;
				display: inline;
				margin: 0 20px 0 15px;
				font-size: 14px;
				text-transform: uppercase;
				border-right: solid #dadde2 1px;
			}
			
				#content .center .sacRedecard p strong{
					font-size: 30px;
				}
			
			#content .center .sacRedecard a{
				margin: 4px 10px 4px 0;
				width: 170px;
			}
			
	#content .center div.frmTestimonials{
		float: left;
		margin: 0 0 15px 0;
	}
	
			#content .center div.frmTestimonials fieldset p{
				float: left;
				display: inline;
				margin: 0 9px 0 0;
				padding: 0;
				width: 142px;
			}
			
				#content .center div.frmTestimonials fieldset p label{
					float: left;
					width: 100%;
					color: #183c8e;
					padding: 0 0 0 1px;
					font-weight: bold;
				}
				
				#content .center div.frmTestimonials fieldset p select{
					float: left;
					width: 134px;
				}
				
				#content .center div.frmTestimonials fieldset p div.jqf1Sel{
					background-image: url("../img/form/jqf2.png");
					height: 26px;
				}
				
					#content .center div.frmTestimonials fieldset p div.jqf1Sel div.jqf1SelAtivo{
						background-image: url("../img/form/jqf2.png");
						background-position: right -500px;
						height: 26px;
					}
					
						#content .center div.frmTestimonials fieldset p div.jqf1Sel div.jqf1SelAtivo a{
							background-image: url("../img/form/jqf2.png");
							background-position: left -471px;
							height: 26px;
							padding-top: 6px;
							color:#324A59;
							text-decoration:none;
						}
						
				#content .center div.frmTestimonials fieldset .btnOK{
					float: left;
					border: none;
					background: #899bc5;
					color: #fff;
					font-weight: bold;
					padding: 3px;
					margin: 15px 0 0 0;
				}
				
	#content .center div.frmQuestions, #content .center div.frmDownloads{
		float: left;
		margin: 0 0 15px 0;
	}
	
			#content .center div.frmQuestions fieldset p, #content .center div.frmDownloads fieldset p{
				float: left;
				margin: 0 25px 0 0;
				padding: 0;
				width: 202px;
			}
			
				#content .center div.frmQuestions fieldset p label, #content .center div.frmDownloads fieldset p label{
					float: left;
					width: 100%;
					color: #183c8e;
					padding: 0 0 0 1px;
					font-weight: bold;
				}
				
				#content .center div.frmQuestions fieldset p select, #content .center div.frmDownloads fieldset p select{
					float: left;
					width: 189px;
				}
				
				#content .center div.frmQuestions fieldset p div.jqf1Sel, 
				#content .center div.frmDownloads fieldset p div.jqf1Sel{
					background-image: url("../img/form/jqf2.png");
					height: 26px;
				}
				
					#content .center div.frmQuestions fieldset p div.jqf1Sel div.jqf1SelAtivo, 
					#content .center div.frmDownloads fieldset p div.jqf1Sel div.jqf1SelAtivo{
						background-image: url("../img/form/jqf2.png");
						background-position: right -500px;
						height: 26px;
					}
					
						#content .center div.frmQuestions fieldset p div.jqf1Sel div.jqf1SelAtivo a, 
						#content .center div.frmDownloads fieldset p div.jqf1Sel div.jqf1SelAtivo a{
							background-image: url("../img/form/jqf2.png");
							background-position: left -471px;
							height: 26px;
							padding-top: 6px;
						}
						
				#content .center div.frmQuestions fieldset button, 
				#content .center div.frmDownloads fieldset button{
					float: left;
					border: none;
					background: #899bc5;
					color: #fff;
					font-weight: bold;
					padding: 3px;
					margin: 15px 0 0 0;
				}
				
		#content .center div.frmDownloads fieldset.filter{
			float: left;
			display: inline;
			background: #e4e8f2;
			margin: 14px 0;
			padding: 15px 15px 0 15px;
		}
		
			#content .center div.frmDownloads fieldset.filter p{
				color: #575757;
				margin: 0 0 15px 0;
				width: 229px;
				font-size: 11px;
			}
		
				#content .center div.frmDownloads fieldset.filter p label{
					color: #575757;
					font-weight: normal;
					padding: 5px 5px 0 0;
					width: auto;
				}
			
				#content .center div.frmDownloads fieldset.filter p select{
					width: 170px;
				}
				
				#content .center div.frmDownloads fieldset.filter p div.jqf1Sel{
					background-image: url("../img/form/jqf3.png");
					height: 26px;
				}
				
					#content .center div.frmDownloads fieldset.filter p div.jqf1Sel div.jqf1SelAtivo{
						background-image: url("../img/form/jqf3.png");
						background-position: right -500px;
						height: 26px;
					}
					
						#content .center div.frmDownloads fieldset.filter p div.jqf1Sel div.jqf1SelAtivo a{
							background-image: url("../img/form/jqf3.png");
							background-position: left -471px;
							height: 26px;
							padding-top: 6px;
							/*color: #fcfcfd;
							color:#324A59;*/
							color:#fff !important;
				            text-decoration:none;
						}
						
	#content .center div.frmComment{
		float: left;
		display: inline;
		width: 448px;
		height: 396px;
		padding: 0 0 47px 0;
		margin: 0 0 10px 0;
		background: url("../img/form/bg_form_comment.jpg") no-repeat right bottom;
	}
	
		#content .center div.frmComment h3{
			color: #183c8e;
			font-size: 26px;
			font-weight: normal;
			margin: 10px 0;
			text-transform: uppercase;
		}
	
		#content .center div.frmComment fieldset{
			float: left;
			display: inline;
			padding: 20px;
			margin: 0;
			background: #e4e8f2;
		}
	
			#content .center div.frmComment fieldset p{
				float: left;
				display: inline;
				margin: 0 0 5px 0;
				width: 448px;
			}
			
				#content .center div.frmComment fieldset p label, 
				#content .center div.frmComment fieldset p input, 
				#content .center div.frmComment fieldset p textarea{
					float: left;
					display: inline;
					width: 446px;
				}
	
				#content .center div.frmComment fieldset p input, 
				#content .center div.frmComment fieldset p textarea{			
					border: solid #b6bac2 1px;
				}
				
				#content .center div.frmComment fieldset p label{
					color: #183c8e;
					font-size: 13px;
				}
				
				#content .center div.frmComment fieldset p textarea{
					height: 130px;
				}
				
	#content .center .downloads{
		float: left;
		display: inline;
		background: #eff1f7;
		padding: 1px;
		font-size: 11px;
		margin-bottom: 10px;
	}
	
		#content .center .downloads thead tr{
			background: #e1e4ed;
			color: #4d5e83;
			font-weight: bold;
		}
		
			#content .center .downloads thead tr th{
				padding: 5px;
				text-align: left;
			}
			
		#content .center .downloads tbody{
			color: #575757;
		}
			
			#content .center .downloads tbody tr.bg{
				background: #fcfcfd;
			}
				
				#content .center .downloads tbody tr td{
					padding: 10px 5px;
				}
				
					#content .center .downloads tbody tr td a{
						margin: 0 4px;
					}
					
	#content .center .comments{
		float: left;
		display: inline;
		padding: 0;
		margin: 0;
		list-style: none;
	}
	
		#content .center .comments li.title{
			padding: 15px 0;
			color: #183c8e;
			background: none;
			padding: 0;
		}
		
			#content .center .comments li.title strong{
				width: 100% !important;
			}
		
		#content .center .comments li{
			float: left;
			display: inline;
			background: #e4e8f2;
			padding: 20px;
			margin: 0 0 10px 0;
			color: #575757;
		}
		
		#content .center .comments li.bg{
			background: #eff1f8;
		}
		
			#content .center .comments li img{
				float: left;
				display: inline;
				margin: 0 14px 0 0;
			}
			
			#content .center .comments li strong{
				float: left;
				display: inline;
				width: 325px;
				color: #183c8e;
				margin: 0 0 5px 0;
			}
			
			#content .center .comments li span{
				float: right;
				display: inline;
				font-style: italic;
				font-size: 11px;
				color: #183c8e;
				margin: 5px 0 0 0;
			}

	#content .center .questions{
		float: left;
	}
	
		#content .center .questions h4{
			float: left;
			display: inline;
			font-size: 14px;
			color: #183c8e;
			margin: 0 0 10px 0;
			width: 478px;
		}
		
		#content .center .questions ul{
			float: left;
			display: inline;
			padding: 0 0 10px 0;
			margin: 0;
			list-style: none;
		}
		
			#content .center .questions ul li{
				float: left;
				display: inline;
				background: #eff1f7;
				padding: 1px;
				margin: 0 0 10px 0;
			}
			
				#content .center .questions ul li a{
					float: left;
					background: #e1e4ed url("../img/icons/ico_blue_more.jpg") no-repeat 10px center;
					width: 446px;
					padding: 10px 10px 10px 30px;
					font-weight: bold;
				}
				
					#content .center .questions ul li a.less{
						background-image: url("../img/icons/ico_blue_less.jpg");
					}
				
				#content .center .questions ul li p{
					float: left;
					background: #eff1f7;
					width: 466px;
					padding: 10px;
					margin: 0;
					color: #575757;
					font-size: 11px;
					display: none;
				}

#main .menu{
	float: left;
	padding: 0 0 19px 0;
	margin: 0 10px 0 0;
	width: 220px;
	background: #183c8e url(../img/bg_products_menu.jpg) no-repeat left bottom;
}

	#main .menu h2{
		background: #183c8e url(../img/titles/tit_produtos_servicos.jpg) no-repeat left top;
		text-indent: -9999px;
		float: left;
		width: 100%;
		height: 75px;
		margin: 0;
	}

	#main .menu .accordion{
		float: left;
	}

		#main .menu .accordion h3, 
		#main .menu .accordion h4{
			float: left;
			display: inline;
			background: #e7ebf3;
			margin: 0 0 0 7px;
			width: 213px;
			font-weight: normal;
			outline: none;
		}
	
		#main .menu .accordion h3.bg, 
		#main .menu .accordion h4.bg{
			background: #d3daea;
		}
		
		#main .menu .accordion h3.ui-state-active, 
		#main .menu .accordion h4.ui-state-active{
			background: #183c8e;
			color: #ffce0d;
			font-weight: bold;
		}
		
			#main .menu .accordion h3 a, #main .menu .accordion h3 a:visited, 
			#main .menu .accordion h4 a, #main .menu .accordion h4 a:visited{
				float: left;
				padding: 16px 0 16px 30px;
				width: 183px;
				text-transform: uppercase;
				font-size: 13px;
			}
			
				#main .menu .accordion h3 a.credito, #main .menu .accordion h4 a.credito{
					background: url(../img/icons/products_services/ico_credito.png) no-repeat left top;
				}
				
					#main .menu .accordion h3.ui-state-active a.credito, #main .menu .accordion h4.ui-state-active a.credito{
						background: url(../img/icons/products_services/ico_credito.png) no-repeat left -47px;
					}
					
				#main .menu .accordion h3 a.maquininhas, #main .menu .accordion h4 a.maquininhas{
					background: url(../img/icons/products_services/ico_maquininhas.png) no-repeat left top;
				}
				
					#main .menu .accordion h3.ui-state-active a.maquininhas, #main .menu .accordion h4.ui-state-active a.maquininhas{
						background: url(../img/icons/products_services/ico_maquininhas.png) no-repeat left -47px;
					}
					
				#main .menu .accordion h3 a.automacao, #main .menu .accordion h4 a.automacao{
					background: url(../img/icons/products_services/ico_automacao.png) no-repeat left 4px;
				}
				
					#main .menu .accordion h3.ui-state-active a.automacao, #main .menu .accordion h4.ui-state-active a.automacao{
						background: url(../img/icons/products_services/ico_automacao.png) no-repeat left -40px;
					}
					
				#main .menu .accordion h3 a.internet, #main .menu .accordion h4 a.internet{
					background: url(../img/icons/products_services/ico_internet.png) no-repeat left 4px;
				}
				
					#main .menu .accordion h3.ui-state-active a.internet, #main .menu .accordion h4.ui-state-active a.internet{
						background: url(../img/icons/products_services/ico_internet.png) no-repeat left -40px;
					}
					
				#main .menu .accordion h3 a.inovacao, #main .menu .accordion h4 a.inovacao{
					background: url(../img/icons/products_services/ico_inovacao.png) no-repeat left top;
				}
				
					#main .menu .accordion h3.ui-state-active a.inovacao, #main .menu .accordion h4.ui-state-active a.inovacao{
						background: url(../img/icons/products_services/ico_inovacao.png) no-repeat left -47px;
					}
					
				#main .menu .accordion h3 a.aumente, #main .menu .accordion h4 a.aumente{
					background: url(../img/icons/products_services/ico_aumente.png) no-repeat left 4px;
				}
				
					#main .menu .accordion h3.ui-state-active a.aumente, #main .menu .accordion h4.ui-state-active a.aumente{
						background: url(../img/icons/products_services/ico_aumente.png) no-repeat left -40px;
					}
					
				#main .menu .accordion h3 a.complemente, #main .menu .accordion h4 a.complemente{
					background: url(../img/icons/products_services/ico_complemente.png) no-repeat left 10px;
				}
				
					#main .menu .accordion h3.ui-state-active a.complemente, #main .menu .accordion h4.ui-state-active a.complemente{
						background: url(../img/icons/products_services/ico_complemente.png) no-repeat left -40px;
					}
					
				#main .menu .accordion h3 a.descubra, #main .menu .accordion h4 a.descubra{
					background: url(../img/icons/products_services/ico_descubra.png) no-repeat left 10px;
				}
				
					#main .menu .accordion h3.ui-state-active a.descubra, #main .menu .accordion h4.ui-state-active a.descubra{
						background: url(../img/icons/products_services/ico_descubra.png) no-repeat left -47px;
					}
			
			#main .menu .accordion h3 a:hover, #main .menu .accordion h3 a:focus, 
			#main .menu .accordion h4 a:hover, #main .menu .accordion h4 a:focus{
				text-decoration: none;
				font-weight: bold;
			}
			
			#main .menu .accordion h3.ui-state-active a, #main .menu .accordion h3.ui-state-active a, 
			#main .menu .accordion h4.ui-state-active a, #main .menu .accordion h4.ui-state-active a{
				color: #ffce0d;
			}
			
		#main .menu .accordion div{
			float: left;
			display: inline;
			width: 189px;
			margin: 0 0 0 7px;
			padding: 0 12px 12px 12px;
		}
			
			#main .menu .accordion div ul{
				padding: 0;
				margin: 0;
			}
		
				#main .menu .accordion div ul li{
					float: left;
					display: inline;
					width: 155px;
					margin: 0 0 10px 25px;
					padding: 0 0 0 9px;
					background: url(../img/bullets/blt_yellow.gif) no-repeat left 7px;
				}
		
					#main .menu .accordion div ul li a{
						color: #fff;
					}
					
					#main .menu .accordion div ul li a.selected, #main .menu .accordion div ul li a:hover, #main .menu .accordion div ul li a:focus{
						color: #ffce0d;
						text-decoration: none;
					}
					
#content .submenu{
	float: left;
	background: #ffce0d url(../img/bg_menu_yellow.jpg) no-repeat right bottom;
}

	#content .submenu ul{
		padding: 0;
		margin: 0;
		height: 47px;
	}
	
		#content .submenu ul li{
			display: inline;
			float: left;
		}
		
			#content .submenu ul li a, #content .submenu ul li a:visited{
				float: left;
				height: 15px;
				margin: 16px 0;
				padding: 0 12px;
				text-transform: uppercase;
				text-align: center;
				border-right: solid #244694 1px;
			}
			
			#content .submenu ul li a.selected, #content .submenu ul li a:hover, #content .submenu ul li a:focus{
				color: #fff;
				background: #244694;
				margin: 0 !important;
				padding: 16px 12px !important;
				text-decoration: none;
				border-right-color: #244694;
			}

#content h2{
	float: left;
	display: inline;
	width: 697px;
	margin: 15px 0;
	font-size: 23px;
	letter-spacing: -1px;
	color: #14388c;
	text-transform: uppercase;
}

#content p.description{
	font-size: 12px;
	color: #575757;
	margin: 0 0 15px 0;
	float: left;
	display: inline;
}

#content div.description
{
	font-size: 12px;
	color: #575757;
	margin: 0 0 15px 0;
	float: left;
	display: inline;
	width:486px;
}


	#content div.description h3{
		margin: 0;
		font-size: 15px;
	}
	
	#content div.description span{
		color: #183c8e;
		font-style: italic;
	}
	
	#content div.description div.comments{
		float: left;
		height: 52px;
		width: 486px;
		margin: 10px 0;
		background: url("../img/bg_tools.jpg") repeat-x left 5px;
	}
	
		#content div.description div.comments span{
			float: left;
			padding: 20px 20px 14px 20px;
			color: #575757;
			font-style: normal;
			font-size: 13px;
			background: url("../img/divisor_tools.jpg") no-repeat right bottom;
		}
		
			#content div.description div.comments span strong{
				padding: 0 0 0 15px;
				background: url("../img/bullets/blt_seta_right_darkblue.png") no-repeat left center;
				font-size: 15px;
			}
			
		#content div.description div.comments a{
			float: left;
			width: 62px;
			height: 26px;
			color: #ffce0d;
			text-transform: uppercase;
			background: url("../img/bg_link_comment.png") no-repeat left center;
			padding: 4px 7px;
			margin: 15px 0 0 20px;
		}

	#content div.profile{
		float: left;
		display: inline;
		margin: 0 0 15px 0;
	}

	#content .needHelp{
		float: left;
		width: 214px;
		margin: 0 22px 0 0;
	}
	
		#content .needHelp h2{
			float: left;
			width: 214px;
			height: 29px;
			text-indent: -9999px;
			margin: 0 0 5px 0;
			background: url(../img/titles/tit_precisa_ajuda.jpg) no-repeat left top;
		}
		
		#content .needHelp p{
			float: left;
			color: #575757;
			font-size: 11px;
			line-height: 12px;
			margin: 0;
		}
		
		#content .needHelp a{
			float: left;
			margin: 5px 0 0 0;
		}
		
	#content .section .highlights p{
		height: auto !important;
	}
		
	#content .testimonials{
		float: left;
		width: 214px;
		margin: 0 22px 0 0;
	}
	
		#content .testimonials h2{
			float: left;
			width: 214px;
			height: 29px;
			text-indent: -9999px;
			margin: 0 0 5px 0;
			background: url(../img/titles/tit_depoimentos.jpg) no-repeat left top;
		}
		
		#content .testimonials p{
			float: left;
			display: inline;
			color: #575757;
			line-height: 12px;
			font-size: 11px;
			margin: 0;
		}
		
		#content .testimonials p img{
			border: none;
			margin: 0 10px 0 0;
		}
		
		#content .testimonials p a{
			float: left;
		}
		
			#content .testimonials p a.btnBlue{
				margin: 5px 0 0 0;
			}
			
			#content .testimonials p a.btnBlue span{
				color: #ffffff;
			}
	
	#content .banner{
		float: left;
	}
	
	#content .center ul.testimonials, #content .center ul.videos{
		float: left;
		list-style: none;
		padding: 0;
	}
	
		#content .center ul.testimonials li, #content .center ul.videos li{
			float: left;
			background: #eff1f7;
			margin: 0 0 15px 0;
			color: #575757;
			padding: 15px;
			width: 460px;
		}
		
			#content .center ul.testimonials li div.media, #content .center ul.videos li div.media{
				float: left;
				margin: 0 15px 0 0;
			}
			
			#content .center ul.testimonials li strong, #content .center ul.videos li strong{
				float: left;
				margin: 5px 0 0 0;
			}
			
			#content .center ul.videos li strong{
				margin: 0;
			}
			
			#content .center ul.videos li em{
				float: left;
				width: 310px;
				margin: 0 0 5px 0;
			}
			
			#content .center ul.videos li span{
				float: left;
				color: #183c8e;
			}
			
				#content .center ul.videos li.video span{
					float: right;
				}
