/*
Projeto: BBF - Facelift
Descrição: 
    CSS usado apenas com a intenção de ocultar o title default da página, ou seja,
    quando há necessidade e implementar um title dinâmico (ex na página pn_RelatoriosDetalhe.aspx)
Autor/Empresa: Iteris Consultoria e Software
©Copyright: 2016 Rede
Notas:
*/

#rede-area-aberta #portal-content .container > .title,
#rede-area-aberta #portal-content .container > .description-rede {
    display: none !important;
}
