@charset "iso-8859-1";
/* CSS Document */

body{
                font-family:Arial, Helvetica, sans-serif;
}

a {
                color:inherit;
}

/* HEADER */
#header
{
                height:85px;
                background:url(images/bg_header.jpg) repeat-x;
}

#header .header-content{
                margin:auto;
                width:930px;
}

#header .top-links{
                width:100%;
                height:20px;
                padding-top:6px;
                margin-bottom:7px;
                display:block;
                text-decoration: 'underline';
}


#header .top-links ul{
                float: right;
                list-style-type: none;
                list-style-image: none;
                margin: 0;
}

#header .top-links ul li:first-child {
                border-left-width: 0px;
                border-left-style: none;
}

#header .top-links ul li {
                float: left;
                display: block;
                border-left-width: 1px;
                border-left-color: #FFFFFF;
                border-left-style: solid;
                padding: 0 12px;
}

#header .top-links ul li a, .top-links ul li a:visited{
                color:#FFF;
                font-size:10px;
                font-weight:bold;
                text-decoration: underline;
}

#header .logo{
                width:121px;
                height:40px;
                background:url(images/LogoRede.png) no-repeat;
                display:block;
                float:left;
}

#header .logo a{
                display:block;
                width:100%;
                height:100%;
                text-indent:-999px;
}

#header .login{
                float:right;
                height:51px;
                display:block;
                color:#fff;
                font-size:11px !important;
}

#header .login .primeiro-acesso{
                float:left !important;
                width:115px !important;
                display:block !important;
                font-weight:bold !important;
                font-size:13px !important;
                text-align:right !important;
                margin-right:18px !important;
                padding-top:15px !important;
                line-height: 17px !important;
                text-decoration: underline !important;
                color:White;
}

#header .login .primeiro-acesso a, .primeiro-acesso a:visited{
                color: #fff;
                border-style: solid;
                border-width: 2px;
                border-color: #ffff01;
                font-size: 12px;
                font-weight: normal;
                padding-left: 8px;
                padding-right: 8px;
                padding-bottom: 5px;
                padding-top: 5px;
                border-radius: 5px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                white-space: nowrap;
}

#header .login .estabelecimentos{
                float:left;
                display:block;
                margin-right:8px;
                padding-top:13px;
}

#header .login .numero-estabelecimento{
                float:left;
                display:block;
                width:131px;
                margin-right:8px;
                white-space: nowrap;
}

#header .login .usuario{
                float:left;
                display:block;
                margin-right:8px;
}

#header .login .senha{
                float:left;
                display:block;
                margin-right:8px;
}

#header .login .btn-ok{
                float:left;
                display:block;
                padding-top: 10px;
}

#header .login select{
                font-size:12px;
                color:#818181;
                border:1px solid #944100;
                height:18px;
                margin:0px;
}

#header .login input{
                font-size:12px;
                color:#818181;
                border:1px solid #944100;
                height:14px;
                margin:0px;
}

#header .login .label{
    padding-bottom:2px;
}

#header .login .esqueci{
    padding-top:4px;
    text-decoration: underline;
    font-size: 12px;
    cursor: pointer;
}

#header .login .esqueci a, .esqueci a:visited{
    padding-top:4px;
    text-decoration: underline;
    font-size: 12px;
    cursor: pointer;
}

#header .login .btn-ok input{
                padding: 0 0 0 4px;
                margin: 2px 0 0 0;
                border: 0;
                background-image: url("images/Bkg_BotaoOk.png");
                background-repeat: no-repeat;
                width: 30px;
                height: 19px;
                font-family: Gill Sans MT, Arial;
                font-size: 14px;
                line-height: 19px;
                color: #FFFFFF;
}


/* FIM DO HEADER */

/* MENU HORIZONTAL */
#menuHorizontal
{
                height:42px;
                background:url(images/bg_menuHorizontal.jpg) repeat-x;
}

#menuHorizontal .menuHorizontal-content{
                margin:auto;
                width:930px;
                display: table;
                padding-top: 4px;
}

#menuHorizontal .menuHorizontal-content ul{
                list-style-type: none;
                list-style-image: none;
                display: table-row;
}

#menuHorizontal .menuHorizontal-content li:first-child {
                border-right: 0px;
                border-left: 0px;
}

#menuHorizontal .menuHorizontal-content li{
                text-align: center;
                display: table-cell;
                border-left: 1px solid #c0c6d2;
                padding: 0px 0px;
                height: 32px;
                line-height: 32px;
                font-size:14px;
                color:#000000;
                margin-top:5px;
                width: 15%;
                white-space: nowrap;
}

#menuHorizontal .menuHorizontal-content li a, a:visited{
                text-decoration:none;
                color:#000;
                cursor:pointer;
}

#menuHorizontal .menuHorizontal-content li a:hover, a.selected{
                border-bottom:4px solid #ea7125;
}

/* FIM DO MENU HORIZONTAL */


/* MIOLO PRINCIPAL */
#principal
{
                /*min-height:533px;*/
}

#principal .principal-content{
                margin:auto;
                width:930px;
                clear:both;
}

#principal .principal-content .bannerDestaque{
                width:930px;
}

    #principal .principal-content .bannerDestaque > table
    {
        height:228px;
        margin-top:22px;
    }    

#principal .principal-content .chamadas{
                /*height:268px;*/
}

#principal .principal-content .chamadas a, .chamadas a:visited{
                text-decoration:none;
                cursor:pointer;
}

#principal .chamadas .colunaEsquerda
{
    width: 710px;
    float: left;
    padding-bottom: 19px;
}

#principal .chamadas .coluna1{
                float:left;
                width:245px;
}

#principal .chamadas .coluna2{
                float:left;
                width:250px;
}

#principal .chamadas .coluna3{
                float:left;
                width:215px;
}

#principal .chamadas .colunaDireita{
                float:left;
                width:220px;
}

#principal .chamadas .colunaDireita .naoCliente{
                height:149px;
                background:url(images/bg_NaoCliente.jpg) no-repeat right;
                padding-right:20px;
}

#principal .chamadas .colunaDireita h2{
                font-size: 18px;
                text-align: right;
                margin-right: 14px;
                margin-top: 15px;
}

#principal .chamadas .colunaDireita h3{
                font-size:30px;
                text-align:right;
}

#principal .chamadas .colunaDireita h3 span{
                font-size:25px;
}

#principal .chamadas .colunaDireita .texto{
                color: #818181;
                font-size: 12px;
                text-align: right;
                padding: 6px 0px 0px 30px;
                height: 55px;
                line-height: 15px;
                letter-spacing: 1px;
}

#principal .chamadas .colunaDireita .flashFlags{
                color:#595959;
                padding-top:5px;
                height:114px;
                clear:both;
                background:url(images/bg_bandeiras.jpg) no-repeat right bottom;
}

#principal .chamadas .colunaDireita .flashFlags p
{
    display: table-cell;
    empty-cells: hide;
    font-family: Myriad Pro;
    color: #000;
    font-size: 18px;
}

#principal .chamadas .colunaDireita .flashFlags object
{
    margin-top: 15px;
    margin-bottom: 5px;
    width: 220px;
    height: 40px !important;
}

#principal .chamadas .colunaDireita .flashFlags a.btnYellow {
                background: url("images/btn_yellow_arrow_2.png") no-repeat right top;
                width:99px;
                line-height:20px;
                float:right;
                margin-right:10px;
}

#principal .chamadas .colunaDireita .flashFlags h1{
                font-size:18px;
                text-align:center;
}

#principal .chamadas .colunaDireita .flashFlags .flashBandeiras{
                width:220px;
                height:46px;
                display:block;
}


#principal .chamadas .title{
                height:76px;
                border-left:7px solid #ffcc04;
                margin-top:22px;
                text-align:center;
}

#principal .chamadas .title h1{
    color: #000;
                font-size:18px;
                padding-top:17px;
                line-height: 22px;
                letter-spacing: 1px;
}

#principal .chamadas .textoChamada{
                color: #818181;
                font-size: 12px;
                text-align: center;
                padding: 16px 30px 0px 30px;
                height: 55px;
                line-height: 15px;
                letter-spacing: 1px;
}

#principal .chamadas .imgChamada{
                text-align:center;
                width:150px;
                height:77px;
                margin:auto;
}

#principal .formulario input{
                font-size:12px;
                color:#818181;
                border:1px solid #944100;
                height:14px;
                margin:0px;
}

/* FIM DO MIOLO PRINCIPAL */

/* FOOTER */
#footer
{
                height:240px;
                clear: both;
}

#footer .secoes{
                height:214px;
                background:url(images/bg_secoes.jpg) repeat-x;
                clear:both;
}

#footer .secoes-content{
                margin:auto;
                width:930px;
}

#footer .secoes-content ul{
                margin: 0;
                padding: 25px 85px 0 0px;
                list-style-type: none;
                list-style-image: none;
                float: left;
}

#footer .secoes-content ul li{
                font-size:11px !important;
                color:#616161 !important;
                margin-bottom:8px !important;
}

#footer .secoes-content ul li:first-child {
                padding: 0 0 12px 0 !important;
                font-size:12px !important;
                font-weight:bold !important;
                color:#000 !important;
}

#footer .secoes-content ul li a{
                text-decoration:none;
}

#footer .secoes-content ul li a:hover{
                text-decoration:none;
}


#footer .copyright{
                height:26px;
                background-color:#818181;
}

#footer .copyright-content{
                margin:auto !important;
                width:930px !important;
                color:#FFF !important;
                line-height:26px !important;
                font-size:11px !important;
}

#footer .copyright-content .txtLeft{
                float:left !important;
                line-height:26px !important;
}

#footer .copyright-content .txtRight{
                float:right;
                line-height:26px;
}

#footer .copyright-content a, #footer .copyright-content a:visited{
                color:#FFF;
                text-decoration:none;
                margin-left:10px;
}

#footer .copyright-content a:hover{
                text-decoration:none;
}

/* FIM DO FOOTER */

/* Botões */

a.btnYellow{
                color: #183c8e;
                text-decoration: none;
}

a.btnYellow:visited {
                color: #183c8e;
}

a.btnYellow {
                display: block;
                background: url("images/btn_yellow_arrow.png") no-repeat right top;
                height: 20px;
                width:72px;
                padding: 5px 12px 5px 5px;
                font-size:12px;
                font-weight: bold;
                line-height:20px;
                float: right;
}

a.btnBack {
                background: #183C8E url("images/bullets/blt_seta_left_yellow.png") no-repeat left center;
                border: none;
                color: #fff !important;
                float: left;
                display: inline;
                font: 12px "Tahoma";
                font-weight: bold;
                height: 15px;
                padding: 3px 8px 3px 16px;
                margin: 0 20px 0 0;
                text-decoration:none;
}


a.btnTop{
    background: #183C8E url("images/bullets/blt_seta_top_yellow.png") no-repeat 4px center;
                border: none;
                color: #fff !important;
                float: left;
                display: inline;
                font: 12px "Tahoma";
                font-weight: bold;
                height: 15px;
                padding: 3px 8px 3px 16px;
                text-transform: uppercase;    
}

a.btnBlue{
    float: right !important;
                border: none;
                color: #fff !important;   
                display: inline;
                font: 12px "Tahoma";
                font-weight: bold;
                height: 15px;
                padding: 2px 10px 3px 12px;
                text-transform: uppercase !important;
                background: url(images/bullets/bullet_btn.gif) #788dbd no-repeat 5px;
}


button.btnBlue{
	background: #788dbd;
	border: none;
	color: #fff !important;
	float: right;
	display: inline;
	font: 12px "Tahoma";
	font-weight: bold;
	height: 22px;
	padding: 2px 10px;
	text-transform: uppercase !important;
	margin-right:24px;
	background: url(images/bullets/bullet_btn.gif) #788dbd no-repeat 5px;
}

.rounded-corners {
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                border-radius: 3px;
}


/* Páginas Internas */
.breadcrumb{
                margin: auto;
                width: 930px;
                font-size:11px;
                color:#818181;
                padding-top:14px;
                height: 24px;
}

.breadcrumb ul li{
                background-image: url("images/Ico_BCT.png");
                background-repeat: no-repeat;
                background-position: right;
                float: left;
                padding-right: 6px;
                margin-right: 4px;
}

.breadcrumb ul li a{
                text-decoration:none;
                color:#818181;
}

.breadcrumb ul li a:hover{
                text-decoration:underline;
}

.breadcrumb ul li.last{
                background-image:none;
                font-weight:bold;
}

.breadcrumb ul.size{
    float: right;    
}

.breadcrumb ul.size li{
    background-image: none;
    font-size: 12px;
}

/* Menu Vertical */
.menuVertical{
                float:left;
                width:220px;
                margin-right:26px;
                margin-bottom: 20px;
}

.menuVertical a{
                text-decoration:none;
}

#principal .chamadas .colunaDireita .redecardClick{
                clear:both;
                height:77px;
                background:url(images/bg_redeUmClique.jpg) no-repeat right top;
                text-align:right;
                padding-right:20px;
                font-size:12px;
                color:#616161;
}

#principal .chamadas .colunaDireita .redecardClick label{
                padding-top:16px;
                padding-bottom:5px;
                display:block;
}

#principal .chamadas .colunaDireita .redecardClick select{
                color:#818181;
                font-size:12px;
                border:1px solid #944100;
}

.tools {
                float: left;
                display: inline;
                height: 39px;
                background: url(images/bg_tools.jpg) repeat-x;             
                width: 100%;
                color: #616161;
                font-size:11px;
                line-height: 18px;            
                margin-top: 15px;
}

.tools ul {
                float: left;
                display: inline;
                padding-top: 12px;
                padding-left:12px;          
}

.tools ul li {
                float: left;
                display: inline;
                background: url(images/divisor_tools.jpg) no-repeat right bottom;
                padding-right:14px;
}

.tools ul li div {
    padding: 0 !important;
}

a.ico_send {
                float: left;
                text-indent: -9999px;
                width: 17px;
                height: 15px;
                background: url(images/icons/ico_send.gif) no-repeat;
                margin-top:2px;
}

a.ico_print {
                float: left;
                text-indent: -9999px;
                width: 16px;
                height: 15px;
                background: url(images/icons/ico_print.gif) no-repeat;
}

/* Classes utilizadas pelo controle Comum AssistentePassos */
div#steps{
    margin-top: 20px!important;
	margin-bottom: 20px!important;
	padding-bottom: 20px!important;
}

div#steps div#divPasso{
    float: left;
    height: 29px;
}

div#steps .num{
	float:left;
	width:29px;
	height:29px;
	background-image:url(/_layouts/Redecard.Comum/IMAGES/passos_laranja.jpg);
	background-repeat:no-repeat;
	margin-right:10px;	
}
    
div#steps .txt{
	float:left;
	font:bold 14px Arial;
	color:#000000;
	margin-right:5px;
	margin-left:-5px;
}

div#steps .anterior .txt,
div#steps .proximo .txt{
    visibility: hidden;
}

div#steps .txt table{
    height: 36px; 
    margin-top: -4px;
}

div#steps .txt table td{
    vertical-align: middle;
}

div#steps .anterior,
div#steps .proximo{
    width: 20px;
    margin-right:20px;
}

div#steps .anterior.ativado .num,
div#steps .proximo.ativado .num{
    cursor: pointer;
}

div#steps .anterior.passo1 .num {
    background-position:0px -29px;
}

div#steps .ativado.passo1 .num{
    background-position:0px 0px !important;
}

div#steps .anterior.passo2 .num,
div#steps .proximo.passo2 .num{
	background-position:-29px -29px;
}

div#steps .ativado.passo2 .num{
    background-position:-29px 0px !important;
}

div#steps .anterior.passo3 .num,
div#steps .proximo.passo3 .num{
	background-position:-58px -29px;
}

div#steps .ativado.passo3 .num{
    background-position:-58px 0px !important;
}

div#steps .anterior.passo4 .num,
div#steps .proximo.passo4 .num{
	background-position:-87px -29px;
}

div#steps .ativado.passo4 .num{
    background-position:-87px 0px !important;
}

div#steps .anterior.passo5 .num,
div#steps .proximo.passo5 .num{
	background-position:-116px -29px;
}

div#steps .ativado.passo5 .num{
    background-position:-116px 0px !important;
}

div#steps .anterior.passo6 .num,
div#steps .proximo.passo6 .num{
	background-position:-145px -29px;
}

div#steps .ativado.passo6 .num{
    background-position:-145px 0px !important;
}

div#steps .anterior.passo7 .num,
div#steps .proximo.passo7 .num{
	background-position:-174px -29px;
}

div#steps .ativado.passo7 .num{
    background-position:-174px 0px !important;
}

div#steps .anterior.passo8 .num,
div#steps .proximo.passo8 .num{
	background-position:-203px -29px;
}

div#steps .ativado.passo8 .num{
    background-position:-203px 0px !important;
}

div#steps .anterior.passo9 .num,
div#steps .proximo.passo9 .num{
	background-position:-232px -29px;
}

div#steps .ativado.passo9 .num{
    background-position:-232px 0px !important;
}

/* Página de Releases */

#content .center .left .frmSearchReleases BUTTON{
    float: left;
}

a.pdf
{
    float: left;
    text-indent: -9999px;
    width: 16px;
    height: 16px;
    background: url(../img/icons/ico_pdf.gif) no-repeat;
}

}

.sitemap p.bg, .sitemap div.bg{
	background-image: url("../img/bg_sitemap.jpg") !important;
}

	.sitemap .description ul{
		border-left: solid #ffc10c 6px;
		padding: 0 0 2px 7px !important;
		width: auto !important;
		margin: 0 45px !important;
	}
	
		.sitemap .description ul li{
			background: none !important;
			padding: 0 !important;
			margin: 5px 0 0 0 !important;
			font-size: 15px;
			width: auto !important;
		}
		
			.sitemap .description ul li strong, .sitemap .description ul li strong a{
				float: left;
				text-transform: uppercase;
				color: #14388c;
				font-size: 19px;
				font-weight: normal;
				margin: 0 0 5px 0;
			}
		
			.sitemap .description ul li.sitemapitem a{
				text-transform: none;
				color: #575757;
				font-size: 11px;
				background: url("../img/bullets/blt_seta_yellow_2.png") no-repeat left center;
				padding: 0 0 0 15px;
			}
			
	.sitemap .description h3{
		float: left !important;
		width: 180px !important;
		border-left:5px solid #FFCB00;
		color: #14388C;
		display: inline;
		font-size: 22px !important;
		font-weight: normal;
		margin: 0 140px !important;
		padding-left: 8px;
		text-transform: uppercase;
	}

table.painel
{
    font-family: Arial, Verdana, Tahoma;
    font-size: 12px;
    color: #545454;
    table-layout: auto;
    border: 1px solid #a9a9a9;
    margin: 10px 0;
}

table.painel tr td
{
    padding: 5px;
}

table.painel thead tr th
{
    background-image: url("/_layouts/Redecard.Comum/IMAGES/bkg_box.png");
    background-color: #CCCCCC !important;
    font-family: Arial;
    font-weight: bold;
    color: #085092;
    text-align: left;
    text-transform: none;
    height: 20px;
    line-height: 20px;
    padding-left: 5px;
}

.alinhaDireita{
	text-align:right!important;
}

.alinhaEsquerda{
	text-align:left!important;
}

.alinhaCentro{
	text-align:center!important;
}

.w555
{
    width: 555px;
}

.caixaTexto{
    float:none!important;
    background: #ffffff;
    border: solid 1px #183c8e!important;
    height: 14px;
    font-size: 12px;
    color: #183C8E;
    padding: 3px 5px;
    margin: 0 0px 0 5px;
}

.w150
{
    width: 150px;
}

.bold
{
    font-weight: bold;
}

#divEmailMsg
{
    padding: 5px;
}

.vAlignMiddle
{
    vertical-align: middle;
}

.h26
{
    height: 26px;
}

/* Tooltip */

.tooltip
{    
    position: absolute;
    left: 500px;
    bottom: 200px;
    border-style: solid;
    border-collapse: collapse;
    border-width: 1px;
    border-color: #808080;
    padding: 10px !important;
    width: 120px;
    min-height: 30px;
    min-width: 120px;
}

table.tooltip thead tr td
{
    background-color: #183c8e;
    vertical-align: middle;
    padding-left: 5px;
}

.tituloTooltip label
{
    background-color: #183c8e;
    font-weight: bold;
    color: #000;
    vertical-align: middle;
    text-align: left;
    border-bottom: 0;
}

.tituloTooltip td
{
    background-color: #183c8e;
    font-weight: bold;
    color: #000;
    vertical-align: middle;
    text-align: left;
    border-bottom: 0;
    height: 80px;
}

.mensagemTooltip
{
    background-color: #FFFFFF;
    font-family: Arial;
    font-size: 12px !important;
    color: #404040;
    padding: 10px !important;
}

.mensagemTooltip label
{
    background-color: #FFFFFF;
    font-family: Arial;
    font-size: 12px !important;
    color: #404040;
    vertical-align: baseline;
}

.closeModal
{
    padding: 5px;
    vertical-align: middle;
    text-align: right;
    width: 5%;
    height: 15px;
    top: 4px;
    right: 4px;
    cursor: pointer;
}

.toolTipImage
{
    vertical-align: middle;
}

#divValidacaoCPFCNPJ, #divValidacaoConfirmacaoEmail
{
    display: inline-block;
    vertical-align: middle;
}