/*
 * Projeto: BBF - Facelift
 * Descrição: Facelift de elementos do corpo principal das páginas
 * Autor/Empresa: Iteris Consultoria e Software
 * ©Copyright: 2017 Rede S.A
 * Notas:   
    [02/09/2016] - [JFR] Inclusão de novos elementos para o facelift
    [29/09/2016] - [JFR] Refatoração do conteúdo usando SAAS
    [25/10/2016] - [VRI] Alterações de classes para a modal de confirmação
    [04/11/2016] - [JFR] Organização/disposição das classes e evolução dos elementos de facelif    
    [15/05/2017] - [JFR] Alterações visuais dos elementos de facelift; organização do conteúdo para melhor aproveitamento de estilos
    [13/06]2017] - [JFR] Melhorias de design do portal
    [18/07/2017] - [JFR] Redesign portal  
*/
@charset "UTF-8";
body.rede-zero {
  /* timer Sessão */ }
  body.rede-zero .timer-rede {
    font-size: 14px;
    text-align: right;
    height: 55px;
    padding-top: 19px; }
    body.rede-zero .timer-rede > div {
      display: inline-block; }
    body.rede-zero .timer-rede i {
      font-size: 20px;
      padding-right: 0px;
      line-height: 14px;
      margin-right: 2px; }
    body.rede-zero .timer-rede .timer-number {
      font-family: "itau-display-bold", Sans-serif; }
    body.rede-zero .timer-rede.legacy-version {
      height: 0;
      padding-top: 0; }
  body.rede-zero .last-access {
    float: left;
    font-size: 14px; }

.breadcrumb-container.breadcrumb-rede-zero {
  margin-bottom: 32px; }
  .breadcrumb-container.breadcrumb-rede-zero #breadcrumb {
    padding: 0;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    float: left; }
    .breadcrumb-container.breadcrumb-rede-zero #breadcrumb * {
      font-family: "itau-display-regular", Sans-serif;
      color: #C5C0BC;
      font-size: 14px; }
    .breadcrumb-container.breadcrumb-rede-zero #breadcrumb span span.breadcrumb-root {
      padding: 0;
      cursor: pointer; }
      .breadcrumb-container.breadcrumb-rede-zero #breadcrumb span span.breadcrumb-root > a {
        color: #C5C0BC;
        text-decoration: none; }
        .breadcrumb-container.breadcrumb-rede-zero #breadcrumb span span.breadcrumb-root > a:hover {
          text-decoration: underline; }
    .breadcrumb-container.breadcrumb-rede-zero #breadcrumb .breadcrumb-separator,
    .breadcrumb-container.breadcrumb-rede-zero #breadcrumb .current-separator {
      background-repeat: no-repeat;
      width: 6px;
      height: 8px;
      display: inline-block;
      margin: 0 6px;
      cursor: initial; }
    .breadcrumb-container.breadcrumb-rede-zero #breadcrumb .breadcrumb-separator {
      background-image: url("/sites/fechado/Style%20Library/pt-br/Redecard/Img/redeareafechada-facelift/bar.png"); }
    .breadcrumb-container.breadcrumb-rede-zero #breadcrumb .current-separator {
      display: none; }
    .breadcrumb-container.breadcrumb-rede-zero #breadcrumb .breadcrumb-current * {
      color: #605751;
      font-family: "itau-display-semibold", Sans-serif;
      cursor: initial; }

.breadcrumb-container {
  margin-bottom: 45px; }

#breadcrumb {
  padding: 0;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  float: left; }
  #breadcrumb * {
    font-family: "itau-display-regular", Sans-serif;
    color: #605751;
    font-size: 12px; }
  #breadcrumb span span.breadcrumb-root {
    padding-left: 8px; }
    #breadcrumb span span.breadcrumb-root > a {
      color: #605751;
      text-decoration: none; }
      #breadcrumb span span.breadcrumb-root > a:hover {
        text-decoration: underline; }
  #breadcrumb .breadcrumb-separator,
  #breadcrumb .current-separator {
    background-repeat: no-repeat;
    width: 6px;
    height: 8px;
    display: inline-block;
    margin: 0 6px; }
  #breadcrumb .breadcrumb-separator {
    background-image: url("/sites/fechado/Style%20Library/pt-br/Redecard/Img/redeareafechada-facelift/breadcrumb-arrow.png"); }
  #breadcrumb .current-separator {
    background-image: url("/sites/fechado/Style%20Library/pt-br/Redecard/Img/redeareafechada-facelift/breadcrumb-arrow-active.png");
    margin-left: -15px; }

.last-access {
  float: right;
  font-size: 12px; }

@charset "UTF-8";
/* ================= Reset Buttons ============= */
input[type=button],
input[type=reset],
input[type=submit],
button {
  margin-left: 0; }

/* ================= botões ============= */
.btn-rede {
  height: 40px;
  float: left;
  margin-left: 0px;
  min-width: 115px; }
  .btn-rede:first-child {
    margin-left: 0; }
  .btn-rede:focus {
    outline: none; }
  .btn-rede ~ .btn-rede {
    margin-left: 16px; }
  .btn-rede input[type="button"],
  .btn-rede input[type="submit"] {
    padding: 7px 10px; }
  .btn-rede.btn-app .btn-secondary {
    background-color: #252220;
    border-radius: 5px; }
    .btn-rede.btn-app .btn-secondary a {
      padding: 6px 15px; }
  .btn-rede .btn-primary,
  .btn-rede .btn-secondary {
    font-family: "itau-display-semibold", Sans-serif;
    font-size: 14px;
    float: left;
    height: 42px;
    display: table;
    text-align: center;
    min-width: 175px;
    cursor: pointer;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box; }
    .btn-rede .btn-primary a,
    .btn-rede .btn-secondary a {
      display: table-cell;
      vertical-align: middle;
      padding: 0 15px;
      text-decoration: none; }
    .btn-rede .btn-primary img,
    .btn-rede .btn-secondary img {
      max-width: 100%; }
    .btn-rede .btn-primary > input,
    .btn-rede .btn-secondary > input {
      background-color: transparent;
      border: 0;
      font-family: "itau-display-semibold", Sans-serif;
      width: 100%;
      padding: 11px 15px;
      font-size: 14px;
      cursor: pointer;
      outline: 0; }
    .btn-rede .btn-primary.portal-disabled,
    .btn-rede .btn-secondary.portal-disabled {
      font-size: 14px;
      background-color: #D8D3CF;
      border-color: #D8D3CF; }
      .btn-rede .btn-primary.portal-disabled:active:hover, .btn-rede .btn-primary.portal-disabled:active:focus, .btn-rede .btn-primary.portal-disabled:hover, .btn-rede .btn-primary.portal-disabled:focus, .btn-rede .btn-primary.portal-disabled:active,
      .btn-rede .btn-secondary.portal-disabled:active:hover,
      .btn-rede .btn-secondary.portal-disabled:active:focus,
      .btn-rede .btn-secondary.portal-disabled:hover,
      .btn-rede .btn-secondary.portal-disabled:focus,
      .btn-rede .btn-secondary.portal-disabled:active {
        background-color: #D8D3CF; }
      .btn-rede .btn-primary.portal-disabled > input,
      .btn-rede .btn-secondary.portal-disabled > input {
        color: #605751;
        cursor: default;
        opacity: 0.4;
        outline: 0; }
  .btn-rede .btn-primary {
    background-color: #F1AE2F; }
    .btn-rede .btn-primary a {
      color: #252220 !important; }
    .btn-rede .btn-primary > input {
      color: #252220; }
    .btn-rede .btn-primary:active:hover, .btn-rede .btn-primary:active:focus, .btn-rede .btn-primary:hover, .btn-rede .btn-primary:focus, .btn-rede .btn-primary:active {
      background-color: #F1AE2F; }
  .btn-rede .btn-secondary {
    background-color: #605751; }
    .btn-rede .btn-secondary a {
      color: #FFFFFF !important; }
    .btn-rede .btn-secondary > input {
      color: #FFFFFF;
      font-size: 14px; }
    .btn-rede .btn-secondary:active:hover, .btn-rede .btn-secondary:active:focus, .btn-rede .btn-secondary:hover, .btn-rede .btn-secondary:focus, .btn-rede .btn-secondary:active {
      background-color: #605751; }

/* ================= carregar mais ============= */
.load-more {
  width: 100%; }
  .load-more > .btn-primary {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    float: none; }

/* ================= Específicos ============= */
.btn-apple-store {
  margin-left: 10px !important; }

ul.footer-list .btn-secondary {
  width: 120px;
  min-width: 115px;
  background-color: #000; }
  ul.footer-list .btn-secondary:hover {
    background-color: #000; }
  ul.footer-list .btn-secondary a {
    padding: 12px 0; }

ul.footer-list.secondary-button.rede-button {
  width: 110px;
  overflow: hidden;
  background-color: #000; }
  ul.footer-list.secondary-button.rede-button .centralize img {
    margin-top: 2px; }
  ul.footer-list.secondary-button.rede-button:first-child .centralize img {
    margin-top: 3px; }

.button-hover {
  border-bottom: 0;
  margin-top: 4px; }

.site-map-item .btn-rede.btn-apple-store {
  margin-left: 10px; }

input.order-button-rede {
  margin-bottom: -3px;
  margin-left: 5px; }

/* ================= botões Old ============= */
.rede-button {
  float: left;
  margin-left: 16px; }
  .rede-button:first-child {
    margin-left: 0; }

.secondary-button .button-body {
  background-color: #605751;
  height: 46px;
  width: 100%;
  display: table; }
  .secondary-button .button-body:hover {
    background-color: #605751; }
  .secondary-button .button-body img {
    max-width: 100%; }

.secondary-button .button-shadow {
  background-color: #252220;
  height: 2px; }

.footer-rede-zero#footer {
  background: #C5C0BC;
  color: #252220; }
  .footer-rede-zero#footer .footer-title {
    font-family: "itau-display-semibold", Sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 14px 0 18px; }
    .footer-rede-zero#footer .footer-title a,
    .footer-rede-zero#footer .footer-title a:hover,
    .footer-rede-zero#footer .footer-title a:visited,
    .footer-rede-zero#footer .footer-title a:focus {
      color: inherit;
      font-family: "itau-display-semibold", Sans-serif; }
  .footer-rede-zero#footer ul.footer-list a {
    color: #252220;
    font-family: "itau-display-semibold", Sans-serif;
    text-decoration: none; }
  .footer-rede-zero#footer ul.footer-list li {
    font-size: 14px;
    font-family: "itau-display-semibold", Sans-serif;
    margin-bottom: 16px;
    line-height: 1.5; }
    .footer-rede-zero#footer ul.footer-list li ul li {
      padding: 8px 0;
      padding-left: 8px;
      margin-bottom: 0;
      line-height: 1.5; }
      .footer-rede-zero#footer ul.footer-list li ul li a {
        color: #605751;
        font-family: "itau-display-regular", Sans-serif; }
  .footer-rede-zero#footer ul.footer-list .btn-secondary {
    background-color: transparent;
    border: 0; }
    .footer-rede-zero#footer ul.footer-list .btn-secondary a {
      padding: 0; }
  .footer-rede-zero#footer .app-store-rede {
    padding: 0px 16px 10px;
    margin-bottom: 60px; }
    .footer-rede-zero#footer .app-store-rede .footer-title {
      padding-bottom: 0; }
  .footer-rede-zero#footer .copyright-rede {
    width: 75%;
    margin-bottom: 48px;
    font-size: 14px;
    padding: 0 24px; }
  .footer-rede-zero#footer .icon-redesocial-rede {
    float: left;
    padding: 0 10px 0 0; }

.copyright,
.copyright.other-text {
  height: 32px;
  width: 100%;
  text-align: center;
  display: block;
  background-color: #605751;
  color: #FFFFFF;
  padding: 8px;
  font-size: 12px;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

#footer {
  color: #FFFFFF;
  background-color: #605751;
  margin-top: 85px; }

#footer .portal-container {
  width: 100%; }

.site-map .site-map-item {
  padding: 32px 16px; }

.footer-title {
  font-size: 16px;
  font-family: "itau-display-bold", Sans-serif;
  margin-bottom: 32px; }

ul.footer-list > li {
  margin-bottom: 7px; }

ul.footer-list a {
  text-decoration: none;
  color: #FFFFFF; }

ul.footer-list a:hover {
  text-decoration: underline; }

ul.footer-list > li {
  font-family: "itau-display-bold", Sans-serif;
  margin-bottom: 25px;
  font-size: 13px; }

ul.footer-list > li ul li {
  font-family: "itau-display-regular", Sans-serif;
  margin-bottom: 3px;
  font-size: 12px; }

ul.footer-list > li ul {
  margin-top: 5px;
  font-size: 12px;
  list-style: none;
  padding: 0; }

ul.footer-list {
  font-size: 13px;
  list-style: none;
  padding: 0; }

.ajuda ul.footer-list > li {
  margin-bottom: 3px;
  font-family: "itau-display-regular", Sans-serif; }

.site-map .site-map-item.ajuda {
  padding: 32px 16px 0; }

.rede-cnpj-adress {
  font-size: 12px;
  line-height: 18px;
  margin-top: 55px; }

body.rede-zero #header {
  background: #EC7404;
  color: #FFFFFF;
  margin-bottom: 32px;
  z-index: 100; }
  body.rede-zero #header .action-link-rede {
    font-size: 16px;
    color: #018486;
    font-family: "itau-display-bold", Sans-serif; }
  body.rede-zero #header .info-stats-rede {
    line-height: 1.5; }
    body.rede-zero #header .info-stats-rede > span {
      display: inline-block;
      width: 100%; }
  body.rede-zero #header .header-content {
    background: #EC7404;
    color: #FFFFFF; }
    body.rede-zero #header .header-content button.controller-button {
      color: #FFFFFF;
      cursor: pointer;
      line-height: 1.3; }
      body.rede-zero #header .header-content button.controller-button i {
        color: #FFFFFF;
        cursor: pointer; }
  body.rede-zero #header .portal-content {
    height: 64px; }
  body.rede-zero #header .logo-box {
    width: 96px;
    padding: 10px 0;
    box-sizing: border-box; }
  body.rede-zero #header .portal-container-fluid {
    border: 0;
    box-shadow: none; }
  body.rede-zero #header .header-container, body.rede-zero #header .orange-bg, body.rede-zero #header .logo-box {
    height: 64px; }
  body.rede-zero #header .logo-box img {
    width: 100%; }
  body.rede-zero #header .navbar-right {
    margin-top: 12px;
    margin-right: -5px;
    float: right; }
    body.rede-zero #header .navbar-right > div {
      float: left; }
    body.rede-zero #header .navbar-right .navbar-toggler.controller-button {
      border: 0;
      background: transparent;
      font-size: 24px;
      padding: 4px 0;
      box-sizing: border-box; }
    body.rede-zero #header .navbar-right .btn-search {
      border-right: 1px solid #FFFFFF;
      height: 38px;
      margin-right: 24px; }
      body.rede-zero #header .navbar-right .btn-search .navbar-toggler.controller-button {
        font: 14px "itau-display-bold", Sans-serif;
        margin-right: 24px; }
        body.rede-zero #header .navbar-right .btn-search .navbar-toggler.controller-button i {
          font-size: 24px;
          margin-left: 8px; }
    body.rede-zero #header .navbar-right .user-actions {
      position: relative;
      margin-top: 2px; }
  body.rede-zero #header .menu-wrapper-rede {
    display: inline-block; }
    body.rede-zero #header .menu-wrapper-rede .first-lvl {
      display: inline-block;
      margin: 0 20px;
      margin-left: 70px;
      font-size: 0; }
      body.rede-zero #header .menu-wrapper-rede .first-lvl li {
        display: inline-block;
        font-size: 14px;
        vertical-align: middle;
        box-sizing: border-box; }
        body.rede-zero #header .menu-wrapper-rede .first-lvl li.active-rede > ul {
          display: block; }
        body.rede-zero #header .menu-wrapper-rede .first-lvl li.active-rede > a {
          background: #FFFFFF;
          color: #252220; }
          body.rede-zero #header .menu-wrapper-rede .first-lvl li.active-rede > a i {
            color: #EC7404; }
          body.rede-zero #header .menu-wrapper-rede .first-lvl li.active-rede > a:after {
            color: #EC7404; }
        body.rede-zero #header .menu-wrapper-rede .first-lvl li.has-child-rede:hover > a:after, body.rede-zero #header .menu-wrapper-rede .first-lvl li.has-child-rede:active > a:after, body.rede-zero #header .menu-wrapper-rede .first-lvl li.has-child-rede:focus > a:after {
          color: #EC7404; }
        body.rede-zero #header .menu-wrapper-rede .first-lvl li.has-child-rede a:after {
          font-family: 'itaufonts_master_24px_v1' !important;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 0.8;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; }
        body.rede-zero #header .menu-wrapper-rede .first-lvl li.has-child-rede > a:after {
          content: "\e9cc";
          font-size: 20px;
          vertical-align: top;
          padding-left: 4px;
          box-sizing: border-box; }
        body.rede-zero #header .menu-wrapper-rede .first-lvl li.has-child-rede ul .has-child-rede > a:after {
          content: "\e9cd";
          font-size: 24px;
          color: #EC7404;
          float: right;
          margin-right: -16px;
          margin-top: -2px; }
        body.rede-zero #header .menu-wrapper-rede .first-lvl li.has-child-rede ul .has-child-rede:hover a:after, body.rede-zero #header .menu-wrapper-rede .first-lvl li.has-child-rede ul .has-child-rede:active a:after, body.rede-zero #header .menu-wrapper-rede .first-lvl li.has-child-rede ul .has-child-rede:focus a:after {
          color: #FFFFFF; }
        body.rede-zero #header .menu-wrapper-rede .first-lvl li:hover > a, body.rede-zero #header .menu-wrapper-rede .first-lvl li:focus > a, body.rede-zero #header .menu-wrapper-rede .first-lvl li:active > a {
          background: #FFFFFF;
          color: #252220; }
          body.rede-zero #header .menu-wrapper-rede .first-lvl li:hover > a i, body.rede-zero #header .menu-wrapper-rede .first-lvl li:focus > a i, body.rede-zero #header .menu-wrapper-rede .first-lvl li:active > a i {
            color: #EC7404; }
        body.rede-zero #header .menu-wrapper-rede .first-lvl li > a {
          font-family: "itau-display-semibold", Sans-serif; }
        body.rede-zero #header .menu-wrapper-rede .first-lvl li a {
          padding: 22px 20px;
          display: block;
          cursor: pointer;
          font-size: 14px;
          height: 64px;
          box-sizing: border-box;
          line-height: 1.2; }
          body.rede-zero #header .menu-wrapper-rede .first-lvl li a:hover, body.rede-zero #header .menu-wrapper-rede .first-lvl li a:focus, body.rede-zero #header .menu-wrapper-rede .first-lvl li a:active {
            background: #FFFFFF;
            color: #252220; }
            body.rede-zero #header .menu-wrapper-rede .first-lvl li a:hover i, body.rede-zero #header .menu-wrapper-rede .first-lvl li a:focus i, body.rede-zero #header .menu-wrapper-rede .first-lvl li a:active i {
              color: #EC7404; }
        body.rede-zero #header .menu-wrapper-rede .first-lvl li i {
          font-size: 20px;
          vertical-align: text-bottom;
          padding-left: 4px;
          box-sizing: border-box; }
      body.rede-zero #header .menu-wrapper-rede .first-lvl ul.second-lvl,
      body.rede-zero #header .menu-wrapper-rede .first-lvl ul.third-lvl {
        position: absolute;
        width: 300px;
        color: #605751;
        background: #FFFFFF;
        -webkit-box-shadow: 0px 1px 1px 0px #d8d3cf;
        -moz-box-shadow: 0px 1px 1px 0px #d8d3cf;
        box-shadow: 0px 1px 1px 0px #d8d3cf; }
        body.rede-zero #header .menu-wrapper-rede .first-lvl ul.second-lvl li,
        body.rede-zero #header .menu-wrapper-rede .first-lvl ul.third-lvl li {
          display: block;
          border-bottom: 1px solid #DDDDDD;
          position: relative; }
          body.rede-zero #header .menu-wrapper-rede .first-lvl ul.second-lvl li a,
          body.rede-zero #header .menu-wrapper-rede .first-lvl ul.third-lvl li a {
            padding: 18px 20px;
            height: auto;
            font-family: "itau-display-regular", Sans-serif;
            font-size: 14px;
            box-sizing: border-box; }
          body.rede-zero #header .menu-wrapper-rede .first-lvl ul.second-lvl li:hover > a, body.rede-zero #header .menu-wrapper-rede .first-lvl ul.second-lvl li:focus > a, body.rede-zero #header .menu-wrapper-rede .first-lvl ul.second-lvl li:active > a,
          body.rede-zero #header .menu-wrapper-rede .first-lvl ul.third-lvl li:hover > a,
          body.rede-zero #header .menu-wrapper-rede .first-lvl ul.third-lvl li:focus > a,
          body.rede-zero #header .menu-wrapper-rede .first-lvl ul.third-lvl li:active > a {
            background: #018486;
            color: #FFFFFF;
            font-family: "itau-display-semibold", Sans-serif; }
            body.rede-zero #header .menu-wrapper-rede .first-lvl ul.second-lvl li:hover > a i, body.rede-zero #header .menu-wrapper-rede .first-lvl ul.second-lvl li:focus > a i, body.rede-zero #header .menu-wrapper-rede .first-lvl ul.second-lvl li:active > a i,
            body.rede-zero #header .menu-wrapper-rede .first-lvl ul.third-lvl li:hover > a i,
            body.rede-zero #header .menu-wrapper-rede .first-lvl ul.third-lvl li:focus > a i,
            body.rede-zero #header .menu-wrapper-rede .first-lvl ul.third-lvl li:active > a i {
              color: #FFFFFF; }
          body.rede-zero #header .menu-wrapper-rede .first-lvl ul.second-lvl li:hover > ul, body.rede-zero #header .menu-wrapper-rede .first-lvl ul.second-lvl li:focus > ul, body.rede-zero #header .menu-wrapper-rede .first-lvl ul.second-lvl li:active > ul,
          body.rede-zero #header .menu-wrapper-rede .first-lvl ul.third-lvl li:hover > ul,
          body.rede-zero #header .menu-wrapper-rede .first-lvl ul.third-lvl li:focus > ul,
          body.rede-zero #header .menu-wrapper-rede .first-lvl ul.third-lvl li:active > ul {
            display: block; }
          body.rede-zero #header .menu-wrapper-rede .first-lvl ul.second-lvl li.has-child-rede a:after,
          body.rede-zero #header .menu-wrapper-rede .first-lvl ul.third-lvl li.has-child-rede a:after {
            line-height: 1.2; }
        body.rede-zero #header .menu-wrapper-rede .first-lvl ul.second-lvl i,
        body.rede-zero #header .menu-wrapper-rede .first-lvl ul.third-lvl i {
          float: right;
          color: #EC7404;
          font-size: 24px;
          margin-right: -16px; }
      body.rede-zero #header .menu-wrapper-rede .first-lvl .second-lvl {
        display: none; }
        body.rede-zero #header .menu-wrapper-rede .first-lvl .second-lvl .third-lvl {
          display: none;
          position: absolute;
          left: 100%;
          top: 0; }
  body.rede-zero #header .menu-container {
    padding-right: 5px;
    box-sizing: border-box; }
  body.rede-zero #header .sub-menu-container {
    display: none; }
    body.rede-zero #header .sub-menu-container.active-rede {
      display: block; }
    body.rede-zero #header .sub-menu-container .expanded-info {
      background: #FFFFFF;
      color: #605751;
      font-size: 14px;
      position: absolute;
      z-index: 10;
      right: 0;
      min-height: 0;
      width: 350px;
      left: auto;
      top: 40px;
      right: -20px;
      border-radius: 4px;
      padding: 8px 24px;
      box-sizing: border-box;
      -webkit-box-shadow: 0px 1px 1px 0px #d8d3cf;
      -moz-box-shadow: 0px 1px 1px 0px #d8d3cf;
      box-shadow: 0px 1px 1px 0px #d8d3cf; }
      body.rede-zero #header .sub-menu-container .expanded-info:before {
        content: '';
        background: url("/sites/fechado/Style%20Library/pt-br/Redecard/Img/redeareafechada-facelift/triangulo-tooltip.svg");
        width: 9px;
        height: 4px;
        position: absolute;
        top: -4px;
        right: 28px; }
      body.rede-zero #header .sub-menu-container .expanded-info .user-store {
        padding-bottom: 30px;
        border-bottom: 1px solid #DDDDDD;
        box-sizing: border-box; }
        body.rede-zero #header .sub-menu-container .expanded-info .user-store .title {
          font-family: "itau-display-light", Sans-serif;
          font-size: 24px;
          margin: 16px 0;
          line-height: 1.6;
          color: #605751; }
      body.rede-zero #header .sub-menu-container .expanded-info .user-perfil-info {
        margin: 30px 0;
        box-sizing: border-box; }
        body.rede-zero #header .sub-menu-container .expanded-info .user-perfil-info .perfil-photo {
          border-radius: 100%;
          height: 40px;
          width: 40px;
          margin-right: 24px;
          position: absolute;
          background: #018486;
          display: none; }
        body.rede-zero #header .sub-menu-container .expanded-info .user-perfil-info .info-stats-rede {
          max-width: 100%;
          line-height: 1.5; }
          body.rede-zero #header .sub-menu-container .expanded-info .user-perfil-info .info-stats-rede > span {
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis; }
      body.rede-zero #header .sub-menu-container .expanded-info .user-actions {
        display: block;
        margin-bottom: 24px;
        font-family: "itau-display-semibold", Sans-serif;
        line-height: 1.5; }
        body.rede-zero #header .sub-menu-container .expanded-info .user-actions.action-link-rede {
          display: inline-block; }
          body.rede-zero #header .sub-menu-container .expanded-info .user-actions.action-link-rede span {
            color: #018486;
            vertical-align: text-bottom; }
        body.rede-zero #header .sub-menu-container .expanded-info .user-actions span {
          color: #605751;
          vertical-align: top;
          line-height: 24px;
          font-family: "itau-display-semibold", Sans-serif; }
        body.rede-zero #header .sub-menu-container .expanded-info .user-actions i {
          color: #EC7404;
          font-size: 24px;
          padding-right: 8px;
          box-sizing: border-box; }
        body.rede-zero #header .sub-menu-container .expanded-info .user-actions:hover span {
          text-decoration: underline; }
  body.rede-zero #header a.user-actions {
    font-family: "itau-display-bold", Sans-serif; }

body.rede-zero .overlay-header-rede {
  display: none;
  visibility: hidden;
  position: fixed;
  background-color: #605751;
  opacity: 0.6;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 90; }
  body.rede-zero .overlay-header-rede.active-rede {
    display: block;
    visibility: visible; }

body#rede-area-fechada.rede-zero div#s4-workspace-rede {
  background-color: #EFE9E5 !important; }

body#rede-area-fechada .portal-content {
  width: 1248px !important; }

#header {
  position: relative;
  background: #FFFFFF;
  margin-bottom: 12px; }
  #header .orange-bg {
    width: 50%;
    position: absolute;
    background: #ff7800 !important; }

.header-container {
  position: relative;
  z-index: 2; }

.fluid-header {
  width: 100%;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  -webkit-box-shadow: 0px 8px 6px -8px #b3b3b3;
  -moz-box-shadow: 0px 8px 6px -8px #b3b3b3;
  box-shadow: 0px 8px 6px -8px #b3b3b3;
  behavior: url("/sites/fechado/Style Library/pt-br/Redecard/JScript/pie.htc"); }

.header-content {
  background-color: #FFFFFF;
  height: 79px; }

.header-container,
.orange-bg,
.logo-box {
  height: 79px; }

.expiration {
  height: 18px;
  padding: 0px 0;
  margin: 2px 0; }

.user-actions .portal-box {
  float: left;
  height: 80px;
  text-align: center;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.user-actions .portal-box span {
  font-size: 14px;
  font-family: "itau-display-bold", Sans-serif; }

.user-actions .portal-box span.regular {
  font-family: "itau-display-regular", Sans-serif, Sans-Serif;
  max-width: 221px;
  overflow: hidden;
  text-overflow: ellipsis; }

.user-box {
  background-color: #018486;
  color: #FFFFFF;
  position: relative; }

#header #login-info {
  float: none;
  background: #FFFFFF;
  color: #605751;
  position: absolute;
  left: -84px;
  right: 0;
  top: 108%;
  margin: auto;
  width: 285px;
  -webkit-box-shadow: -1px 3px 8px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px 3px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -1px 3px 8px 0px rgba(0, 0, 0, 0.2); }

.user-info-box {
  padding: 16px 32px;
  position: relative;
  text-align: left; }

.user-info-box span {
  display: block;
  line-height: 1; }

img.ballon-triangle {
  position: absolute;
  top: -14px;
  left: 0;
  right: 0;
  margin: auto; }

.company-name {
  color: #EC7404;
  text-transform: uppercase;
  text-align: left;
  font-family: "itau-display-bold", Sans-serif;
  display: block; }

.company-name,
.user-info-box span.regular {
  margin-bottom: 16px; }

.user-actions .user-box #login-info a {
  color: #EC7404;
  font-family: "itau-display-bold", Sans-serif;
  text-decoration: underline;
  height: auto;
  padding: 0;
  font-size: 14px; }

.user-actions .user-box.portal-box i {
  margin-bottom: 6px; }

.menu-container {
  height: 80px; }

.menu-display-none {
  display: none; }

.user-actions .portal-box i {
  display: block;
  margin: 0px auto;
  margin-bottom: 3px; }

div#s4-workspace-rede {
  background-color: #f9f9f9;
  overflow-x: auto; }

.user-actions .portal-box a {
  text-decoration: none;
  color: #605751;
  width: 80px;
  padding: 16px;
  height: 80px;
  display: block;
  font-family: "itau-display-semibold", Sans-serif;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.user-actions .user-box a {
  color: #FFFFFF;
  width: auto;
  min-width: 80px; }

.user-actions .portal-box:hover {
  background-color: #D8D3CF; }

.user-actions .user-box:hover {
  background-color: #018486; }

/* oculta div adicionada automaticamente pelo Asp.Menu */
.menu-header + div {
  display: none !important; }

.menu-container > a[href$=SkipLink],
.menu-container > a[id$=SkipLink] {
  display: none !important; }

/*Menu principal*/
ul.level1:focus {
  outline: 0 !important; }

ul.level1 {
  margin: 0 16px !important; }

.level1 > li {
  padding: 0 16px; }

.level1 > li > a {
  height: 80px;
  padding: 32px 16px;
  line-height: 1;
  font-size: 14px;
  font-family: "itau-display-semibold", Sans-serif;
  cursor: pointer;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.level1 > li:hover {
  background-color: #D8D3CF;
  height: 79px; }

.level1 > li > a.popout {
  background-image: url("/sites/fechado/Style%20Library/pt-br/Redecard/Img/redeareafechada-facelift/arrow-down.png") !important;
  padding-right: 25px !important; }

ul.level2 {
  border-top: 1px solid #D8D3CF; }

ul.level2 li {
  height: 47px; }

.level2 > li > a.level2 {
  background-color: #D8D3CF;
  border-bottom: 1px solid #DDDDDD !important; }

.level2 > li > a.level2.highlighted {
  background-color: #FFFFFF;
  color: #018486; }

.level3 > li > a.level3.highlighted {
  background-color: #018486;
  color: #FFFFFF; }

.level2 > li > a.level2.highlighted,
.level3 > li > a.level3.highlighted {
  font-family: "itau-display-bold", Sans-serif; }

.level3 > li > a.level3 {
  background-color: #FFFFFF; }

.level2 > li > a.level2,
.level3 > li > a.level3 {
  color: #605751;
  padding: 16px 30px;
  background-image: none;
  line-height: 1;
  min-width: 335px;
  height: 47px;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px; }

.level2 > li > a.level2.popout {
  background-image: url("/sites/fechado/Style%20Library/pt-br/Redecard/Img/redeareafechada-facelift/arrow-second-level.png") !important;
  background-repeat: no-repeat !important;
  background-position: 95% 17px !important;
  padding-right: 35px !important; }

.level3 > li a.level3.popout {
  background-image: none !important; }

.level2 > li {
  position: static !important; }

.level2 ul.level3 {
  bottom: 0px;
  margin: auto;
  background-color: #FFFFFF; }

.shadow-box,
.level1 ul.level2 {
  -webkit-box-shadow: -1px 3px 8px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px 3px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -1px 3px 8px 0px rgba(0, 0, 0, 0.2);
  -pie-box-shadow: -1px 3px 8px 0px rgba(0, 0, 0, 0.2);
  behavior: url("/sites/fechado/Style Library/pt-br/Redecard/JScript/pie.htc"); }

.level2 ul.level3 {
  bottom: 0px;
  margin: auto;
  background-color: #FFFFFF;
  -webkit-box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.2);
  -pie-box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.2);
  behavior: url("/sites/fechado/Style Library/pt-br/Redecard/JScript/pie.htc"); }

.level2 i.fa-mobile {
  margin-left: 7px;
  display: inline-block;
  margin-top: -8px;
  font-size: 23px;
  vertical-align: sub; }

.level3 > li a.level3.popout {
  background-image: none !important; }

.level4, .level4 > * {
  display: none !important; }

.has-popup:hover > .level3 {
  display: block !important; }

/* ===================== Modal ====================== */
.modal-rede-lightbox,
.modal-rede {
  display: none; }

.modal-rede-lightbox-submit {
  clear: both; }

.modal-rede-lightbox .validation-message {
  color: #B71C1C; }

.ui-dialog {
  overflow: visible;
  padding: 0;
  min-width: 0; }

.ui-widget-overlay {
  opacity: 0.5;
  background: #333;
  filter: Alpha(Opacity=40); }

.ui-dialog.modal-rede-container .ui-dialog-title {
  width: 100% !important; }

.no-close .ui-dialog-titlebar-close {
  display: none; }

.ui-dialog .ui-widget-content .ui-state-default.ui-dialog-titlebar-close,
.ui-dialog .ui-widget-header .ui-state-default.ui-dialog-titlebar-close {
  position: absolute;
  right: -30px;
  top: 9px;
  border: none;
  background-color: transparent;
  background-image: url("/sites/fechado/Style%20Library/pt-br/Redecard/Img/redeareafechada-facelift/close-modal.png");
  background-repeat: no-repeat;
  background-position: center; }

.ui-dialog .ui-state-default.ui-dialog-titlebar-close .ui-icon {
  display: none; }

.ui-dialog .ui-helper-clearfix {
  border: 0;
  background: #FFFFFF;
  color: #018486;
  font-size: 24px;
  font-family: "itau-display-bold", Sans-serif;
  padding: 18px 22px 40px;
  line-height: 1; }

.ui-dialog .ui-dialog-content {
  padding: 22px;
  padding-top: 0; }

.portal-loading {
  background-image: url("/sites/fechado/Style%20Library/pt-br/Redecard/Img/redeareafechada-facelift/loader-fullscreen.gif");
  background-repeat: no-repeat;
  background-position: center top; }

.logout-pop-up.white-box {
  width: 370px;
  text-align: center; }
  .logout-pop-up.white-box i.icon-itaufonts_exclamacao {
    color: #F1AE2F;
    font-size: 65px;
    margin-bottom: 20px;
    display: inline-block; }
  .logout-pop-up.white-box .subtitle {
    margin-bottom: 30px;
    width: 100%; }
  .logout-pop-up.white-box .btn-primary,
  .logout-pop-up.white-box .btn-secondary {
    min-width: 155px; }
  .logout-pop-up.white-box .btn-rede {
    margin-left: 0; }

@charset "UTF-8";
/*Timer Sessão*/
#TimerSessao {
  width: auto;
  height: auto;
  float: right;
  margin-right: 0;
  margin-top: 0; }

#TimerSessao div#RelogioSessao {
  display: none; }

#TimerSessao div#SessaoCountdown {
  width: auto;
  height: auto;
  float: none;
  text-align: center;
  margin-left: 0;
  font-family: "itau-display-regular", Sans-serif; }

#TimerSessao div#SessaoCountdown b {
  font-family: "itau-display-bold", Sans-serif; }

@charset "UTF-8";
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  color: #605751; }
  html a:visited, html a:link,
  body a:visited,
  body a:link {
    color: inherit; }

* {
  font-family: "itau-display-regular", Sans-serif; }

div#portal-content {
  min-height: 100vh;
  margin-top: -294px;
  padding-top: 294px; }

div#pageContentCentraliza {
  min-height: 340px; }

body {
  background: #EFE9E5; }

*:focus,
*:active {
  outline: none; }

@media print {
  a[href]:after {
    content: none !important; }
  body {
    overflow: visible !important; }
  * {
    page-break-after: auto !important;
    page-break-before: auto !important;
    page-break-inside: auto !important; } }

ul, menu, dir {
  -webkit-padding-start: 0; }

/*=========================== Tools ===============================*/
.text-align-left,
.col-align-left {
  text-align: left !important; }

/*  REMOVIDA REGRA PARA '.col-align-right': 
    o header para valores alinhados à direita deve se manter à esquerda */
.text-align-right {
  text-align: right !important; }

.text-align-center,
.col-align-center {
  text-align: center !important; }

.clearfix:before,
.clearfix:after,
.portal-container:before,
.portal-content:after {
  content: " ";
  display: table; }

.clearfix:after,
.portal-content:after {
  clear: both; }

.clear {
  clear: both; }

.portal-container-fluid {
  width: 100%;
  min-width: 1260px; }

.portal-container,
.portal-content {
  margin: auto; }

.portal-container {
  width: 1260px; }

.portal-content {
  width: 1248px; }

.col-1:before, .col-1:after,
.col-2:before,
.col-2:after,
.col-3:before,
.col-3:after,
.col-4:before,
.col-4:after,
.col-5:before,
.col-5:after,
.col-6:before,
.col-6:after,
.col-7:before,
.col-7:after {
  content: " ";
  display: table; }

.col-1:after,
.col-2:after,
.col-3:after,
.col-4:after,
.col-5:after,
.col-6:after,
.col-7:after {
  clear: both; }

.col-2,
.col-4,
.col-5,
.col-6,
.col-7 {
  margin: 0 -16px; }

.col-1,
.col-3 {
  margin: 0 -24px; }

.col {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px; }

.col-1
.col-2 .table-col-rede,
.col-3 .table-col-rede,
.col-4 .table-col-rede,
.col-5 .table-col-rede,
.col-6 .table-col-rede,
.col-7 .table-col-rede {
  display: table;
  width: 100%; }
  .col-1
.col-2 .table-col-rede .col,
  .col-3 .table-col-rede .col,
  .col-4 .table-col-rede .col,
  .col-5 .table-col-rede .col,
  .col-6 .table-col-rede .col,
  .col-7 .table-col-rede .col {
    display: table-cell;
    float: none;
    vertical-align: top; }

.col-2 > .col,
.col-3 > .col,
.col-4 > .col,
.col-5 > .col,
.col-6 > .col,
.col-7 > .col {
  float: left; }

.col-2 > .col {
  width: 640px;
  padding: 0 16px; }

.col-3 > .col {
  width: 432px;
  padding: 0 24px; }

.col-4 > .col {
  width: 320px;
  padding: 0 16px; }

.col-5 > .col {
  width: 249px;
  padding: 0 16px; }

.col-6 > .col {
  width: 182px;
  padding: 0 16px; }

.col-7 > .col {
  width: 100px;
  padding: 0 16px; }

.col-1.percent > .col {
  width: 100%;
  padding: 0 24px; }

.col-2.percent > .col {
  width: 50%;
  padding: 0 16px; }

.col-3.percent > .col {
  width: 33.333333333333336%;
  padding: 0 24px; }

.col-4.percent > .col {
  width: 25%;
  padding: 0 16px; }

.col-5.percent > .col {
  width: 20%;
  padding: 0 16px; }

.filters-box .col-3 > .col {
  display: table-cell;
  float: none;
  vertical-align: top; }

.w10-percent {
  width: 10% !important; }

.w20-percent {
  width: 20% !important; }

.w30-percent {
  width: 30% !important; }

.w40-percent {
  width: 40% !important; }

.w50-percent {
  width: 50% !important; }

.w60-percent {
  width: 60% !important; }

.w70-percent {
  width: 70% !important; }

.w80-percent {
  width: 80% !important; }

.w90-percent {
  width: 90% !important; }

.w100-percent {
  width: 100% !important; }

.title {
  font-size: 24px;
  font-family: "itau-display-bold", Sans-serif;
  color: #018486;
  margin-bottom: 5px; }

.page-title-rede {
  font-size: 40px;
  font-family: "itau-display-light", Sans-serif;
  color: #605751;
  margin-bottom: 5px; }

.title-sm {
  font-family: "itau-display-bold", Sans-serif;
  color: #018486;
  margin-bottom: 5px; }

.subtitle {
  font-size: 18px;
  font-family: "itau-display-semibold", Sans-serif;
  color: #605751; }

.page-subtitle-rede {
  font-size: 18px;
  font-family: "itau-display-semibold", Sans-serif;
  color: #605751;
  max-width: 60%; }

.item-title {
  font-size: 16px;
  font-family: "itau-display-semibold", Sans-serif; }

.subtitle.bold {
  font-family: "itau-display-bold", Sans-serif; }

.commom-text {
  font-size: 14px;
  font-family: "itau-display-regular", Sans-serif;
  color: #605751; }

.commom-text a,
.portal-content .ms-WPBody .commom-text a,
.portal-content .ms-WPBody .commom-text a:visited {
  color: #EC7404; }

.commom-text-bold {
  font-size: 14px;
  font-family: "itau-display-bold", Sans-serif;
  color: #605751; }

.other-text {
  font-size: 12px;
  font-family: "itau-display-regular", Sans-serif;
  color: #605751; }

.other-text a {
  color: #EC7404; }

.other-text-bold {
  font-size: 12px;
  font-family: "itau-display-bold", Sans-serif;
  color: #605751; }

.small-text {
  font-size: 12px !important; }

.regular-text {
  font-size: 16px !important; }

.medium-text {
  font-size: 16px !important; }

.large-text {
  font-size: 18px !important; }

.extra-large-text {
  font-size: 24px !important; }

.regular {
  font-family: "itau-display-regular", Sans-serif; }

.semibold {
  font-family: "itau-display-semibold", Sans-serif; }

.light {
  font-family: "itau-display-light", Sans-serif; }

.bold,
body .ms-WPBody table td.bold {
  font-family: "itau-display-bold", Sans-serif; }

.jade-text {
  color: #018486 !important; }

.red-text {
  color: #B71C1C !important; }

.orange-text {
  color: #EC7404 !important; }

.grafite-text {
  color: #605751 !important; }

.grey-text {
  color: #DDDDDD !important; }

.white-text {
  color: #FFFFFF !important; }

.content-row {
  margin: 0 auto 60px;
  zoom: 1;
  width: 100%; }
  .content-row:before, .content-row:after {
    content: " ";
    display: table; }
  .content-row:after {
    clear: both; }

.row {
  margin-right: -16px;
  margin-left: -16px;
  box-sizing: border-box; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  .row.display-table {
    margin-right: 0;
    margin-left: 0; }

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 16px;
  padding-left: 16px;
  box-sizing: border-box; }

.white-row {
  background-color: #FFFFFF;
  padding-bottom: 20px; }

.white-box {
  padding: 25px 20px;
  background-color: #FFFFFF; }
  .white-box:before, .white-box:after {
    content: " ";
    display: table; }
  .white-box:after {
    clear: both; }

.box-rede {
  padding: 32px; }
  .box-rede:before, .box-rede:after {
    content: " ";
    display: table; }
  .box-rede:after {
    clear: both; }
  .box-rede .box-footer-rede {
    margin: 0 -32px;
    padding: 14px 16px;
    text-align: right; }
  .box-rede.no-padding .box-footer-rede {
    margin: 0; }

.item-box-rede {
  padding: 18px 32px; }

.card-shadow-rede {
  /* obsoleto -- será removido de todo portal */
  -webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1); }

.box-content-rede {
  padding: 15px 20px; }

.white-bg {
  background-color: #FFFFFF !important; }

.orange-bg {
  background-color: #EC7404 !important;
  color: #FFFFFF; }

.jade-bg {
  background-color: #018486 !important; }

.silver-bg {
  background-color: #DDDDDD !important; }

.snow-white-bg {
  background-color: #f9f9f9 !important; }

.grafite-bg {
  background-color: #605751 !important;
  color: #FFFFFF; }

.portal-content > .white-box,
.content-row > .white-box {
  /* obsoleto -- será removido de todo portal */
  -webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1); }

.margin-top-xs {
  margin-top: 8px; }

.margin-top-sm {
  margin-top: 16px !important; }

.margin-top-md {
  margin-top: 32px !important; }

.margin-top-lg {
  margin-top: 48px !important; }

.margin-top-xl {
  margin-top: 56px !important; }

.margin-bottom-xs {
  margin-bottom: 8px; }

.margin-bottom-sm {
  margin-bottom: 16px !important; }

.margin-bottom-md {
  margin-bottom: 32px !important; }

.margin-bottom-lg {
  margin-bottom: 48px !important; }

.margin-bottom-xl {
  margin-bottom: 56px !important; }

.col-with-border > .col {
  border-left: 1px solid #DDDDDD; }
  .col-with-border > .col:first-child {
    border-left: 0; }

.border-rede {
  border: 1px solid #DDDDDD !important; }

.no-border {
  border: 0 !important; }

.no-border-left {
  border-left: 0 !important; }

.no-border-right {
  border-right: 0 !important; }

.no-border-top {
  border-top: 0 !important; }

.no-border-bottom {
  border-bottom: 0 !important; }

.border-top {
  border-top: 1px solid #DDDDDD !important; }

.border-bottom {
  border-bottom: 1px solid #DDDDDD !important; }

.border-left {
  border-left: 1px solid #DDDDDD !important; }

.border-right {
  border-right: 1px solid #DDDDDD !important; }

.no-padding {
  padding: 0 !important; }

.no-padding-left {
  padding-left: 0 !important; }

.no-padding-right {
  padding-right: 0 !important; }

.no-padding-top {
  padding-top: 0 !important; }

.no-padding-bottom {
  padding-bottom: 0 !important; }

.no-margin {
  margin: 0 !important; }

.centralize {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.link-jade {
  color: #018486 !important;
  font-family: "itau-display-bold", Sans-serif; }

.link-branco {
  color: #FFFFFF !important;
  font-family: "itau-display-bold", Sans-serif; }

.link-preto {
  color: #252220 !important;
  font-family: "itau-display-bold", Sans-serif; }

.label-rede {
  font-size: 12px;
  font-family: "itau-display-bold", Sans-serif;
  margin-bottom: 5px;
  display: inline-block; }

.clear {
  clear: both; }

.display-table {
  display: table; }
  .display-table > div {
    display: table-cell;
    vertical-align: middle;
    float: none !important; }

.col-grid {
  margin: 0 -15px;
  width: 100%; }
  .col-grid > div {
    padding: 0 15px; }

.margin-auto {
  margin: auto; }

.vertical-align-bottom {
  vertical-align: bottom !important; }

.vertical-align-top {
  vertical-align: top !important; }

.vertical-align-middle {
  vertical-align: middle !important; }

/* margem indevida imposta pelo sharepoint */
#s4-workspace #s4-bodyContainer {
  padding-bottom: 0; }

.relative-rede {
  position: relative !important; }

.bottom-rede {
  bottom: 0px !important; }

.col-borders > .col,
.col-borders > div {
  border-left: 1px solid #DDDDDD; }
  .col-borders > .col:first-child,
  .col-borders > div:first-child {
    border-left: 0; }

.list-rede li {
  margin-bottom: 15px; }

.list-rede .card-img {
  width: 50px;
  text-align: center; }

.right-margin-space {
  margin-right: 10px !important; }

.left-padding-space {
  padding-left: 10px !important; }

.right-padding-space {
  padding-right: 10px !important; }

.left-padding-space {
  padding-left: 10px !important; }

.full-width {
  width: 100% !important;
  display: block; }
