.WebPartBlock
{
    padding-top: 20px;
}
.WebPartBlock p
{
    margin: 12px;
}
.WebPartBlock input[type="text"].InputText
{
    width: 100%;
    border: 1px solid rgb(75, 75, 100);
}
.WebPartBlock input[type="submit"].InputButton
{
    font-family: Tahoma;
    padding-left: 10px;
}
.WebPartBlock .RadioButton
{
    margin-right: 8px;
}
.WebPartBlock .RadioButton input
{
    margin-right: 2px;
}

.WebPartBlock .ColumnBlock
{
    border: 1px solid rgb(150, 150, 200);
    background-color: White;
}
.WebPartBlock .ColumnBlock .ColumnTitle
{
    color: White;
    font-weight: bold;
    font-family: Tahoma;
    font-size: 12px;
    background-color: rgb(25, 60, 145);
    border-bottom: 1px solid rgb(150, 150, 200);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.WebPartBlock .ColumnBlock .ColumnSubTitle
{
    text-align: center;
    padding: 10px;
    padding-bottom: 0px;
}
.WebPartBlock .ColumnBlock .ColumnSubTitle .Text
{
    font-size: 14px;
    border-bottom: 2px solid rgb(255, 205, 0);
}
.WebPartBlock .ColumnBlock .ColumnSubTitle .TextBlue
{
    color: rgb(25, 60, 145);
    font-size: 14px;
    border-bottom: 2px solid rgb(255, 205, 0);
}
.WebPartBlock .ColumnBlock .ColumnContent
{
    font-family: Verdana;
    font-size: 12px;
    border: 1px solid rgb(150, 150, 200);
    margin: 5px;
}
.WebPartBlock .ColumnBlock .ColumnButtons
{
    clear: both;
    margin: 10px;
    min-height: 25px;    
}

.WebPartBlock .AlignLeft
{
    float: left;
}
.WebPartBlock .AlignRight
{
    float: right;
}
.WebPartBlock .AlignClear
{
    clear: both;
    line-height: 25px;
}

.WebPartBlock .AlertSummary
{
    display: none;
}
.BlocoBotaoDireita
{
    float: right;
}

.BlocoBotaoEsquerda
{
    float: left;
}

.BlocoBotaoCentro
{
    float: none;
}

.TextoRodape 
{
    font-size: 10px;
    font-style: italic;    
}