/*
Projeto: BBF - Facelift
Descrição: Classes CSS com polifill específico para o IE 8
Autor/Empresa: Iteris Consultoria e Software
©Copyright: 2016 Rede
Notas: Atualizações das classes
    [29/09/2016] - [JFR] Adição de tratativas para as funcionalidades de atendimento digital para o IE8
    [10/10/2016] - [SKU] Adição de tratativas para as novas funcionalidades de atendimento digital para o IE8
*/

div#portal-content {
    min-height: 638px;
}

.money-values {
    min-height: 101px;
}

[id*=txtValorBrutoVenda], [id*=txtSaldoDisponivel], [id*=txtValorCancelamento] {
    width: 80px;
}

.filters-box .datepicker {
    width: 85px;
}

.filters-box {
    padding-bottom: 15px;
}

    .filters-box .col-4 > .col {
        height: 50px;
        /* overflow:hidden; */
    }

.selectboxit-container .selectboxit-list,
.dropdown-checkbox dd ul {
    border: 1px solid #ddd!important;
}

.step:first-child > .step-number > span {
    margin-left: -7px;
    margin-top: 0px;
}

.step:last-child > .step-number > span {
    margin-top: 0px;
}

.filters-box .datepicker-box {
    margin-bottom: 15px;
}

.tab-content .filters-box .datepicker-box {
    margin-bottom: 0;
}

.ui-dialog.coach-marks-rede .ui-widget-header .ui-state-default.ui-dialog-titlebar-close {
    top: 31px;
}

.level2 > li > ul.level3 {
    border: 1px solid #B3B3B3;
}

#header #login-info {
    border: 1px solid #b3b3b3;
}

.portal-lightbox-consulta-pv {
    width: 673px !important;
}

    .portal-lightbox-consulta-pv .modal-rede-lightbox .rede-search .search-box .search-button {
        position: absolute;
    }

    .portal-lightbox-consulta-pv .modal-rede-lightbox .rede-search .search-box > .search-input {
        line-height: 45px;
    }

.statement-box-md.restricted .value-box {
    height: 272px;
}

.statement-box-sm.restricted .value-box {
    height: 53px;
}

.information-home-carousel-rede #frameRav .item {
    height: 385px;
}

.filters-white.filters-box .datepicker {
    height: 26px;
    width: 123px;
    background-position-y: 0;
}

.filters-white.filters-box .datepicker-box label {
    line-height: 20px;
    display: table-cell;
}

.selectboxit-container span.datepicker-box {
    display: table;
    float: left;
}

.filters-box .datepicker-box {
    margin-bottom: 0px;
}

.filters-box.filters-white .datepicker-box label {
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
}

.edit-item-rede .form-control.datepicker {
    line-height: normal;
}

.filters-box.filters-white .col > div:first-child .datepicker-box {
	margin-bottom: 21px;
}


/* =========== atendimento ================ */

.social-icon {
    margin-top: 2px;
    margin-left: 0px;
    margin-bottom: -7px;
}

.social-bar-rede .col a span{
    line-height: 15px;
    margin-top: 0px;
    display: inline-block;
}

.social-bar-rede .col a .icon-itaufonts_deposito {
    margin-top: 0px;
    display: inline-block;
    position: absolute;
    top: -6px;
    left: -31px;
}


.social-bar-rede .col a span.bold
{
    margin-top: 6px;
    display: inline-block;
}

.social-bar-rede .col:last-child a span{
    margin-left: 55px;
    margin-top: 2px;
    display: inline-block;
    position: relative;
}

ul.steps-list-rede li div {
    width: 95%;
}

.maquininha-form-container{
    width: 923px;
}


/* verificar!!!! */
.maquininha-menu .rede-accordion .rede-accordion-item:first-child
{
    margin-bottom: 10px;
}

.maquininha-menu .rede-accordion .rede-accordion-item:last-child
{
    margin-bottom: 25px;
}

.fale-conosco-lightbox .rede-lightbox-container {
    width: 512px;
}

#pageContentCentraliza table * .facelift-container .form-control {
    padding: 0;
}

/* Adição de hover manual (IE8 não aceita pseudo-classe :hover)*/
.subcategory-box-rede .item.subcategory-hover .subcategory-info {
    top:0;
    -webkit-transition: all 0.8s;
    transition: all  0.8s;
}

/*============================= search atendimento ==============================*/
.rede-search .search-box > input,
.rede-search .search-box > .search-button
{
    display:block;
    float:left;
    margin-top:-5px;
}

#pageContentCentraliza TABLE * .rede-search .search-box  > INPUT[type=search]{
    padding:15px 20px !important;
}

.autocomplete-ng-selectboxit-text{
    border-right: 20px solid #fff;
}

