/*
Projeto:Redecard.PN.Extrato
Descrição: Folha de estilos Relatório de Vendas Comum
Autor/Empresa: Valdinei Ribeiro / Iteris Consultoria e Informática
Cliente:Rede S.A.
©Copyright:2014 Rede S.A.
Notas:
*/

.underline {
    text-decoration: underline !important;
}