/*
    Projeto: Portal Responsivo Rede
    Descição: Criação de páginas responsivas de Criação de Usuário, Recuperação de Senha e Recuperação de Usuário.
    Auto/Empresa: Juliano Marcon / Rede S.A.
    Cliente: Canais TI
    © Copyright 2015 Rede S.A.
    Notas: Css para IE8.
*/
div.erro .form-control-feedback, div.ok .form-control-feedback, div.atencao .form-control-feedback
{
    margin-top: 6px;
}

input[type="radio"], input[type="checkbox"]
{
    border: 0;
    padding-left: 4px;
}

div.has-feedback span.form-control input[type="radio"]:not(old),
div.has-feedback span.form-control input[type="checkbox"]:not(old)
{
    width:1em;
}
div.has-feedback span.form-control input[type=checkbox]:not(old) + label,
div.has-feedback span.form-control input[type=radio   ]:not(old) + label
{
    margin: 0 0 0 -1.1em;
}

div.has-feedback span.form-control input[type=checkbox]:not(old) + label > span, 
div.has-feedback span.form-control input[type=radio   ]:not(old) + label > span
{
    width: 20px;
    height: 20px;
    margin: 0em 0.25em 0.25em -0.25em;
}

/*
div.erro .form-control-feedback { background:transparent url('../Images/BolaErro.png') no-repeat -1px -1px}
div.ok .form-control-feedback { background:transparent url('../Images/BolaOk.png') no-repeat -3px 0px}
div.atencao .form-control-feedback{ background:transparent url('../Images/BolaAtencao.png') no-repeat -3px 0px}
*/



.erro .icone span, .erro .icone span span, .erro .icone em, .atencao .icone span, .atencao .icone span span, .atencao .icone em, .confirmacao .icone span, .confirmacao .icone span span, .confirmacao .icone em
{
    display: none;
}

/*
.erro .icone { background: transparent url('../Images/MensagemErro.png') no-repeat 0px 0px; }
.atencao .icone { background: transparent url('../Images/MensagemAtencao.png') no-repeat 0px 0px; }
.confirmacao .icone { background: transparent url('../Images/MensagemOk.png') no-repeat 0px 0px; }
*/

.popup .conteudo .fechar:link, .popup .conteudo .fechar:hover, .popup .conteudo .fechar:visited, .popup .conteudo .fechar:active
{
    background: url('../Images/Fechar.png') no-repeat center center;
}

.box h1, 
.box h2, 
.box h3
{
    background-color: #D8D8D8;
}