/*
Projeto: Rede.Credenciamento;
Descrição: CSS dos formulários da tela;
Autor/Empresa: Marcos de Deus/Iteris;
Autor/Empresa: Daniel Torres/Iteris;
Cliente: Rede;
©Copyright: 2014 Iteris;
Notas: 
    2015/09/08 - Inclusão de classes para novos grids de Bandeiras - Dhouglas Lombello
*/

/*Alinhar tabelas no centro do componente*/
table.center {
    margin-left: auto !important;
    margin-right: auto !important;
}

/* Stilo para formulários baseados em tabelas de duas colunas */
.tablecontainer {
    width: 700px;
    border: 1px solid #A9A9A9 !important;
    border-collapse: separate !important;
    border-spacing: .4em !important;
}

.title {
    width: auto !important;
    text-align: left;
    font-weight: bold;
    color: #085092;
    margin-left: 20px!important;
    font-size: 12px!important;
}

title span {
    font-weight: bold;
    color: #085092;
    margin-left: 20px!important;
}

.titleNoMargin {
    width: auto !important;
    text-align: left;
    font-weight: bold;
    color: #085092;
    margin-left: 0px!important;
}

    .titleNoMargin span {
        font-weight: bold;
        color: #085092;
        margin-left: 20px!important;
    }

.tablecontainer tr .label {
    width: 20%;
    text-align: right;
    vertical-align: top;
    font-size: 12px!important;
}

.tablecontainer tr .cellelement {
    margin-left: 10px !important;
    width: 70%;
    text-align: left;
}

    .tablecontainer tr .cellelement .sub-label {
        margin-left: 10px!important;
        font-size: 12px!important;
    }

    .tablecontainer tr .cellelement label {
        margin-right: 20px;
        font-size: 12px!important;
    }

.tablecontainer tr .errorelement {
    margin-left: 10px !important;
    width: 70%;
    text-align: left !important;
    height: 15px;
}

    .tablecontainer tr .errorelement span {
        margin-left: 10px !important;
        font-size: 11px !important;
        color: #f00;
    }

.tablecontainer .spacer {
    height: 5px;
}


.tablecontainer tr input[type='radio'] {
    border: 0!important;
}

.tablecontainer tr input[type='text'] {
    border: 1px solid #323232 !important;
    width: 40%;
}

.tablecontainer tr textarea {
    border: 1px solid #183c8e !important;
    width: 96%;
    height: 100% !important;
}

.tablecontainer tr td select {
    border: 1px solid #183c8e !important;
    width: 50%;
    color: #323232 !important;
}

#pageContentCentraliza .caixaTexto {
    color: #323232 !important;
    text-transform: uppercase !important;
}

.w15 {
    width: 15px!important;
}

.w30 {
    width: 30px!important;
}

.w40 {
    width: 40px!important;
}

.w50 {
    width: 50px!important;
}

.w55 {
    width: 55px!important;
}

.w60 {
    width: 60px!important;
}

.w70 {
    width: 70px!important;
}

.w80 {
    width: 80px!important;
}

.w90 {
    width: 90px!important;
}

.w132 {
    width: 132px!important;
}

.w145 {
    width: 145px!important;
}

.w155 {
    width: 155px!important;
}

.w200 {
    width: 200px!important;
}

.w220 {
    width: 220px!important;
}

.w228 {
    width: 228px!important;
}

.w240 {
    width: 240px!important;
}

.w252 {
    width: 252px!important;
}

.w260 {
    width: 260px!important;
}

.w300 {
    width: 300px!important;
}

.w700 {
    width: 700px!important;
}

.w713 {
    width: 713px!important;
}

.w971 {
    width: 971px!important;
}

#pageContentCentraliza table .marginLeft10 {
    margin-left: 10px;
}

.display-none {
    display: none!important;
}

.tablecontainer tr .cellelement .legend-padding-55 {
    padding-left: 48px!important;
    font-style: italic;
}

.tablecontainer tr .cellelement .legend-padding-15 {
    padding-left: 10px!important;
    font-style: italic;
}

/*Stilo para tabelas com mais de duas colunas*/
.tableMultiContainer {
    width: 700px;
    border: 1px solid #A9A9A9 !important;
    border-collapse: collapse !important;
    border-spacing: .4em !important;
}

    .tableMultiContainer td {
        border: 1px solid #A9A9A9 !important;
    }

    .tableMultiContainer thead {
        background-color: #fff !important;
    }

    .tableMultiContainer th {
        text-align: left;
        background-color: #ccc !important;
        font-weight: bold !important;
        color: #085092 !important;
        margin-left: 20px !important;
        border: 1px solid #A9A9A9 !important;
    }

    .tableMultiContainer tbody tr:nth-child(even) {
        background: #CCC !important;
    }

    .tableMultiContainer tbody tr td {
        text-align: center!important;
    }

    .tableMultiContainer tbody tr:nth-child(odd) {
        background: #FFF !important;
    }

    .tableMultiContainer tbody tr input[type='text'], .tableMultiContainer tbody tr select {
        margin-left: 0px!Important;
    }

/*Container padrão sem bordas*/
.containerSemBorda {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 700px !important;
    border: 0px !important;
}

/* Estilo padrão para botões de tela */
.divButtons {
    text-align: right !important;
}

/* Estilo padrão para tabelas novas */
#pageContentCentraliza .tablenovoestilo {
}

#pageContentCentraliza TABLE.dados {
    border-collapse: collapse !important;
    border: 1px solid #A9A9A9 !important;
}

    #pageContentCentraliza TABLE.dados TBODY TR TH {
        font-weight: bold !important;
        color: #085092 !important;
        margin-right: 5px !important;
    }

    #pageContentCentraliza TABLE.dados THEAD TR TH {
        font-weight: bold !important;
        color: #085092 !important;
        margin-right: 5px !important;
    }

#pageContentCentraliza TABLE * .tablenovoestilo {
    border-collapse: collapse !important;
    border: 1px solid #A9A9A9 !important;
}

    #pageContentCentraliza TABLE * .tablenovoestilo TR {
        border-collapse: collapse !important;
        border: 1px solid #A9A9A9 !important;
    }

        #pageContentCentraliza TABLE * .tablenovoestilo TR TH {
            border-collapse: collapse !important;
            border: 1px solid #A9A9A9 !important;
        }

        #pageContentCentraliza TABLE * .tablenovoestilo TR TD {
            border-collapse: collapse !important;
            border: 1px solid #A9A9A9 !important;
        }

            #pageContentCentraliza TABLE * .tablenovoestilo TR TD .caixaTexto {
                margin: 0px 0px 0px 0px !important;
            }
