/*
Projeto:Redecard.PN.GerencieExtrato
Descrição:Folha de estilos Solicitar Relatório Preço Único.
Autor/Empresa: Valdinei Ribeiro / Iteris Consultoria e Informática
Cliente:Rede S.A.
©Copyright:2014 Rede S.A.
Notas:
*/

.tdPeriodo {
    padding-left:20px !important;
    padding-right:0px !important;
}

.ddlPeriodo {
    width: 150px !important;
    height: 19px !important;
    margin-bottom: 3px !important;
}
#WpContent {
    width: 37% !important;   
}

.tdDropPeriodo {
    padding-left: 0px !important;
    width: 160px !important;
}

.tdData {
    width: 270px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    white-space:nowrap;
} 

.dataInicial {
    float: none !important;
    margin-top: 0px !important;
    margin-bottom: 7px !important;
    height: 11px !important;
}
    
.dataFinal {
    float: none !important;
    margin-top: 0px !important;
    margin-bottom: 7px !important;
    height: 11px !important;
}

.buscar {
    margin-bottom: 3px !important;   
}

.spanData {
    padding-left: 5px !important;
    line-height: 10px !important;
}

.tdBuscar {
    padding-bottom: 10px !important;
}    

img.ui-datepicker-trigger {
    margin-bottom: -3px !important;
}