/*
Descrição: CSS exclusivo Solicitação Acesso
Autor/Empresa: Agnaldo Almeida / Iteris
Cliente: Rede
©Copyright: 2014
*/

.wBusca
{
    width: 250px;
}

#pageContentCentraliza table.tableContainer table.painel
{
    width: 850px;
}

#pageContentCentraliza table.tableContainer #QuadroAtalho
{
    width: 100px;
    float: right;
    min-height: 77px;
}

.busca-acoes > tbody > tr > td
{
    vertical-align: top;
}

#pageContentCentraliza table.tableContainer .mensagem
{
    font-size: 12px;
    line-height: 18px;
    padding-top: 5px;
}

.btn input
{
    outline: 0;
}

.justificar
{
    white-space: nowrap;
    width: 1%;
    padding: 0 5px !important;
}

#pageContentCentraliza table.tableContainer #QuadroAtalho {
min-height: 99px !important;
}