/*
Descrição: CSS exclusivo para o template de e-mail Novo Acesso - Recuperação de Senha
Autor/Empresa: Área de Canais / Rede
©Copyright: 2014
Notas: 
    - 10/11/2014: Atualização de layout - solicitação Canais
*/
body > table
{
    width: 995px;
    table-layout: fixed;
    overflow:hidden;
    word-wrap: break-word;
}
#texto {
	text-align: left;
	font-family: Arial,'Myriad Pro', Verdana;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	line-height: 20px;
	color: #333;
}

#texto0 {
	width: 950px;
	margin-left: 20px;
	margin-right: 20px;
}

#texto2 {font-size: 8pt;
         text-align: left;
	     font-family: 'Myriad Pro', Arial, Verdana;
}
.Orange {
	color: #ee7202;
}
.Orange2 {
	color: #ee7202;
}
.bold {
	font-weight: bold;
}
.bold2 {
	font-weight: bold;
	color: #ee7202;
}

#texto3 {
	text-align: left;
	font-family: Arial,'Myriad Pro', Verdana;
	font-size: 20px;
	font-style: normal;
	line-height: 20px;
	color: #ff7800;
}

.typesize {
	font-size: 14px;
}
.color {
	color: #CCC;
	font-size: 12px;
}
.redetext {
	font-weight: bold;
}
.bullet1 {
	color: #ff7800;
}
.colororange {
	color: #ff7800;
	font-weight: bold;
}
