*
{
    padding: 0px;
    margin: 0px;
    font-family: Calibri;
    font-size: 9pt;
}

table.table
{
    width: 100%;
}

table.table thead th
{
    background-color: Gray;
    color: #FFF;
}

table.table thead tr th
{
    text-align: left;
    padding: 2px;
}

table.table tbody tr.altr
{
    background-color: Gainsboro;
}

table.table tbody tr td
{
    vertical-align: top;
    padding: 2px;
}

div.relation
{
    padding-left: 25px;
}