

/** Tool Tip **/
.tooltip
{
    /*position: relative;*/
    position: absolute;
    left: 500px;
    bottom: 200px;
    border-style: solid;
    border-collapse: collapse;
    border-width: 1px;
    border-color: #808080;
    padding: 10px !important;
    width: 120px;
    min-height: 100px;
    min-width: 120px;
}

table.tooltip thead tr
{
    background-color: #183c8e;
}

table.tooltip thead tr td.tituloTooltip
{
    background-color: #183c8e;
    font-weight: bold;
    color: #000;
    padding: 5px;
    vertical-align: middle;
    text-align: left !important;
    border-bottom: 0;
}

.mensagemTooltip
{
    background-color: #FFFFFF;
    font-family: Arial;
    font-size: 12px !important;
    color: #404040;
    padding: 10px !important;
}

.closeModal
{
    padding: 5px;
    vertical-align: middle;
    text-align: right;
    width: 5%;
    height: 15px;
    top: 4px;
    right: 4px;
    cursor: pointer;
}

/** fim toolTip **/