/*
Projeto:Redecard.PN.OutrosServicos
Descrição:Folha de estilos Tuquia Preço Único.
Autor/Empresa: Valdinei Ribeiro / Iteris Consultoria e Informática
Cliente:Rede S.A.
©Copyright:2014 Rede S.A.
Notas: [19/01/2015] Inclusão de estilo para mensagem "sem apuração realizada"
*/

.nowrap {
    white-space: nowrap;
}

.display-none {
    display: none;
}

.tabelaDados tr td {
    text-align:left !important;   
    padding-left: 5px !important;     
}

.tabelaDados tr th {
    text-align:left !important;   
    margin-left: 5px !important;
}

.tabelaDados tr .first {
    border-right:none !important;
}

.tabelaDados tr td.last {
    text-align:right !important;   
    padding-right:5px !important;
}

.tabelaDados tr th.last {
    text-align:right !important;   
    padding-right:5px !important;
}

#pageContentCentraliza .tabelaDados {
    width:80% !important;
    border-left:none !important;
    border-right:none !important;
    border-bottom:none !important;
    margin-bottom:10px !important;
    margin-top:0px !important;
}

.tdPeriodo  {
    padding-top: 10px !important;
    padding-bottom: 2px !important;
}

#pageContentCentraliza .tabelaDados .tdQtdTerminais {
    width:105px !important;
}

#pageContentCentraliza .destaqueBordasHorizontais {
    border-top:2px solid Black !important;
    border-bottom:2px solid Black !important;
}

#pageContentCentraliza .ddlMesConsultaPrecoUnico {
    margin-left: 0px !important;
    margin-top: 10px !important;
}

.no-border-spacing {
    border-spacing: 0;
}

#pageContentCentraliza table .pnl-sem-apuracao {
    margin-top: 14px;   
}