/*
© Copyright 2017 Rede S.A.
Autor : Victor Alencar
Empresa : Iteris Consultoria e Software
Notas: 
*/

.navegadorPaginacao{
    margin: auto;
    font-size: 16px;
    font-family: 'opensans-regular', sans-serif;
    text-align: center;
    vertical-align: middle;
}

.navegadorPaginacao a {
    color: #4f4139 !important;
    text-decoration: none;
    margin: 0 5px;
    display: inline-block;
    text-align: center;
}

.navegadorPaginacao td.linkSelecionado a {
    font-family: 'opensans-semibold', sans-serif;
    text-decoration: underline !important;
}

.paginacao-navegacao-hidden {
    display: none !important;
}